{%extends "PasswordsGenerator/it/base_layout_it.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Si prega di inserire o trascinare in un file di testo qui."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> chiaro</button>
    <button type="button" class="btn btn-secondary" onclick="example()">Esempi</button>
    <button type="button" id="submit_button" class="btn btn-primary">Codifica Base64</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copia il risultato</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Il risultato verrà mostrato qui."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>su{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-base64-encode.png" alt="comic base64 encode">
    </div>
    <header><h2>La codifica Base64 può crittografare i miei dati?</h2><div class="h2-highlight"></div></header>
    <p> Impossibile. Base64 può solo modificare l'aspetto della stringa, non è richiesta alcuna password per decodificare la stringa Base64. </p>
    <header><h2>Altri collegamenti a Base64:</h2><div class="h2-highlight"></div></header>
    <p> RFC 3548: <a rel="nofollow" href="https://tools.ietf.org/html/rfc3548.html" alt="Base64" target="_blank">https://tools.ietf.org/html/rfc3548.html</a></p>
    <p> Base64 in Python: <a rel="nofollow" href="https://docs.python.org/2/library/base64.html" alt="Base64" target="_blank">https://docs.python.org/2/library/base64.html</a></p>
    <p> Base64 in Java: <a rel="nofollow" href="https://docs.oracle.com/javase/8/docs/api/java/util/Base64.html" alt="Base64"
                                         target="_blank">https://docs.oracle.com/javase/8/docs/api/java/util/Base64.html</a>
    </p>
    <header><h2>Stringhe di codifica Base64 in Python (con pacchetto base64):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import base64

def base64_encode(str):
    return base64.b64encode(str.encode())
    </pre>
    <header><h2>Base64 con stringhe codificate Java (con pacchetto MessageDigest):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.util.Base64;

public String encode(String str)  {
    byte[] encodedBytes = Base64.getEncode().encode(str.getBytes());
    String text = new String(encodedBytes);
    return text;
}
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        try {
            var words = CryptoJS.enc.Utf8.parse(input_str);
            var base64 = CryptoJS.enc.Base64.stringify(words);
            return base64;
        }catch(err) {
            code2_error_alert();
            return err.message;
        }
    }
</script>
{%endblock%}