{%extends "PasswordsGenerator/it/base_layout_it.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Lunghezza della password</span>
        </div>
        <select class="form-control custom-select" name="PasswordLength" id="PasswordLength">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="25" selected>25</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Numero di password</span>
        </div>
        <select class="form-control custom-select" name="Quantity" id="Quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected>10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Il tipo di caratteri che contiene la password</span>
        </div>
        <select class="form-control custom-select" name="IncludeCharacters" id="IncludeCharacters">
            <option value="nlus" selected>Contiene numeri, lettere minuscole, lettere maiuscole, simboli speciali</option>
            <option value="nlu">Contiene numeri, lettere minuscole, lettere maiuscole</option>
            <option value="nls">Contiene numeri, lettere minuscole, simboli speciali</option>
            <option value="nl">Contiene numeri, lettere minuscole</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Indica se includere caratteri ripetuti</span>
        </div>
        <select class="form-control custom-select" name="ExcludeRepeatedCharacters" id="ExcludeRepeatedCharacters">
            <option value="Yes" selected>Non contiene caratteri ripetuti</option>
            <option value="No">Contiene caratteri ripetuti</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Se contiene caratteri simili</span>
        </div>
        <select class="form-control custom-select" name="ExcludeSimilarCharacters" id="ExcludeSimilarCharacters">
            <option value="Yes" selected>Non contiene personaggi simili</option>
            <option value="No">Contiene personaggi simili</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="reset_option()"><i class="far fa-trash-alt"></i> Opzione di reset</button>
    <button type="button" id="generatePassword" class="btn btn-primary" onclick="generate_password()">Genera password</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copia il risultato</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Il risultato verrà mostrato qui."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>su{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} :</p>
    <table class="descriptionTable">
        <tr>
            <th> Nome del tipo di carattere </th>
            <th> Contenuto del tipo di carattere </th>
        </tr>
        <tr>
            <td>Numbers</td>
            <td>[0 ~ 9]</td>
        </tr>
        <tr>
            <td>Lowercase letter</td>
            <td>[a ~ z]</td>
        </tr>
        <tr>
            <td>Uppercase letter</td>
            <td>[A ~ Z]</td>
        </tr>
        <tr>
            <td>Special characters</td>
            <td>['@', '#', '$', '%']</td>
        </tr>
        <tr>
            <td>Similar characters</td>
            <td>['b', '6'],['g', 'q', '9'],['L', 'I', '1'],['O', 'o', '0'],['S', '5'],['Z', '2']</td>
        </tr>
    </table>
    <br/>
    <p> Se si sceglie di non contenere caratteri simili, la lettera <code>'I'</code> non verrà visualizzata nella password generata, poiché la lettera <code>'I'</code> <code>'1'</code> è facilmente confusa con il numero <code>'1'</code> . </p>
    <p> Se si sceglie di non includere i caratteri ripetuti, ciascun carattere non apparirà la seconda volta nel risultato. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-password-generator.png" alt="comic password generator">
    </div>
    <header><h2>6 suggerimenti sulla sicurezza della password:</h2><div class="h2-highlight"></div></header>
    <ul>
        <li><p> 1. Per motivi di sicurezza, tutto il traffico Internet su questo sito Web viene eseguito con il protocollo <code>https</code> . </p></li>
        <li>
        <li><p> 2. Non utilizzare la stessa password su diversi siti Web. Se un sito Web viene compromesso, verrà rivelata l'identità di altri siti Web. </p></li>
        <li><p> 3. Non utilizzare il nome o il compleanno dell'animale domestico come parte della password, in quanto è facilmente accessibile dai social network. </p></li>
        <li><p> 4. Non utilizzare parole del dizionario come parte della password, come <code>'guess'</code> o <code>'newyork'</code> , perché sono facili da provare e indovinare. </p></li>
        <li><p> 5. Non utilizzare password semplici come <code>'123456'</code> o <code>'abcdefg'</code> perché sono facili da indovinare. </p></li>
        <li><p> 6. Non inserire le informazioni sensibili, come il numero di carta di credito, sul sito Web <code>http</code> . </p></li>
    </ul>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function generate_password() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");

        var PasswordLength = $('#PasswordLength').val();
        var Quantity = $('#Quantity').val();
        var IncludeCharacters = $('#IncludeCharacters').val();
        var ExcludeRepeatedCharacters = $('#ExcludeRepeatedCharacters').val();
        var ExcludeSimilarCharacters = $('#ExcludeSimilarCharacters').val();

        var need_include_int = false;
        var need_include_lower = false;
        var need_include_upper = false;
        var need_include_special = false;
        var need_exclude_similar = false;
        var need_exclude_repeat = false;
        if (IncludeCharacters.includes("n")) {
            need_include_int = true;
        }
        if (IncludeCharacters.includes("l")) {
            need_include_lower = true;
        }
        if (IncludeCharacters.includes("u")) {
            need_include_upper = true;
        }
        if (IncludeCharacters.includes("s")) {
            need_include_special = true;
        }
        if (ExcludeRepeatedCharacters.includes("Yes")) {
            need_exclude_repeat = true;
        }
        if (ExcludeSimilarCharacters.includes("Yes")) {
            need_exclude_similar = true;
        }

        var choice_int_array = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
            var choice_lower_case_array = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'Z'];
            var choice_upper_case_array = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
            var choice_special_array = ['@', '#', '$', '%'];
            var choice_similar_array = ['b', '6', 'g', 'q', '9', 'L', 'I', '1', 'O', 'o', '0', 'S', '5', 'Z', '2'];
            var All_characters  = choice_int_array.concat(choice_lower_case_array).concat(choice_upper_case_array).concat(choice_special_array);

            if(!need_include_int){
                All_characters = All_characters.filter(x => !choice_int_array.includes(x));
            }
            if(!need_include_lower){
                All_characters = All_characters.filter(x => !choice_lower_case_array.includes(x));
            }
            if(!need_include_upper){
                All_characters = All_characters.filter(x => !choice_upper_case_array.includes(x));
            }
            if(!need_include_special){
                All_characters = All_characters.filter(x => !choice_special_array.includes(x));
            }

            if(need_exclude_similar){
                All_characters = All_characters.filter(x => !choice_similar_array.includes(x));
            }

        var passwords = [];
        for (var j = 0; j < 5000; j++){
            var all_characters_temp = All_characters;
            var password_str = "";
            for (var i = 0; i < PasswordLength; i++) {
                var temp_char_1 = all_characters_temp[Math.floor(Math.random() * all_characters_temp.length)];
                password_str += temp_char_1;
                if(need_exclude_repeat){
                    var temp_set_1 = new Set(all_characters_temp);
                    temp_set_1.delete(temp_char_1);
                    all_characters_temp = Array.from(temp_set_1);
                }
            }

            var flag_include_int = false;
            var flag_include_lower = false;
            var flag_include_upper = false;
            var flag_include_special = false;
            for (var charIndex in password_str) {
                var temp_char = password_str[charIndex];
                if (choice_int_array.includes(temp_char)) {
                    flag_include_int = true;
                }
                if (choice_lower_case_array.includes(temp_char)) {
                    flag_include_lower = true;
                }
                if (choice_upper_case_array.includes(temp_char)) {
                    flag_include_upper = true;
                }
                if (choice_special_array.includes(temp_char)) {
                    flag_include_special = true;
                }
            }

            if (need_include_int && !flag_include_int) {
                continue;
            }
            if (need_include_lower && !flag_include_lower) {
                continue;
            }
            if (need_include_upper && !flag_include_upper) {
                continue;
            }
            if (need_include_special && !flag_include_special) {
                continue;
            }

            passwords.push(password_str);
            if(passwords.length >= Quantity){
                break;
            }
        }

        editor2.setValue(passwords.join("\n"));
        finished_spin_hidden();
    }

    window.addEventListener("load", function () {
        generate_password();
    });
</script>
{%endblock%}