{%extends "PasswordsGenerator/ar/base_layout_ar.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="الرجاء إدخال أو سحب ملف نصي هنا."></textarea>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">UpperCase</span>
        </div>
        <select class="form-control custom-select" name="UpperCase" id="UpperCase" oninput="post_ajax()">
            <option value="u" selected>Hash Result in UpperCase</option>
            <option value="l">Hash Result in LowerCase</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> واضح</button>
    <button type="button" id="submit_button" class="btn btn-primary">تشفير MD5</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> نسخ النتيجة</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="سوف تظهر النتيجة هنا."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>في{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-md5.png" alt="comic md5">
    </div>
    <header><h2>لماذا تحتاج MD5؟</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> إن خوارزمية هاش مثل MD5 هي خوارزمية أحادية الاتجاه ، مما يعني أنها غير قابلة للإعادة ، حيث تجعل هذه الخاصية MD5 مفيدة جدًا في عمل "بصمات الأصابع" على الملف ، ويمكن أن تثبت قيمة الملف MD5 أن الملف لم يتم تعديله. تستخدم لحماية كلمة المرور. "الملح" المخزن في قاعدة بيانات موقع الويب والقيمة النهائية لكلمة المرور الأصلية لا يمكن التراجع عنها ، وهذا يعني أنه حتى في حالة اختراق قاعدة البيانات ، لن يتمكن الهاكر من استعادة كلمة المرور الخاصة بك. </p>
    <header><h2>هل MD5 آمن ، هل يجب علي الاستمرار في استخدامه؟</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> النوع الأول من الهجوم يسمى <code>(rainbow tables)</code> ، وهي قاعدة بيانات كبيرة جدًا ، بما في ذلك سلسلة قصيرة بقيمة MD5 المطابقة. على سبيل المثال ، عندما تنظر إلى جدول قوس قزح <code>"FC5E038D38A57032085441E7FE7010B0"</code> ، يمكنك العثور على أصله السلسلة هي "helloworld". إذا كانت السلسلة الأصلية قصيرة ، يمكن لجدول قوس قزح فك تشفير MD5 بنجاح. </p>
    <p style=";text-align:right;direction:rtl"> يستند الهجوم الثاني على الخوارزمية الأساسية لـ MD5 ، وفي السنوات الأخيرة ، تحولت المزيد والمزيد من المواقع الإلكترونية إلى SHA256 أو SHA512 ، ومع ذلك ، لا يزال العديد من المواقع تستخدم MD5 ، والذي ترك خطرًا كبيرًا خفيًا على أمان الإنترنت. </p>
    <header><h2>المزيد من الروابط إلى MD5:</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> RFC 1321: <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1321.txt" alt="MD5" target="_blank">https://www.ietf.org/rfc/rfc1321.txt</a></p>
    <p style=";text-align:right;direction:rtl"> MD5 في بيثون (هشليب): <a rel="nofollow" href="https://docs.python.org/3/library/hashlib.html" alt="MD5" target="_blank">https://docs.python.org/3/library/hashlib.html</a></p>
    <p style=";text-align:right;direction:rtl"> MD5 في جافا: <a rel="nofollow" href="https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html" alt="MD5"
                                      target="_blank">https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html</a></p>
    <p style=";text-align:right;direction:rtl"> MD5 في PHP: <a rel="nofollow" href="http://php.net/manual/en/function.md5.php" alt="MD5" target="_blank">http://php.net/manual/en/function.md5.php</a></p>
    <header><h2>حساب تجزئة MD5 لسلسلة في Python (مع حزمة hashlib):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import hashlib

def md5_generator(str):
    m = hashlib.md5()
    m.update(str.encode())
    return m.hexdigest()
    </pre>
    <header><h2>حساب تجزئة MD5 لسلسلة في Java (مع حزمة MessageDigest):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.math.BigInteger;
import java.security.MessageDigest;

public String generate(String str){
    MessageDigest md = MessageDigest.getInstance("MD5");
    md.update(str.getBytes());
    byte[] digest = md.digest();
    String result = new BigInteger(1, digest).toString(16).toUpperCase();
    return result;
}
    </pre>
    <header><h2>حساب تجزئة MD5 لملف في Linux (مع OpenSSL):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# openssl dgst -md5 access.log
MD5(access.log)= 742f23518e684f3562ffc9f983f190ba
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        return CryptoJS.MD5(input_str).toString();
    }
</script>
{%endblock%}