{%extends "PasswordsGenerator/fr/base_layout_fr.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Veuillez entrer ou faire glisser un fichier texte ici."></textarea>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">UpperCase</span>
        </div>
        <select class="form-control custom-select" name="UpperCase" id="UpperCase" oninput="post_ajax()">
            <option value="u" selected>Hash Result in UpperCase</option>
            <option value="l">Hash Result in LowerCase</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> Vide</button>
    <button type="button" id="submit_button" class="btn btn-primary">Cryptage MD5</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copier le résultat</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Le résultat sera affiché ici."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>À propos de{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-md5.png" alt="comic md5">
    </div>
    <header><h2>Pourquoi avez-vous besoin de MD5?</h2><div class="h2-highlight"></div></header>
    <p> Un algorithme de hachage tel que MD5 est un algorithme unidirectionnel, ce qui signifie qu'il est irréversible. Ce caractère rend MD5 très utile pour créer des "empreintes digitales" sur un fichier. La valeur MD5 du fichier peut prouver que le fichier n'a pas été modifié. Utilisé pour la protection par mot de passe. Le "sel" stocké dans la base de données du site Web et la valeur finale de votre mot de passe d'origine sont irréversibles, ce qui signifie que même si la base de données est compromise, le pirate ne pourra pas récupérer votre mot de passe. </p>
    <header><h2>Le MD5 est-il sûr, devrais-je continuer à l'utiliser?</h2><div class="h2-highlight"></div></header>
    <p> Le premier type d'attaque s'appelle <code>(rainbow tables)</code> . Il s'agit d'une très grande base de données, comprenant une chaîne courte avec la valeur MD5 correspondante. Par exemple, lorsque vous regardez la table Rainbow <code>"FC5E038D38A57032085441E7FE7010B0"</code> , vous pouvez trouver sa La chaîne est "helloworld". Si la chaîne d'origine est courte, la table arc-en-ciel peut déchiffrer MD5 avec succès. </p>
    <p> La deuxième attaque est basée sur l'algorithme de base du MD5: de plus en plus de sites Web sont passés au SHA256 ou au SHA512, mais de nombreux sites utilisent encore le MD5, ce qui représente un énorme danger caché pour la sécurité Internet. </p>
    <header><h2>Plus de liens vers MD5:</h2><div class="h2-highlight"></div></header>
    <p> RFC 1321: <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1321.txt" alt="MD5" target="_blank">https://www.ietf.org/rfc/rfc1321.txt</a></p>
    <p> MD5 en Python (hashlib): <a rel="nofollow" href="https://docs.python.org/3/library/hashlib.html" alt="MD5" target="_blank">https://docs.python.org/3/library/hashlib.html</a></p>
    <p> MD5 en Java: <a rel="nofollow" href="https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html" alt="MD5"
                                      target="_blank">https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html</a></p>
    <p> MD5 en PHP: <a rel="nofollow" href="http://php.net/manual/en/function.md5.php" alt="MD5" target="_blank">http://php.net/manual/en/function.md5.php</a></p>
    <header><h2>Calcule le hash MD5 d'une chaîne en Python (avec le paquet hashlib):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import hashlib

def md5_generator(str):
    m = hashlib.md5()
    m.update(str.encode())
    return m.hexdigest()
    </pre>
    <header><h2>Calculer le hachage MD5 d'une chaîne en Java (avec le package MessageDigest):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.math.BigInteger;
import java.security.MessageDigest;

public String generate(String str){
    MessageDigest md = MessageDigest.getInstance("MD5");
    md.update(str.getBytes());
    byte[] digest = md.digest();
    String result = new BigInteger(1, digest).toString(16).toUpperCase();
    return result;
}
    </pre>
    <header><h2>Calculer le hash MD5 d'un fichier sous Linux (avec OpenSSL):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# openssl dgst -md5 access.log
MD5(access.log)= 742f23518e684f3562ffc9f983f190ba
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        return CryptoJS.MD5(input_str).toString();
    }
</script>
{%endblock%}