{%extends "PasswordsGenerator/en/base_layout.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Password Length</span>
        </div>
        <select class="form-control custom-select" name="PasswordLength" id="PasswordLength">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="25" selected>25</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Number of Passwords</span>
        </div>
        <select class="form-control custom-select" name="Quantity" id="Quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected>10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Include Characters Set</span>
        </div>
        <select class="form-control custom-select" name="IncludeCharacters" id="IncludeCharacters">
            <option value="nlus" selected>Include numbers, Lowercase letters, Upper letters, Special Characters</option>
            <option value="nlu">Include numbers, Lowercase letters, Upper letters</option>
            <option value="nls">Include numbers, Lowercase letters, Special Characters</option>
            <option value="nl">Include numbers, Lowercase letters</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Exclude Repeated Characters</span>
        </div>
        <select class="form-control custom-select" name="ExcludeRepeatedCharacters" id="ExcludeRepeatedCharacters">
            <option value="Yes" selected>Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Exclude Similar Characters</span>
        </div>
        <select class="form-control custom-select" name="ExcludeSimilarCharacters" id="ExcludeSimilarCharacters">
            <option value="Yes" selected>Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="reset_option()"><i class="far fa-trash-alt"></i> Reset</button>
    <button type="button" id="generatePassword" class="btn btn-primary" onclick="generate_password()">Generate Password</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copy Result</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Result will show up here."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>About {{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} To clear ambiguity, All character groups are shown as below:</p>
    <table class="descriptionTable">
        <tr>
            <th>Character Type</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Numbers</td>
            <td>[0 ~ 9]</td>
        </tr>
        <tr>
            <td>Lowercase letter</td>
            <td>[a ~ z]</td>
        </tr>
        <tr>
            <td>Uppercase letter</td>
            <td>[A ~ Z]</td>
        </tr>
        <tr>
            <td>Special characters</td>
            <td>['@', '#', '$', '%']</td>
        </tr>
        <tr>
            <td>Similar characters</td>
            <td>['b', '6'],['g', 'q', '9'],['L', 'I', '1'],['O', 'o', '0'],['S', '5'],['Z', '2']</td>
        </tr>
    </table>
    <br/>
    <p>Exclude Similar Characters means character such as letter <code>'I'</code> will not be included in generated password, since it can be easily confused with number <code>'1'</code>.</p>
    <p>Exclude Repeated Characters means each character can only appear once in generated password.</p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-password-generator.png" alt="comic password generator">
    </div>
    <header><h2>Top 6 Suggestions for your password security:</h2><div class="h2-highlight"></div></header>
    <ul>
        <li><p>1. All Internet traffic of this website is under <code>https</code> to protect your privacy.</p></li>
        <li>
        <li><p>2. Don't use same password across different websites. If one website is compromised, other website's
            identity would be leaked too.</p></li>
        <li><p>3. Don't use your pet's name or your birthday as part of the password, since these informations can
            easily get from social network.</p></li>
        <li><p>4. Don't use any dictionary words as part of your password such as <code>'guess'</code> or <code>'newyork'</code>,
            since it can be easily be guessed.</p></li>
        <li><p>5. Don't use obvious password such as <code>'123456'</code> or <code>'abcdefg'</code>, since it can
            be easily guessed.</p></li>
        <li><p>6. Don't enter your sensitive information such as credit card number in <code>http</code> website,
            because transmit data across the Internet is not encrypted by <code>http</code>.</p></li>
    </ul>
    <header><h2>Does Password Generator Online Tool log my data?</h2><div class="h2-highlight"></div></header>
    <p>Absolutely <b>NOT</b>, this Password Generator doing all the formatting work on the client side, all logic are implemented by Javascript. There are 2 major advantages: 1.Your data never transmitted in the Open Internet, so you know it's secure; 2.It's much faster than doing all the work in the server side, because there is no Internet Delay.</p>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function generate_password() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");

        var PasswordLength = $('#PasswordLength').val();
        var Quantity = $('#Quantity').val();
        var IncludeCharacters = $('#IncludeCharacters').val();
        var ExcludeRepeatedCharacters = $('#ExcludeRepeatedCharacters').val();
        var ExcludeSimilarCharacters = $('#ExcludeSimilarCharacters').val();

        var need_include_int = false;
        var need_include_lower = false;
        var need_include_upper = false;
        var need_include_special = false;
        var need_exclude_similar = false;
        var need_exclude_repeat = false;
        if (IncludeCharacters.includes("n")) {
            need_include_int = true;
        }
        if (IncludeCharacters.includes("l")) {
            need_include_lower = true;
        }
        if (IncludeCharacters.includes("u")) {
            need_include_upper = true;
        }
        if (IncludeCharacters.includes("s")) {
            need_include_special = true;
        }
        if (ExcludeRepeatedCharacters.includes("Yes")) {
            need_exclude_repeat = true;
        }
        if (ExcludeSimilarCharacters.includes("Yes")) {
            need_exclude_similar = true;
        }

        var choice_int_array = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
            var choice_lower_case_array = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'Z'];
            var choice_upper_case_array = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
            var choice_special_array = ['@', '#', '$', '%'];
            var choice_similar_array = ['b', '6', 'g', 'q', '9', 'L', 'I', '1', 'O', 'o', '0', 'S', '5', 'Z', '2'];
            var All_characters  = choice_int_array.concat(choice_lower_case_array).concat(choice_upper_case_array).concat(choice_special_array);

            if(!need_include_int){
                All_characters = All_characters.filter(x => !choice_int_array.includes(x));
            }
            if(!need_include_lower){
                All_characters = All_characters.filter(x => !choice_lower_case_array.includes(x));
            }
            if(!need_include_upper){
                All_characters = All_characters.filter(x => !choice_upper_case_array.includes(x));
            }
            if(!need_include_special){
                All_characters = All_characters.filter(x => !choice_special_array.includes(x));
            }

            if(need_exclude_similar){
                All_characters = All_characters.filter(x => !choice_similar_array.includes(x));
            }

        var passwords = [];
        for (var j = 0; j < 5000; j++){
            var all_characters_temp = All_characters;
            var password_str = "";
            for (var i = 0; i < PasswordLength; i++) {
                var temp_char_1 = all_characters_temp[Math.floor(Math.random() * all_characters_temp.length)];
                password_str += temp_char_1;
                if(need_exclude_repeat){
                    var temp_set_1 = new Set(all_characters_temp);
                    temp_set_1.delete(temp_char_1);
                    all_characters_temp = Array.from(temp_set_1);
                }
            }

            var flag_include_int = false;
            var flag_include_lower = false;
            var flag_include_upper = false;
            var flag_include_special = false;
            for (var charIndex in password_str) {
                var temp_char = password_str[charIndex];
                if (choice_int_array.includes(temp_char)) {
                    flag_include_int = true;
                }
                if (choice_lower_case_array.includes(temp_char)) {
                    flag_include_lower = true;
                }
                if (choice_upper_case_array.includes(temp_char)) {
                    flag_include_upper = true;
                }
                if (choice_special_array.includes(temp_char)) {
                    flag_include_special = true;
                }
            }

            if (need_include_int && !flag_include_int) {
                continue;
            }
            if (need_include_lower && !flag_include_lower) {
                continue;
            }
            if (need_include_upper && !flag_include_upper) {
                continue;
            }
            if (need_include_special && !flag_include_special) {
                continue;
            }

            passwords.push(password_str);
            if(passwords.length >= Quantity){
                break;
            }
        }

        editor2.setValue(passwords.join("\n"));
        finished_spin_hidden();
    }

    window.addEventListener("load", function () {
        generate_password();
    });
</script>
{%endblock%}