{%extends "PasswordsGenerator/en/base_layout.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Paste input or drag file in here."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> Clear</button>
    <button type="button" class="btn btn-secondary" onclick="example()">Example</button>
    <button type="button" id="submit_button" class="btn btn-primary">Base64 Encode</button>
    <button type="button" id="downloadastxt" class="btn btn-secondary" onclick="download_editor2_as_txt('base64_encode_result.txt')"><i class="fas fa-file-download"></i> Save Result</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copy Result</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Result will show up here."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>About {{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p>Paste your Input String or drag text file in the first textbox, then press "Base64 Encode" button, and the result will be displayed in the second textbox.</p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-base64-encode.png" alt="comic base64 encode">
    </div>
    <header><h2>Can Base64 Encode encrypt my data?</h2><div class="h2-highlight"></div></header>
    <p>No, you can't. Base64 can change the string's appearance, but it doesn't need a password to decode the string. Base64 uses the characters <code>A-Z</code>, <code>a-z</code>, <code>0-9</code>, plus <code>'='</code> in the end to encode all characters within string.</p>
    <header><h2>Is Wordpress Rest API Authentication method (based on base64) really secure?</h2><div class="h2-highlight"></div></header>
    <p>The WordPress REST API is enabled by default on all WordPress sites. APIs can be accessed by programs outside the site itself (such as mobile apps and RSS clients), the REST API endpoint is <code>/wp-json/wp/v2/</code>.</p>
    <p>WordPress REST API can be authenticated by adding header to the http request. The auth token is based on base64:</p>
    <pre class="prettyprint linenums">auth_token = base64.standard_b64encode(user + ':' + password)
headers = {'Authorization': 'Basic ' + auth_token}</pre>
    <p>But wait a minute, Base64 is not an encryption method, anyone can decode a Base64 string. Does that mean the admin password is transmitted on the open Internet without encryption? so anyone can hack into the WordPress REST API? It's scary just thinking about it.</p>
    <p>Luckily (maybe not), most website nowadays support <code>https</code>, which encrypt all the http request and response. And for those site does not support <code>https</code>, Base64 authentication method may never been used, it's totally up to the website owner.</p>
    <p>Generally speaking, It's a bad practice to use Base64 as the authentication method, so stay away from it as far as possible!!!</p>
    <header><h2>Does Base64 Encode Online Tool log my data?</h2><div class="h2-highlight"></div></header>
    <p>Absolutely <b>NOT</b>, this Base64 Encode doing all the formatting work on the client side, all logic are implemented by Javascript. There are 2 major advantages: 1.Your data never transmitted in the Open Internet, so you know it's secure; 2.It's much faster than doing all the work in the server side, because there is no Internet Delay.</p>
    <header><h2>More information about Base64:</h2><div class="h2-highlight"></div></header>
    <p>RFC 3548: <a rel="nofollow" href="https://tools.ietf.org/html/rfc3548.html" alt="Base64" target="_blank">https://tools.ietf.org/html/rfc3548.html</a></p>
    <p>Python Implementation of Base64: <a rel="nofollow" href="https://docs.python.org/2/library/base64.html" alt="Base64" target="_blank">https://docs.python.org/2/library/base64.html</a></p>
    <p>Java Implementation of Base64: <a rel="nofollow" href="https://docs.oracle.com/javase/8/docs/api/java/util/Base64.html" alt="Base64"
                                         target="_blank">https://docs.oracle.com/javase/8/docs/api/java/util/Base64.html</a>
    </p>
    <header><h2>Base64 Encode with Python (with package base64):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import base64

def base64_encode(str):
    return base64.b64encode(str.encode())
    </pre>
    <header><h2>Base64 Encode with Java (with package MessageDigest):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.util.Base64;

public String encode(String str)  {
    byte[] encodedBytes = Base64.getEncode().encode(str.getBytes());
    String text = new String(encodedBytes);
    return text;
}
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        try {
            var words = CryptoJS.enc.Utf8.parse(input_str);
            var base64 = CryptoJS.enc.Base64.stringify(words);
            return base64;
        }catch(err) {
            code2_error_alert();
            return err.message;
        }
    }
</script>
{%endblock%}