{%extends "Blog/cn/blog_layout.html" %}
{%block head%}
<title>我的博客编程学习笔记 - Coding.Tools</title>
<meta name="description" content="些博客记录了我的编程学习笔记, 不定期更新, 欢迎大家围观.">
<meta name="keywords" content="编程学习笔记, programming blog">
<link rel="canonical" href="https://coding.tools/cn/blog"/>
<meta property="og:title" content="我的编程学习笔记学习笔记 - Coding.Tools"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://coding.tools/cn/blog"/>
<meta property="og:image" content="https://coding.tools/image/logo.png"/>
<meta property="og:description" content="这些博客记录了我的编程学习笔记, 不定期更新, 欢迎大家围观."/>
{%endblock%}
{%block content%}
<div id="headline">
    <br/>
    <h1>编程学习笔记</h1>
</div>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>各位网友:</h2><div class="h2-highlight"></div></header>
    <p>这些博客记录了我的编程学习笔记, 不定期更新, 欢迎大家围观.</p>
    <hr>
    {%for blog in model.blogList%}
    <header><h2><a class="blog_link" href="{{blog.url}}" target="_blank">{{blog.title}}</a></h2><div class="h2-highlight"></div></header>
    <p>{{blog.description}}</p>
    <p class="date_link">Update Date:
        <time itemprop="dateModified" datetime="{{blog.datetime}}">{{blog.date}}</time>
    </p>
    <hr>
    {%endfor%}
</div>
{%endblock%}