{%extends "MyIpAddress/pt/base_layout_pt.html"%}
{%block content%}
<div id="headline">
    <h1>Meu endereço IP: <span id="clientIP"></span></h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Localização do endereço IP da consulta</span>
        </div>
        <input name="queryIp" id="queryIp" type="text" class="form-control" placeholder="" value="" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="init_query()"><i class="far fa-trash-alt"></i> Reset</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Consulta</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard_ip()"><i class="far fa-copy"></i> Copiar resultado</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="codewrapper size18codewrapper">
            <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Resultado da consulta de atribuição de endereço IP"></textarea>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div name="map" id="map" class="col-xs-6" style="width: 100%;height: 300px;background-color: #f2f2f2"></div>
    </div>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Sobre{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-my-ip-addresss.png" alt="comic my ip address">
    </div>
    <header><h2>O que é um endereço IP?</h2><div class="h2-highlight"></div></header>
    <p> Assim como o endereço de correspondência real que você usa para receber pacotes da Amazon, o endereço IP (endereço IP) é o local da sua tag na Internet, para que outros computadores (servidores da Web) saibam para onde enviar dados. </p>
    <p> Há dois endereço IP: Protocolo Internet versão 4 (IPv4) e versão Internet Protocol uso 6 (IPv6) IPv6. <code>128</code> bits para representar o endereço, embora o IPv6 não é amplamente utilizado nos últimos 10 anos .IPv4 usar <code>32</code> bits para representar o endereço ( 0.0.0.0 ~ 255.255.255.255) Isto significa que o IPv4 tem um total de <code>2^32 = 4,294,967,296</code> endereços independentes (4 bilhões não é um grande número !!!). </p>
    <p> O dispositivo que você está usando não tem um endereço público IPv4 exclusivo, mas usa um endereço IPv4 privado, seu roteador tem um endereço IP público dedicado e transmite todo o tráfego da Internet para o mundo externo como uma estação de retransmissão. Conversão de endereços de rede A NAT pode não apenas reduzir o consumo de endereços IPv4 públicos, mas também fornecer segurança adicional. </p>
    <header><h2>Por que preciso saber o endereço IP?</h2><div class="h2-highlight"></div></header>
    <p> Privacidade Seu endereço IP pode revelar sua verdadeira informação geográfica (qual país e qual cidade) Pessoas que usam VPN ou proxy para esconder sua localização na Internet A diferença entre as duas é em qual autoridade você confia. O seu IPS (Internet Service Provider) é uma grande empresa nacional que trabalha com o governo, mas, por outro lado, os provedores de VPN fornecem serviços baseados na proteção da privacidade de seus clientes, mas você não tem certeza se eles coletam seu histórico de navegação. Usuários avançados recomendam o uso do Tor, um túnel VPN para seguir outro túnel VPN, para que ninguém saiba seu endereço IP real. </p>
    <header><h2>Mais links para endereços IP:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (protocolo da Internet): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Internet_Protocol" target="_blank">https://en.wikipedia.org/wiki/Internet_Protocol</a>
    </p>
    <p> RFC 791 (protocolo da Internet): <a rel="nofollow" href="https://tools.ietf.org/html/rfc791" target="_blank">https://tools.ietf.org/html/rfc791</a>
    </p>
    <p> API de consulta de geolocalização (ip-api): <a rel="nofollow" href="http://ip-api.com/docs/" target="_blank">http://ip-api.com/docs/</a></p>
    <p> API de consulta de geolocalização (Google Maps API): <a rel="nofollow" href="https://developers.google.com/maps/documentation/geolocation/intro"
                                             target="_blank">https://developers.google.com/maps/documentation/geolocation/intro</a>
    </p>
    <header><h2>Consultar a geografia do endereço IP em Python (usando o API Coding.tools):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import requests
import json

ip_json_str = requests.post('https://coding.tools/my-ip-address', data={'queryIp': '8.8.8.8'}).text
ip_json = json.loads(ip_json_str)
print(ip_json)

print('IP address:', ip_json['ip'])
print('Country:', ip_json['country_name'])
print('Region:', ip_json['region_name'])
print('City:', ip_json['city_name'])
print('Latitude:', ip_json['latitude'])
print('Longitude:', ip_json['longitude'])
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });


    query();

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        var ip = document.getElementById("queryIp").value;
        ip = ip.trim();
        $.post("",
            $("#options").serialize(),
            function (data) {
                finished_spin_hidden();
                render_result(JSON.parse(data));
            });
    }

    function render_result(ip_info) {
        if (document.getElementById("clientIP").innerText===""){
            document.getElementById("clientIP").innerText = ip_info['ip'];
        }
        editor2.setValue('IP address: ' + ip_info['ip'] + '\nCountry: ' + ip_info['country_name'] + ' (' + ip_info['country_code'] + ')' + '\nRegion: ' + ip_info['region_name'] + '\nCity: ' + ip_info['city_name']
                    + '\nLatitude: ' + ip_info['latitude'] + '\nLongitude: ' + ip_info['longitude'] + '\nZip Code: ' + ip_info['zip_code'] + '\nTimezone: ' + ip_info['time_zone']);
        document.getElementById("queryIp").value = ip_info['ip'];
                document.getElementById('map').innerHTML = "<iframe width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border:1px solid #e1e1e1\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyDvTryAEw90t0gne_bqsnmJ9DYxrvcEg_Y&q="+ip_info['city_name']+","+ip_info['region_name']+","+ip_info['country_name']+"\"allowfullscreen></iframe>";
    }

    function copy_to_clipboard_ip() {
        var copy_button = document.getElementById("copy");
        document.getElementById("queryIp").focus();
        document.getElementById("queryIp").select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}