{%extends "MyIpAddress/pt/base_layout_pt.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Nome de domínio ou endereço IP</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="Example.com" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Vazio</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Consulta Whois</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copiar resultado</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Resultados da consulta Whois."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Sobre{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-whois.png" alt="comic whois">
    </div>
    <header><h2>O Whois precisa adicionar o prefixo www para consultar o nome do domínio?</h2><div class="h2-highlight"></div></header>
    <p> Na maioria dos casos, whois consulta um nome de domínio de segundo nível não retornará nenhum resultado. Se você não encontrar nenhum resultado, tente remover o prefixo <code>www</code> e tente novamente. </p>
    <header><h2>Por que preciso usar as consultas Whois?</h2><div class="h2-highlight"></div></header>
    <p> Você encontrou um site muito interessante e desejava entrar em contato com o proprietário do site, mas não conseguiu encontrar o número de telefone ou o endereço de e-mail do proprietário do website. Whois é a ferramenta para verificar as informações de contato do proprietário do website. </p>
    <p> A Whois Query Tool, que começou em <code>1982</code> , ajuda os órgãos responsáveis pela aplicação da lei a identificar os direitos dos proprietários de domínios. Hoje, se você pagar uma taxa extra para a GoDaddy, a GoDaddy pode ajudá-lo a ocultar suas informações de contato. Quando você consulta, o seu número de telefone e endereço de e-mail não será exibido. </p>
    <header><h2>Devo ocultar minhas informações de contato nos resultados da pesquisa Whois? ?</h2><div class="h2-highlight"></div></header>
    <p> Para sites comuns, eu aconselho as pessoas a não esconderem suas informações de contato porque elas representam a reputação do seu site, mas se a sua privacidade for muito importante para você, ou se você quiser ficar longe de possíveis spam, Vale a pena escolher. </p>
    <header><h2>Mais links para consultas Whois:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia: <a rel="nofollow" href="https://en.wikipedia.org/wiki/WHOIS" target="_blank">https://en.wikipedia.org/wiki/WHOIS</a></p>
    <p> RFC 3912 (Whois): <a rel="nofollow" href="https://tools.ietf.org/html/rfc3912" target="_blank">https://tools.ietf.org/html/rfc3912</a></p>
    <p> Consulta Whois (Ubuntu) no sistema Linux: <a rel="nofollow" href="https://manpages.debian.org/jessie/whois/whois.1.en.html" target="_blank">https://manpages.debian.org/jessie/whois/whois.1.en.html</a></p>
    <header><h2>Comando Whois no sistema Linux:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       whois - client for the whois directory service

SYNOPSIS
       whois  [  {  -h | --host } HOST ] [ { -p | --port } PORT ] [ -abBcdGHKlLmMrRx ] [ -g SOURCE:FIRST-LAST ]
       [ -i ATTR[,ATTR]... ] [ -s SOURCE[,SOURCE]... ] [ -T TYPE[,TYPE]... ] [ --verbose ]
       OBJECT

       whois -q KEYWORD

       whois -t TYPE

       whois -v TYPE

       whois --help

       whois --version</pre>
    <br>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# whois -H google.com
   Domain Name: GOOGLE.COM
   Registry Domain ID: 2138514_DOMAIN_COM-VRSN
   Registrar WHOIS Server: whois.markmonitor.com
   Registrar URL: http://www.markmonitor.com
   Updated Date: 2018-02-21T18:36:40Z
   Creation Date: 1997-09-15T04:00:00Z
   Registry Expiry Date: 2020-09-14T04:00:00Z
   ......
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}