{%extends "Blog/en/blog_layout.html" %}
{%block head%}
<title>My Blog - Coding.Tools</title>
<meta name="description" content="This blog records my study path in Computer Science. It's also a great place for anyone wants to learn with me. The topic range might vary from time to time, but mostly about programming.">
<meta name="keywords" content="dev tool, development blog, programming blog">
<link rel="canonical" href="https://coding.tools/blog"/>
<meta property="og:title" content="My Blog - Coding.Tools"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://coding.tools/blog"/>
<meta property="og:image" content="https://coding.tools/image/logo.png"/>
<meta property="og:description" content="This blog records my study path in Computer Science. It's also a great place for anyone wants to learn with me. The topic range might vary from time to time, but mostly about programming."/>
{%endblock%}
{%block content%}
<div id="headline">
    <br/>
    <h1>My Blog</h1>
</div>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>About This Blog:</h2><div class="h2-highlight"></div></header>
    <p>This blog records my study path in Computer Science. It's also a great place for anyone wants to learn with me. The topic range might vary from time to time, but mostly about programming.</p>
    <hr>
    {%for blog in model.blogList%}
    <header><h2><a class="blog_link" href="{{blog.url}}" target="_blank">{{blog.title}}</a></h2><div class="h2-highlight"></div></header>
    <p>{{blog.description}}</p>
    <p class="date_link">Update Date:
        <time itemprop="dateModified" datetime="{{blog.datetime}}">{{blog.date}}</time>
    </p>
    <hr>
    {%endfor%}
</div>
{%endblock%}