{%extends "DevTool/base_layout_fr.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2>Outils relatifs au format et à la compression:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/fr/json-formatter">Outil en ligne de formatage JSON</a>
            <a class="table-link" href="/fr/json-minifier">Outil en ligne de compression JSON</a>
            <a class="table-link" href="/fr/xml-formatter">Outil en ligne de formatage XML</a>
            <a class="table-link" href="/fr/xml-minifier">Outil en ligne de compression XML</a>
            <a class="table-link" href="/fr/json-to-xml">Outil en ligne JSON to XML</a>
            <a class="table-link" href="/fr/xml-to-json">Outil en ligne XML to JSON</a>
            <a class="table-link" href="/fr/html-beautifier">Outil en ligne de formatage HTML</a>
            <a class="table-link" href="/fr/html-minifier">Outil en ligne de compression HTML</a>
            <a class="table-link" href="/fr/javascript-beautifier">Outil de mise en forme Javascript en ligne</a>
            <a class="table-link" href="/fr/javascript-minifier">Outil en ligne de compression Javascript</a>
            <a class="table-link" href="/fr/css-beautifier">Outil en ligne de formatage CSS</a>
            <a class="table-link" href="/fr/css-minifier">Outil en ligne de compression CSS</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Outils liés au test de réseau:</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/fr/my-ip-address">Mon adresse IP</a>
            <a class="table-link" href="/fr/ping">Détection de ping en ligne</a>
            <a class="table-link" href="/fr/nslookup">Requête DNS en ligne</a>
            <a class="table-link" href="/fr/traceroute">Suivi de routeur</a>
            <a class="table-link" href="/fr/whois">Demande en ligne du domaine Whois</a>
            <a class="table-link" href="/fr/port-checker">Détection de port en ligne</a>
            <a class="table-link" href="/fr/url-encode">Codage d'URL en ligne</a>
            <a class="table-link" href="/fr/url-decode">Décodage d'URL en ligne</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Outils de calcul de hachage et de mot de passe:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/fr/md5">Outil de cryptage en ligne MD5</a>
            <a class="table-link" href="/fr/sha1">Outil de cryptage en ligne SHA1</a>
            <a class="table-link" href="/fr/sha224">Outil de cryptage en ligne SHA224</a>
            <a class="table-link" href="/fr/sha256">Outil de cryptage en ligne SHA256</a>
            <a class="table-link" href="/fr/sha384">Outil de cryptage en ligne SHA384</a>
            <a class="table-link" href="/fr/sha512">Outil de chiffrement en ligne SHA512</a>
            <a class="table-link" href="/fr/base64-encode">Outil de codage en ligne BASE64</a>
            <a class="table-link" href="/fr/base64-decode">Outil de décodage en ligne BASE64</a>
            <a class="table-link" href="/fr/password-generator">Outil de génération de mot de passe aléatoire en ligne</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Outil de conversion numérique:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/fr/hex-to-decimal">Conversion hexadécimale en décimale</a>
            <a class="table-link" href="/fr/decimal-to-hex">Conversion décimale en hexadécimale</a>
            <a class="table-link" href="/fr/octal-to-decimal">Conversion octale en décimale</a>
            <a class="table-link" href="/fr/decimal-to-octal">Conversion décimale à octale</a>
            <a class="table-link" href="/fr/binary-to-decimal">Conversion binaire en décimale</a>
            <a class="table-link" href="/fr/decimal-to-binary">Conversion décimale en binaire</a>
            <a class="table-link" href="/fr/ascii-table">Table de consultation ASCII</a>
            <a class="table-link" href="/fr/hex-to-ascii">Conversion de chaîne hexadécimale en chaîne ASCII</a>
            <a class="table-link" href="/fr/ascii-to-hex">Conversion de chaîne ASCII en hexadécimal</a>
            <a class="table-link" href="/fr/fraction-to-decimal">Conversion fraction à décimale</a>
            <a class="table-link" href="/fr/decimal-to-fraction">Conversion fractionnaire en fraction</a>
            <a class="table-link" href="/fr/percent-to-decimal">Conversion en pourcentage en décimal</a>
            <a class="table-link" href="/fr/decimal-to-percent">Conversion décimale en pourcentage</a>
            <a class="table-link" href="/fr/percent-to-fraction">Conversion en pourcentage en fraction</a>
            <a class="table-link" href="/fr/fraction-to-percent">Score en conversion de pourcentage</a>
            <a class="table-link" href="/fr/hex-to-rgb">Conversion de couleur Hex en RVB</a>
            <a class="table-link" href="/fr/rgb-to-hex">Conversion de couleur RVB en couleur hexadécimale</a>
            <a class="table-link" href="/fr/hex-to-rgba">Conversion de couleur Hex en couleur RGBA</a>
            <a class="table-link" href="/fr/rgba-to-hex">Conversion de couleur RGBA en couleur hexadécimale</a>
            <a class="table-link" href="/fr/roman-numerals-chart">Tableau comparatif des chiffres romains 1-1000</a>
            <a class="table-link" href="/fr/roman-numerals-to-numbers">Conversion de chiffres romains en chiffres arabes</a>
            <a class="table-link" href="/fr/numbers-to-roman-numerals">Conversion de chiffres arabes en chiffres romains</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>À propos de{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/blog">Mon blog</a>
        </div>
    </div>
{%endblock%}