{%extends "DevTool/base_layout_kr.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2>서식 및 압축 관련 도구:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/kr/json-formatter">JSON 서식 온라인 도구</a>
            <a class="table-link" href="/kr/json-minifier">JSON 압축 온라인 도구</a>
            <a class="table-link" href="/kr/xml-formatter">XML 서식 지정 온라인 도구</a>
            <a class="table-link" href="/kr/xml-minifier">XML 압축 온라인 도구</a>
            <a class="table-link" href="/kr/json-to-xml">JSON에서 XML 온라인 도구로</a>
            <a class="table-link" href="/kr/xml-to-json">XML에서 JSON 온라인 도구로</a>
            <a class="table-link" href="/kr/html-beautifier">HTML 서식 온라인 도구</a>
            <a class="table-link" href="/kr/html-minifier">HTML 압축 온라인 도구</a>
            <a class="table-link" href="/kr/javascript-beautifier">Javascript 서식 온라인 도구</a>
            <a class="table-link" href="/kr/javascript-minifier">자바 스크립트 압축 온라인 도구</a>
            <a class="table-link" href="/kr/css-beautifier">CSS 서식 온라인 도구</a>
            <a class="table-link" href="/kr/css-minifier">CSS 압축 온라인 도구</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>네트워크 테스트 관련 도구:</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/kr/my-ip-address">내 IP 주소 쿼리</a>
            <a class="table-link" href="/kr/ping">Ping 온라인 탐지</a>
            <a class="table-link" href="/kr/nslookup">DNS 온라인 쿼리</a>
            <a class="table-link" href="/kr/traceroute">라우터 추적</a>
            <a class="table-link" href="/kr/whois">후이즈 도메인 온라인 문의</a>
            <a class="table-link" href="/kr/port-checker">포트 온라인 탐지</a>
            <a class="table-link" href="/kr/url-encode">온라인 URL 인코딩</a>
            <a class="table-link" href="/kr/url-decode">온라인 URL 디코딩</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>해시 계산 및 비밀번호 관련 도구:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/kr/md5">MD5 온라인 암호화 도구</a>
            <a class="table-link" href="/kr/sha1">SHA1 온라인 암호화 도구</a>
            <a class="table-link" href="/kr/sha224">SHA224 온라인 암호화 도구</a>
            <a class="table-link" href="/kr/sha256">SHA256 온라인 암호화 도구</a>
            <a class="table-link" href="/kr/sha384">SHA384 온라인 암호화 도구</a>
            <a class="table-link" href="/kr/sha512">SHA512 온라인 암호화 도구</a>
            <a class="table-link" href="/kr/base64-encode">BASE64 온라인 코딩 도구</a>
            <a class="table-link" href="/kr/base64-decode">BASE64 온라인 디코딩 도구</a>
            <a class="table-link" href="/kr/password-generator">온라인 임의 암호 생성 도구</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>디지트 변환 도구:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/kr/hex-to-decimal">십진수에서 십진수로 변환</a>
            <a class="table-link" href="/kr/decimal-to-hex">10 진수에서 16 진수로 변환</a>
            <a class="table-link" href="/kr/octal-to-decimal">8 진수에서 10 진수로 변환</a>
            <a class="table-link" href="/kr/decimal-to-octal">십진수에서 8 진수로의 변환</a>
            <a class="table-link" href="/kr/binary-to-decimal">2 진 - 10 진수 변환</a>
            <a class="table-link" href="/kr/decimal-to-binary">10 진수에서 2 진수로 변환</a>
            <a class="table-link" href="/kr/ascii-table">ASCII 조회 테이블</a>
            <a class="table-link" href="/kr/hex-to-ascii">16 진수 - ASCII 문자열 변환</a>
            <a class="table-link" href="/kr/ascii-to-hex">ASCII 문자열 - 16 진수 변환</a>
            <a class="table-link" href="/kr/fraction-to-decimal">10 진수로 변환하는 분수</a>
            <a class="table-link" href="/kr/decimal-to-fraction">분수 - 분수 변환</a>
            <a class="table-link" href="/kr/percent-to-decimal">십진법 전환율</a>
            <a class="table-link" href="/kr/decimal-to-percent">소수점에서 백분율로 변환</a>
            <a class="table-link" href="/kr/percent-to-fraction">분수 변환 비율</a>
            <a class="table-link" href="/kr/fraction-to-percent">점수 대 백분율 전환</a>
            <a class="table-link" href="/kr/hex-to-rgb">16 진수 - RGB 색상 변환</a>
            <a class="table-link" href="/kr/rgb-to-hex">RGB 색상 - 16 진수 색상 변환</a>
            <a class="table-link" href="/kr/hex-to-rgba">Hex 컬러에서 RGBA 컬러 변환</a>
            <a class="table-link" href="/kr/rgba-to-hex">RGBA 색상 - 16 진수 색상 변환</a>
            <a class="table-link" href="/kr/roman-numerals-chart">로마 숫자 비교표 1-1000</a>
            <a class="table-link" href="/kr/roman-numerals-to-numbers">로마 숫자에서 아라비아 숫자로의 변환</a>
            <a class="table-link" href="/kr/numbers-to-roman-numerals">아라비아 숫자에서 로마 숫자로 변환</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>정보{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/blog">내 블로그</a>
        </div>
    </div>
{%endblock%}