{%extends "DevTool/base_layout_es.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2>Formatear y comprimir herramientas relacionadas:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/es/json-formatter">Herramienta en línea de formato JSON</a>
            <a class="table-link" href="/es/json-minifier">Herramienta de compresión en línea JSON</a>
            <a class="table-link" href="/es/xml-formatter">Herramienta de formato XML en línea</a>
            <a class="table-link" href="/es/xml-minifier">Herramienta de compresión XML en línea</a>
            <a class="table-link" href="/es/json-to-xml">Herramienta en línea de JSON a XML</a>
            <a class="table-link" href="/es/xml-to-json">Herramienta en línea de XML a JSON</a>
            <a class="table-link" href="/es/html-beautifier">Herramienta de formato HTML en línea</a>
            <a class="table-link" href="/es/html-minifier">Herramienta de compresión HTML en línea</a>
            <a class="table-link" href="/es/javascript-beautifier">Herramienta de formateo de Javascript en línea</a>
            <a class="table-link" href="/es/javascript-minifier">Herramienta de compresión de Javascript en línea</a>
            <a class="table-link" href="/es/css-beautifier">Herramienta de formato CSS en línea</a>
            <a class="table-link" href="/es/css-minifier">Herramienta de compresión de CSS en línea</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Herramientas relacionadas con pruebas de red:</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/es/my-ip-address">Mi consulta de dirección IP</a>
            <a class="table-link" href="/es/ping">Detección de ping en línea</a>
            <a class="table-link" href="/es/nslookup">Consulta de DNS en línea</a>
            <a class="table-link" href="/es/traceroute">Seguimiento de enrutador</a>
            <a class="table-link" href="/es/whois">Consulta en línea del dominio Whois</a>
            <a class="table-link" href="/es/port-checker">Detección de puerto en línea</a>
            <a class="table-link" href="/es/url-encode">Codificación de URL en línea</a>
            <a class="table-link" href="/es/url-decode">Decodificación de URL en línea</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Hash cálculo y herramientas relacionadas con contraseña:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/es/md5">Herramienta de cifrado en línea MD5</a>
            <a class="table-link" href="/es/sha1">Herramienta de cifrado en línea SHA1</a>
            <a class="table-link" href="/es/sha224">Herramienta de cifrado en línea SHA224</a>
            <a class="table-link" href="/es/sha256">Herramienta de cifrado en línea SHA256</a>
            <a class="table-link" href="/es/sha384">Herramienta de cifrado en línea SHA384</a>
            <a class="table-link" href="/es/sha512">Herramienta de cifrado en línea SHA512</a>
            <a class="table-link" href="/es/base64-encode">Herramienta de codificación en línea BASE64</a>
            <a class="table-link" href="/es/base64-decode">Herramienta de decodificación en línea BASE64</a>
            <a class="table-link" href="/es/password-generator">Herramienta de generación de contraseña aleatoria en línea</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Herramienta de conversión de dígitos:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/es/hex-to-decimal">Conversión hexadecimal a decimal</a>
            <a class="table-link" href="/es/decimal-to-hex">Conversión de decimal a hexadecimal</a>
            <a class="table-link" href="/es/octal-to-decimal">Conversión octal a decimal</a>
            <a class="table-link" href="/es/decimal-to-octal">Conversión de decimal a octal</a>
            <a class="table-link" href="/es/binary-to-decimal">Conversión de binario a decimal</a>
            <a class="table-link" href="/es/decimal-to-binary">Conversión de decimal a binario</a>
            <a class="table-link" href="/es/ascii-table">Tabla de búsqueda ASCII</a>
            <a class="table-link" href="/es/hex-to-ascii">Conversión de cadena hexadecimal a ASCII</a>
            <a class="table-link" href="/es/ascii-to-hex">Cadena ASCII a conversión hexadecimal</a>
            <a class="table-link" href="/es/fraction-to-decimal">Conversión de fracción a decimal</a>
            <a class="table-link" href="/es/decimal-to-fraction">Conversión fraccional a fraccional</a>
            <a class="table-link" href="/es/percent-to-decimal">Porcentaje a la conversión decimal</a>
            <a class="table-link" href="/es/decimal-to-percent">Conversión de decimal a porcentaje</a>
            <a class="table-link" href="/es/percent-to-fraction">Porcentaje a la conversión fraccional</a>
            <a class="table-link" href="/es/fraction-to-percent">Puntuación a conversión porcentual</a>
            <a class="table-link" href="/es/hex-to-rgb">Conversión de color hexadecimal a color RGB</a>
            <a class="table-link" href="/es/rgb-to-hex">Conversión de color RGB a color hexadecimal</a>
            <a class="table-link" href="/es/hex-to-rgba">Conversión de color hexadecimal a color RGBA</a>
            <a class="table-link" href="/es/rgba-to-hex">Conversión de color RGBA a color hexadecimal</a>
            <a class="table-link" href="/es/roman-numerals-chart">Tabla de comparación de números romanos 1-1000</a>
            <a class="table-link" href="/es/roman-numerals-to-numbers">Conversión de números romanos a números arábigos</a>
            <a class="table-link" href="/es/numbers-to-roman-numerals">Conversión de números arábigos a números romanos</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>Acerca de{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/blog">Mi blog</a>
        </div>
    </div>
{%endblock%}