{%extends "DevTool/base_layout_tw.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2 class="toollisth2">圖片相關工具</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/tw/compress-jpeg">壓縮JPEG</a>
            <a class="table-link" href="/tw/compress-png">壓縮PNG</a>
            <a class="table-link" href="/tw/progressive-jpeg">漸進式JPEG轉換</a>
            <a class="table-link" href="/tw/image-to-base64">圖片轉Base64</a>
            <a class="table-link" href="/tw/exif-viewer">EXIF查看</a>
            <a class="table-link" href="/tw/exif-remover">EXIF刪除</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">格式化&壓縮相關工具</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/tw/json-formatter">JSON格式化在線工具</a>
            <a class="table-link" href="/tw/json-minifier">JSON壓縮在線工具</a>
            <a class="table-link" href="/tw/xml-formatter">XML格式化在線工具</a>
            <a class="table-link" href="/tw/xml-minifier">XML壓縮在線工具</a>
            <a class="table-link" href="/tw/json-to-xml">JSON轉XML在線工具</a>
            <a class="table-link" href="/tw/xml-to-json">XML轉JSON在線工具</a>
            <a class="table-link" href="/tw/html-beautifier">HTML格式化在線工具</a>
            <a class="table-link" href="/tw/html-minifier">HTML壓縮在線工具</a>
            <a class="table-link" href="/tw/javascript-beautifier">Javascript格式化在線工具</a>
            <a class="table-link" href="/tw/javascript-minifier">Javascript壓縮在線工具</a>
            <a class="table-link" href="/tw/css-beautifier">CSS格式化在線工具</a>
            <a class="table-link" href="/tw/css-minifier">CSS壓縮在線工具</a>
            <a class="table-link" href="/tw/sql-formatter">SQL格式化在線工具</a>
            <a class="table-link" href="/tw/sql-minifier">SQL壓縮在線工具</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">網絡測試相關工具</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/tw/my-ip-address">我的IP地址查詢</a>
            <a class="table-link" href="/tw/ping">Ping在線檢測</a>
            <a class="table-link" href="/tw/nslookup">DNS在線查詢</a>
            <a class="table-link" href="/tw/traceroute">路由器追踪</a>
            <a class="table-link" href="/tw/whois">Whois域名在線查詢</a>
            <a class="table-link" href="/tw/port-checker">端口在線檢測</a>
            <a class="table-link" href="/tw/url-encode">在線URL編碼</a>
            <a class="table-link" href="/tw/url-decode">在線URL解碼</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">哈希值計算&密碼相關工具</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/tw/md5">MD5在線加密工具</a>
            <a class="table-link" href="/tw/sha1">SHA1在線加密工具</a>
            <a class="table-link" href="/tw/sha224">SHA224在線加密工具</a>
            <a class="table-link" href="/tw/sha256">SHA256在線加密工具</a>
            <a class="table-link" href="/tw/sha384">SHA384在線加密工具</a>
            <a class="table-link" href="/tw/sha512">SHA512在線加密工具</a>
            <a class="table-link" href="/tw/base64-encode">BASE64在線編碼工具</a>
            <a class="table-link" href="/tw/base64-decode">BASE64在線解碼工具</a>
            <a class="table-link" href="/tw/password-generator">在線隨機密碼生成工具</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">數字進制轉換相關工具</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/tw/hex-to-decimal">16進製到10進制轉換</a>
            <a class="table-link" href="/tw/decimal-to-hex">10進製到16進制轉換</a>
            <a class="table-link" href="/tw/octal-to-decimal">8進製到10進制轉換</a>
            <a class="table-link" href="/tw/decimal-to-octal">10進製到8進制轉換</a>
            <a class="table-link" href="/tw/binary-to-decimal">2進製到10進制轉換</a>
            <a class="table-link" href="/tw/decimal-to-binary">10進製到2進制轉換</a>
            <a class="table-link" href="/tw/binary-to-hex">2進製到16進制轉換</a>
            <a class="table-link" href="/tw/hex-to-binary">16進製到2進制轉換</a>
            <a class="table-link" href="/tw/ascii-table">ASCII查詢表</a>
            <a class="table-link" href="/tw/hex-to-ascii">16進製到ASCII字符串轉換</a>
            <a class="table-link" href="/tw/ascii-to-hex">ASCII字符串到16進制轉換</a>
            <a class="table-link" href="/tw/binary-to-text">2進製到ASCII字符串轉換</a>
            <a class="table-link" href="/tw/text-to-binary">ASCII字符串到2進制轉具</a>
            <a class="table-link" href="/tw/fraction-to-decimal">分數到小數轉換</a>
            <a class="table-link" href="/tw/decimal-to-fraction">小數到分數轉換</a>
            <a class="table-link" href="/tw/percent-to-decimal">百分比到小數轉換</a>
            <a class="table-link" href="/tw/decimal-to-percent">小數到百分比轉換</a>
            <a class="table-link" href="/tw/percent-to-fraction">百分比到分數轉換</a>
            <a class="table-link" href="/tw/fraction-to-percent">分數到百分比轉換</a>
            <a class="table-link" href="/tw/hex-to-rgb">Hex顏色到RGB顏色轉換</a>
            <a class="table-link" href="/tw/rgb-to-hex">RGB顏色到Hex顏色轉換</a>
            <a class="table-link" href="/tw/hex-to-rgba">Hex顏色到RGBA顏色轉換</a>
            <a class="table-link" href="/tw/rgba-to-hex">RGBA顏色轉Hex顏色轉換</a>
            <a class="table-link" href="/tw/roman-numerals-chart">羅馬數字對照表1-1000</a>
            <a class="table-link" href="/tw/roman-numerals-to-numbers">羅馬數字到阿拉伯數字轉換</a>
            <a class="table-link" href="/tw/numbers-to-roman-numerals">阿拉伯數字到羅馬數字轉換</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">字符串操作</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/tw/text-editor">在線文本編輯器</a>
            <a class="table-link" href="/tw/regex-tester">正則表達式在線測試</a>
            <a class="table-link" href="/tw/regex-replace">正則表達式在線替換</a>
            <a class="table-link" href="/tw/word-counter">英文單詞在線統計</a>
            <a class="table-link" href="/tw/character-count">字符數在線統計</a>
            <a class="table-link" href="/tw/case-converter">英文字母大小寫轉換</a>
            <a class="table-link" href="/tw/reverse-text">翻轉字符串</a>
            <a class="table-link" href="/tw/number-to-words">數字到英文轉換</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>關於{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/cn/blog">我的博客(中)</a>
            <a class="table-link" href="/blog">我的博客(英)</a>
        </div>
    </div>
{%endblock%}