{%extends "DevTool/base_layout_ar.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2>تنسيق وضغط أدوات ذات صلة:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/ar/json-formatter">JSON تنسيق أداة على الإنترنت</a>
            <a class="table-link" href="/ar/json-minifier">ضغط JSON أداة على الانترنت</a>
            <a class="table-link" href="/ar/xml-formatter">XML تنسيق أداة عبر الإنترنت</a>
            <a class="table-link" href="/ar/xml-minifier">أداة ضغط XML عبر الإنترنت</a>
            <a class="table-link" href="/ar/json-to-xml">JSON إلى أداة XML عبر الإنترنت</a>
            <a class="table-link" href="/ar/xml-to-json">XML to JSON online tool</a>
            <a class="table-link" href="/ar/html-beautifier">HTML تنسيق أداة على الإنترنت</a>
            <a class="table-link" href="/ar/html-minifier">أداة ضغط HTML عبر الإنترنت</a>
            <a class="table-link" href="/ar/javascript-beautifier">جافا سكريبت تنسيق أداة على الإنترنت</a>
            <a class="table-link" href="/ar/javascript-minifier">أداة ضغط على الإنترنت من Javascript</a>
            <a class="table-link" href="/ar/css-beautifier">CSS تنسيق أداة على الإنترنت</a>
            <a class="table-link" href="/ar/css-minifier">أداة ضغط CSS على الإنترنت</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>أدوات اختبار الشبكة ذات الصلة:</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/ar/my-ip-address">استعلام عنوان IP الخاص بي</a>
            <a class="table-link" href="/ar/ping">بينغ كشف الانترنت</a>
            <a class="table-link" href="/ar/nslookup">استعلام DNS عبر الإنترنت</a>
            <a class="table-link" href="/ar/traceroute">تتبع جهاز التوجيه</a>
            <a class="table-link" href="/ar/whois">نطاق Whois الاستفسار عبر الإنترنت</a>
            <a class="table-link" href="/ar/port-checker">ميناء على الانترنت الكشف</a>
            <a class="table-link" href="/ar/url-encode">ترميز عنوان URL عبر الإنترنت</a>
            <a class="table-link" href="/ar/url-decode">فك تشفير عنوان URL عبر الإنترنت</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>حساب التجزئة وأدوات كلمة المرور ذات الصلة:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/ar/md5">أداة التشفير عبر الإنترنت MD5</a>
            <a class="table-link" href="/ar/sha1">SHA1 أداة التشفير عبر الإنترنت</a>
            <a class="table-link" href="/ar/sha224">SHA224 أداة التشفير على الإنترنت</a>
            <a class="table-link" href="/ar/sha256">SHA256 أداة التشفير عبر الإنترنت</a>
            <a class="table-link" href="/ar/sha384">SHA384 أداة التشفير عبر الإنترنت</a>
            <a class="table-link" href="/ar/sha512">SHA512 أداة التشفير عبر الإنترنت</a>
            <a class="table-link" href="/ar/base64-encode">BASE64 أداة الترميز عبر الإنترنت</a>
            <a class="table-link" href="/ar/base64-decode">BASE64 أداة فك التشفير عبر الإنترنت</a>
            <a class="table-link" href="/ar/password-generator">أداة توليد كلمة مرور عشوائية عبر الإنترنت</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>أداة تحويل الأرقام:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/ar/hex-to-decimal">سداسي عشري إلى تحويل عشري</a>
            <a class="table-link" href="/ar/decimal-to-hex">عشري إلى تحويل سداسي عشري</a>
            <a class="table-link" href="/ar/octal-to-decimal">ثماني لتحويل عشري</a>
            <a class="table-link" href="/ar/decimal-to-octal">عشري إلى تحويل ثماني</a>
            <a class="table-link" href="/ar/binary-to-decimal">ثنائي لتحويل عشري</a>
            <a class="table-link" href="/ar/decimal-to-binary">عشري لتحويل ثنائي</a>
            <a class="table-link" href="/ar/ascii-table">جدول بحث ASCII</a>
            <a class="table-link" href="/ar/hex-to-ascii">ست عشري لتحويل سلسلة ASCII</a>
            <a class="table-link" href="/ar/ascii-to-hex">سلسلة ASCII إلى تحويل سداسي عشري</a>
            <a class="table-link" href="/ar/fraction-to-decimal">جزء إلى تحويل عشري</a>
            <a class="table-link" href="/ar/decimal-to-fraction">كسر إلى تحويل كسور</a>
            <a class="table-link" href="/ar/percent-to-decimal">النسبة المئوية للتحويل العشري</a>
            <a class="table-link" href="/ar/decimal-to-percent">عشري إلى نسبة مئوية التحويل</a>
            <a class="table-link" href="/ar/percent-to-fraction">النسبة المئوية للتحويل الجزئي</a>
            <a class="table-link" href="/ar/fraction-to-percent">يسجل لتحويل النسبة المئوية</a>
            <a class="table-link" href="/ar/hex-to-rgb">عرافة اللون لتحويل لون RGB</a>
            <a class="table-link" href="/ar/rgb-to-hex">لون RGB لتحويل لون Hex</a>
            <a class="table-link" href="/ar/hex-to-rgba">عرافة اللون لتحويل لون RGBA</a>
            <a class="table-link" href="/ar/rgba-to-hex">لون RGBA لتحويل Hex اللون</a>
            <a class="table-link" href="/ar/roman-numerals-chart">الرومانية مقارنة جدول الأرقام 1-1000</a>
            <a class="table-link" href="/ar/roman-numerals-to-numbers">الأرقام الرومانية لتحويل الأرقام العربية</a>
            <a class="table-link" href="/ar/numbers-to-roman-numerals">الأرقام العربية لتحويل الأرقام الرومانية</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>في{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
            <p style=";text-align:right;direction:rtl">{{model.description}}</p>
            <a class="table-link" href="/blog">مدونتي</a>
        </div>
    </div>
{%endblock%}