{%extends "DevTool/base_layout_de.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2>Zugehörige Tools zum Formatieren und Komprimieren:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/de/json-formatter">JSON-Formatierungs-Online-Tool</a>
            <a class="table-link" href="/de/json-minifier">JSON-Komprimierungs-Online-Tool</a>
            <a class="table-link" href="/de/xml-formatter">Online-Tool zur XML-Formatierung</a>
            <a class="table-link" href="/de/xml-minifier">XML-Komprimierungs-Online-Tool</a>
            <a class="table-link" href="/de/json-to-xml">JSON zu XML Online-Tool</a>
            <a class="table-link" href="/de/xml-to-json">XML zu JSON Online-Tool</a>
            <a class="table-link" href="/de/html-beautifier">Online-Tool zur HTML-Formatierung</a>
            <a class="table-link" href="/de/html-minifier">Online-Tool zur HTML-Komprimierung</a>
            <a class="table-link" href="/de/javascript-beautifier">Javascript-Formatierungs-Online-Tool</a>
            <a class="table-link" href="/de/javascript-minifier">Javascript-Komprimierungs-Online-Tool</a>
            <a class="table-link" href="/de/css-beautifier">Online-Tool zur CSS-Formatierung</a>
            <a class="table-link" href="/de/css-minifier">Online-Tool zur CSS-Komprimierung</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Tools für den Netzwerktest:</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/de/my-ip-address">Meine IP-Adressanfrage</a>
            <a class="table-link" href="/de/ping">Ping Online-Erkennung</a>
            <a class="table-link" href="/de/nslookup">DNS-Online-Abfrage</a>
            <a class="table-link" href="/de/traceroute">Routerverfolgung</a>
            <a class="table-link" href="/de/whois">Whois Domain Online-Anfrage</a>
            <a class="table-link" href="/de/port-checker">Port-Online-Erkennung</a>
            <a class="table-link" href="/de/url-encode">Online-URL-Kodierung</a>
            <a class="table-link" href="/de/url-decode">Online-URL-Dekodierung</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Hashberechnung und Passwort-bezogene Tools:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/de/md5">MD5 Online-Verschlüsselungstool</a>
            <a class="table-link" href="/de/sha1">SHA1 Online-Verschlüsselungstool</a>
            <a class="table-link" href="/de/sha224">SHA224 Online-Verschlüsselungstool</a>
            <a class="table-link" href="/de/sha256">SHA256 Online-Verschlüsselungstool</a>
            <a class="table-link" href="/de/sha384">SHA384 Online-Verschlüsselungstool</a>
            <a class="table-link" href="/de/sha512">SHA512 Online-Verschlüsselungstool</a>
            <a class="table-link" href="/de/base64-encode">BASE64 Online-Codierungswerkzeug</a>
            <a class="table-link" href="/de/base64-decode">BASE64 Online-Dekodierungstool</a>
            <a class="table-link" href="/de/password-generator">Online-Tool zur Erzeugung zufälliger Passwörter</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Ziffernkonvertierungstool:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/de/hex-to-decimal">Konvertierung von Hexadezimal nach Dezimal</a>
            <a class="table-link" href="/de/decimal-to-hex">Konvertierung von Dezimal nach Hexadezimal</a>
            <a class="table-link" href="/de/octal-to-decimal">Oktal-Dezimal-Konvertierung</a>
            <a class="table-link" href="/de/decimal-to-octal">Dezimal-Oktal-Konvertierung</a>
            <a class="table-link" href="/de/binary-to-decimal">Umwandlung von binär in dezimal</a>
            <a class="table-link" href="/de/decimal-to-binary">Konvertierung von Dezimal nach Binär</a>
            <a class="table-link" href="/de/ascii-table">ASCII-Lookup-Tabelle</a>
            <a class="table-link" href="/de/hex-to-ascii">Hexadezimal in ASCII-String-Konvertierung</a>
            <a class="table-link" href="/de/ascii-to-hex">ASCII-Zeichenfolge in Hexadezimal-Konvertierung</a>
            <a class="table-link" href="/de/fraction-to-decimal">Umrechnung von Bruch in Dezimalzahlen</a>
            <a class="table-link" href="/de/decimal-to-fraction">Bruchteil zu Teilwandlung</a>
            <a class="table-link" href="/de/percent-to-decimal">Prozentsatz der Umwandlung in Dezimalzahlen</a>
            <a class="table-link" href="/de/decimal-to-percent">Dezimal-prozentuale Umwandlung</a>
            <a class="table-link" href="/de/percent-to-fraction">Prozentsatz zur fraktionalen Umwandlung</a>
            <a class="table-link" href="/de/fraction-to-percent">Ergebnis in prozentualer Umwandlung</a>
            <a class="table-link" href="/de/hex-to-rgb">Hex-Farbe in RGB-Farbkonvertierung</a>
            <a class="table-link" href="/de/rgb-to-hex">RGB-Farbe in Hex-Farbkonvertierung</a>
            <a class="table-link" href="/de/hex-to-rgba">Hex-Farbe in RGBA-Farbkonvertierung</a>
            <a class="table-link" href="/de/rgba-to-hex">Konvertierung von RGBA-Farben in Hex-Farben</a>
            <a class="table-link" href="/de/roman-numerals-chart">Römische Zahlenvergleichstabelle 1-1000</a>
            <a class="table-link" href="/de/roman-numerals-to-numbers">Konvertierung römischer Ziffern in arabische Ziffern</a>
            <a class="table-link" href="/de/numbers-to-roman-numerals">Konvertierung arabischer Ziffern in römische Ziffern</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>Über{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/blog">Mein Blog</a>
        </div>
    </div>
{%endblock%}