{%extends "DevTool/base_layout_pt.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2>Formatar e compactar ferramentas relacionadas:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/pt/json-formatter">Ferramenta online de formatação JSON</a>
            <a class="table-link" href="/pt/json-minifier">Ferramenta on-line de compactação JSON</a>
            <a class="table-link" href="/pt/xml-formatter">Ferramenta on-line de formatação XML</a>
            <a class="table-link" href="/pt/xml-minifier">Ferramenta on-line de compactação XML</a>
            <a class="table-link" href="/pt/json-to-xml">Ferramenta on-line de JSON para XML</a>
            <a class="table-link" href="/pt/xml-to-json">Ferramenta online XML para JSON</a>
            <a class="table-link" href="/pt/html-beautifier">Ferramenta on-line de formatação HTML</a>
            <a class="table-link" href="/pt/html-minifier">Ferramenta on-line de compactação HTML</a>
            <a class="table-link" href="/pt/javascript-beautifier">Ferramenta online de formatação de Javascript</a>
            <a class="table-link" href="/pt/javascript-minifier">Ferramenta on-line de compressão Javascript</a>
            <a class="table-link" href="/pt/css-beautifier">Ferramenta on-line de formatação CSS</a>
            <a class="table-link" href="/pt/css-minifier">Ferramenta online de compressão CSS</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Ferramentas relacionadas ao teste de rede:</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/pt/my-ip-address">Minha consulta de endereço IP</a>
            <a class="table-link" href="/pt/ping">Detecção on-line de ping</a>
            <a class="table-link" href="/pt/nslookup">Consulta on-line de DNS</a>
            <a class="table-link" href="/pt/traceroute">Rastreamento de roteador</a>
            <a class="table-link" href="/pt/whois">Consulta on-line do domínio Whois</a>
            <a class="table-link" href="/pt/port-checker">Detecção online de porta</a>
            <a class="table-link" href="/pt/url-encode">Codificação de URL on-line</a>
            <a class="table-link" href="/pt/url-decode">Decodificação de URL on-line</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Cálculo de hash e ferramentas relacionadas a senhas:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/pt/md5">Ferramenta de criptografia online MD5</a>
            <a class="table-link" href="/pt/sha1">Ferramenta de criptografia online SHA1</a>
            <a class="table-link" href="/pt/sha224">Ferramenta de criptografia online SHA224</a>
            <a class="table-link" href="/pt/sha256">Ferramenta de criptografia online SHA256</a>
            <a class="table-link" href="/pt/sha384">Ferramenta de criptografia online SHA384</a>
            <a class="table-link" href="/pt/sha512">Ferramenta de criptografia online SHA512</a>
            <a class="table-link" href="/pt/base64-encode">Ferramenta de codificação online BASE64</a>
            <a class="table-link" href="/pt/base64-decode">Ferramenta de decodificação online BASE64</a>
            <a class="table-link" href="/pt/password-generator">Ferramenta de geração de senha aleatória online</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Ferramenta de conversão de dígitos:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/pt/hex-to-decimal">Conversão hexadecimal em decimal</a>
            <a class="table-link" href="/pt/decimal-to-hex">Decimal para conversão hexadecimal</a>
            <a class="table-link" href="/pt/octal-to-decimal">Octal para conversão decimal</a>
            <a class="table-link" href="/pt/decimal-to-octal">Decimal para octal conversão</a>
            <a class="table-link" href="/pt/binary-to-decimal">Conversão binária a decimal</a>
            <a class="table-link" href="/pt/decimal-to-binary">Decimal para conversão binária</a>
            <a class="table-link" href="/pt/ascii-table">Tabela de consulta ASCII</a>
            <a class="table-link" href="/pt/hex-to-ascii">Hexadecimal para conversão de string ASCII</a>
            <a class="table-link" href="/pt/ascii-to-hex">String ASCII para conversão hexadecimal</a>
            <a class="table-link" href="/pt/fraction-to-decimal">Conversão de fração em decimal</a>
            <a class="table-link" href="/pt/decimal-to-fraction">Conversão fracionária para fracionária</a>
            <a class="table-link" href="/pt/percent-to-decimal">Porcentagem para conversão decimal</a>
            <a class="table-link" href="/pt/decimal-to-percent">Decimal para porcentagem de conversão</a>
            <a class="table-link" href="/pt/percent-to-fraction">Porcentagem para conversão fracionária</a>
            <a class="table-link" href="/pt/fraction-to-percent">Pontuação para conversão de porcentagem</a>
            <a class="table-link" href="/pt/hex-to-rgb">Hex cor para conversão de cores RGB</a>
            <a class="table-link" href="/pt/rgb-to-hex">Cor RGB para conversão de cores hexadecimais</a>
            <a class="table-link" href="/pt/hex-to-rgba">Hex cor para conversão de cores RGBA</a>
            <a class="table-link" href="/pt/rgba-to-hex">Cor RGBA para conversão de cores hexadecimais</a>
            <a class="table-link" href="/pt/roman-numerals-chart">Tabela de comparação numeral romano 1-1000</a>
            <a class="table-link" href="/pt/roman-numerals-to-numbers">Algarismos romanos para conversão de algarismos arábicos</a>
            <a class="table-link" href="/pt/numbers-to-roman-numerals">Algarismos arábicos para conversão de algarismos romanos</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>Sobre{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/blog">Meu blog</a>
        </div>
    </div>
{%endblock%}