{%extends "DevTool/base_layout_cn.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2 class="toollisth2">图片相关工具</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/cn/compress-jpeg">压缩JPEG</a>
            <a class="table-link" href="/cn/compress-png">压缩PNG</a>
            <a class="table-link" href="/cn/progressive-jpeg">渐进式JPEG转换</a>
            <a class="table-link" href="/cn/image-to-base64">图片转Base64</a>
            <a class="table-link" href="/cn/exif-viewer">EXIF查看</a>
            <a class="table-link" href="/cn/exif-remover">EXIF删除</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">格式化&压缩相关工具</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/cn/json-formatter">JSON格式化在线工具</a>
            <a class="table-link" href="/cn/json-minifier">JSON压缩在线工具</a>
            <a class="table-link" href="/cn/xml-formatter">XML格式化在线工具</a>
            <a class="table-link" href="/cn/xml-minifier">XML压缩在线工具</a>
            <a class="table-link" href="/cn/json-to-xml">JSON转XML在线工具</a>
            <a class="table-link" href="/cn/xml-to-json">XML转JSON在线工具</a>
            <a class="table-link" href="/cn/html-beautifier">HTML格式化在线工具</a>
            <a class="table-link" href="/cn/html-minifier">HTML压缩在线工具</a>
            <a class="table-link" href="/cn/javascript-beautifier">Javascript格式化在线工具</a>
            <a class="table-link" href="/cn/javascript-minifier">Javascript压缩在线工具</a>
            <a class="table-link" href="/cn/css-beautifier">CSS格式化在线工具</a>
            <a class="table-link" href="/cn/css-minifier">CSS压缩在线工具</a>
            <a class="table-link" href="/cn/sql-formatter">SQL格式化在线工具</a>
            <a class="table-link" href="/cn/sql-minifier">SQL压缩在线工具</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">网络测试相关工具</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/cn/my-ip-address">我的IP地址查询</a>
            <a class="table-link" href="/cn/ping">Ping在线检测</a>
            <a class="table-link" href="/cn/nslookup">DNS在线查询</a>
            <a class="table-link" href="/cn/traceroute">路由器追踪</a>
            <a class="table-link" href="/cn/whois">Whois域名在线查询</a>
            <a class="table-link" href="/cn/port-checker">端口在线检测</a>
            <a class="table-link" href="/cn/url-encode">在线URL编码</a>
            <a class="table-link" href="/cn/url-decode">在线URL解码</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">哈希值计算&密码相关工具</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/cn/md5">MD5在线加密工具</a>
            <a class="table-link" href="/cn/sha1">SHA1在线加密工具</a>
            <a class="table-link" href="/cn/sha224">SHA224在线加密工具</a>
            <a class="table-link" href="/cn/sha256">SHA256在线加密工具</a>
            <a class="table-link" href="/cn/sha384">SHA384在线加密工具</a>
            <a class="table-link" href="/cn/sha512">SHA512在线加密工具</a>
            <a class="table-link" href="/cn/base64-encode">BASE64在线编码工具</a>
            <a class="table-link" href="/cn/base64-decode">BASE64在线解码工具</a>
            <a class="table-link" href="/cn/password-generator">在线随机密码生成工具</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">数字进制转换相关工具</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/cn/hex-to-decimal">16进制到10进制转换</a>
            <a class="table-link" href="/cn/decimal-to-hex">10进制到16进制转换</a>
            <a class="table-link" href="/cn/octal-to-decimal">8进制到10进制转换</a>
            <a class="table-link" href="/cn/decimal-to-octal">10进制到8进制转换</a>
            <a class="table-link" href="/cn/binary-to-decimal">2进制到10进制转换</a>
            <a class="table-link" href="/cn/decimal-to-binary">10进制到2进制转换</a>
            <a class="table-link" href="/cn/binary-to-hex">2进制到16进制转换</a>
            <a class="table-link" href="/cn/hex-to-binary">16进制到2进制转换</a>
            <a class="table-link" href="/cn/ascii-table">ASCII查询表</a>
            <a class="table-link" href="/cn/hex-to-ascii">16进制到ASCII字符串转换</a>
            <a class="table-link" href="/cn/ascii-to-hex">ASCII字符串到16进制转换</a>
            <a class="table-link" href="/cn/binary-to-text">2进制到ASCII字符串转换</a>
            <a class="table-link" href="/cn/text-to-binary">ASCII字符串到2进制转换</a>
            <a class="table-link" href="/cn/fraction-to-decimal">分数到小数转换</a>
            <a class="table-link" href="/cn/decimal-to-fraction">小数到分数转换</a>
            <a class="table-link" href="/cn/percent-to-decimal">百分比到小数转换</a>
            <a class="table-link" href="/cn/decimal-to-percent">小数到百分比转换</a>
            <a class="table-link" href="/cn/percent-to-fraction">百分比到分数转换</a>
            <a class="table-link" href="/cn/fraction-to-percent">分数到百分比转换</a>
            <a class="table-link" href="/cn/hex-to-rgb">Hex颜色到RGB颜色转换</a>
            <a class="table-link" href="/cn/rgb-to-hex">RGB颜色到Hex颜色转换</a>
            <a class="table-link" href="/cn/hex-to-rgba">Hex颜色到RGBA颜色转换</a>
            <a class="table-link" href="/cn/rgba-to-hex">RGBA颜色转Hex颜色转换</a>
            <a class="table-link" href="/cn/roman-numerals-chart">罗马数字对照表 1-1000</a>
            <a class="table-link" href="/cn/roman-numerals-to-numbers">罗马数字到阿拉伯数字转换</a>
            <a class="table-link" href="/cn/numbers-to-roman-numerals">阿拉伯数字到罗马数字转换</a>
            <br style="clear:both;"/>
        </div>
        <header><h2 class="toollisth2">字符串操作</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/cn/text-editor">在线文本编辑器</a>
            <a class="table-link" href="/cn/regex-tester">正则表达式在线测试</a>
            <a class="table-link" href="/cn/regex-replace">正则表达式在线替换</a>
            <a class="table-link" href="/cn/word-counter">英文单词在线统计</a>
            <a class="table-link" href="/cn/character-count">字符数在线统计</a>
            <a class="table-link" href="/cn/case-converter">英文字母大小写转换</a>
            <a class="table-link" href="/cn/reverse-text">翻转字符串</a>
            <a class="table-link" href="/cn/number-to-words">数字到英文转换</a>
            <br style="clear:both;"/>
        </div>

        <br/>
        <div class="mention">
            <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/cn/blog">我的博客(中)</a>
            <a class="table-link" href="/blog">我的博客(英)</a>
        </div>
    </div>
{%endblock%}