{%extends "DevTool/base_layout_ru.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2>Инструменты для форматирования и сжатия:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/ru/json-formatter">JSON форматирование онлайн инструмент</a>
            <a class="table-link" href="/ru/json-minifier">JSON сжатие онлайн инструмент</a>
            <a class="table-link" href="/ru/xml-formatter">XML форматирование онлайн инструмент</a>
            <a class="table-link" href="/ru/xml-minifier">XML инструмент сжатия онлайн</a>
            <a class="table-link" href="/ru/json-to-xml">JSON в XML онлайн инструмент</a>
            <a class="table-link" href="/ru/xml-to-json">XML в JSON онлайн инструмент</a>
            <a class="table-link" href="/ru/html-beautifier">HTML форматирование онлайн инструмент</a>
            <a class="table-link" href="/ru/html-minifier">HTML сжатие онлайн инструмент</a>
            <a class="table-link" href="/ru/javascript-beautifier">Онлайн инструмент для форматирования Javascript</a>
            <a class="table-link" href="/ru/javascript-minifier">Онлайн-инструмент для сжатия Javascript</a>
            <a class="table-link" href="/ru/css-beautifier">CSS форматирование онлайн инструмент</a>
            <a class="table-link" href="/ru/css-minifier">CSS инструмент сжатия онлайн</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Инструменты для тестирования сети:</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/ru/my-ip-address">Мой запрос IP-адреса</a>
            <a class="table-link" href="/ru/ping">Пинг онлайн обнаружения</a>
            <a class="table-link" href="/ru/nslookup">DNS онлайн-запрос</a>
            <a class="table-link" href="/ru/traceroute">Отслеживание роутера</a>
            <a class="table-link" href="/ru/whois">Whois домен онлайн-запрос</a>
            <a class="table-link" href="/ru/port-checker">Порт онлайн обнаружения</a>
            <a class="table-link" href="/ru/url-encode">Интернет-кодирование URL</a>
            <a class="table-link" href="/ru/url-decode">Интернет-декодирование URL</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Инструменты для вычисления хэша и пароля:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/ru/md5">MD5 онлайн инструмент шифрования</a>
            <a class="table-link" href="/ru/sha1">SHA1 онлайн инструмент шифрования</a>
            <a class="table-link" href="/ru/sha224">SHA224 онлайн инструмент шифрования</a>
            <a class="table-link" href="/ru/sha256">SHA256 онлайн инструмент шифрования</a>
            <a class="table-link" href="/ru/sha384">SHA384 онлайн инструмент шифрования</a>
            <a class="table-link" href="/ru/sha512">SHA512 онлайн инструмент шифрования</a>
            <a class="table-link" href="/ru/base64-encode">BASE64 онлайн инструмент для кодирования</a>
            <a class="table-link" href="/ru/base64-decode">BASE64 онлайн инструмент для декодирования</a>
            <a class="table-link" href="/ru/password-generator">Онлайн инструмент для генерации случайных паролей</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Инструмент преобразования цифр:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/ru/hex-to-decimal">Шестнадцатеричное в десятичное преобразование</a>
            <a class="table-link" href="/ru/decimal-to-hex">Десятичное в шестнадцатеричное преобразование</a>
            <a class="table-link" href="/ru/octal-to-decimal">Восьмеричное и десятичное преобразование</a>
            <a class="table-link" href="/ru/decimal-to-octal">Десятичное в восьмеричное преобразование</a>
            <a class="table-link" href="/ru/binary-to-decimal">Двоично-десятичное преобразование</a>
            <a class="table-link" href="/ru/decimal-to-binary">Десятичное в двоичное преобразование</a>
            <a class="table-link" href="/ru/ascii-table">Таблица поиска ASCII</a>
            <a class="table-link" href="/ru/hex-to-ascii">Шестнадцатеричное преобразование в ASCII-строку</a>
            <a class="table-link" href="/ru/ascii-to-hex">ASCII-строка в шестнадцатеричное преобразование</a>
            <a class="table-link" href="/ru/fraction-to-decimal">Дробь в десятичное преобразование</a>
            <a class="table-link" href="/ru/decimal-to-fraction">Дробное преобразование в дробное</a>
            <a class="table-link" href="/ru/percent-to-decimal">Процент в десятичное преобразование</a>
            <a class="table-link" href="/ru/decimal-to-percent">Десятичное в процентное преобразование</a>
            <a class="table-link" href="/ru/percent-to-fraction">Процент к дробному преобразованию</a>
            <a class="table-link" href="/ru/fraction-to-percent">Оценка в процентах</a>
            <a class="table-link" href="/ru/hex-to-rgb">Преобразование шестнадцатеричного цвета в RGB</a>
            <a class="table-link" href="/ru/rgb-to-hex">Преобразование цветов RGB в Hex</a>
            <a class="table-link" href="/ru/hex-to-rgba">Преобразование шестнадцатеричного цвета в RGBA</a>
            <a class="table-link" href="/ru/rgba-to-hex">Преобразование цветов RGBA в Hex</a>
            <a class="table-link" href="/ru/roman-numerals-chart">Сравнительная таблица римских цифр 1-1000</a>
            <a class="table-link" href="/ru/roman-numerals-to-numbers">Преобразование римских цифр в арабские цифры</a>
            <a class="table-link" href="/ru/numbers-to-roman-numerals">Конвертация арабских цифр в римские</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>на{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/blog">Мой блог</a>
        </div>
    </div>
{%endblock%}