{%extends "DevTool/base_layout_id.html"%}
{%block content%}
    <div id="headline">
        <br/>
        <h1>{{model.bodyTitle}}</h1>
        {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
    </div>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description" class="center">
        <header><h2>Format & Kompres Alat Terkait:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/id/json-formatter">Alat format online JSON</a>
            <a class="table-link" href="/id/json-minifier">Alat online kompresi JSON</a>
            <a class="table-link" href="/id/xml-formatter">Alat format online XML</a>
            <a class="table-link" href="/id/xml-minifier">Alat online kompresi XML</a>
            <a class="table-link" href="/id/json-to-xml">JSON ke alat XML online</a>
            <a class="table-link" href="/id/xml-to-json">Alat XML to JSON online</a>
            <a class="table-link" href="/id/html-beautifier">Alat pemformatan online HTML</a>
            <a class="table-link" href="/id/html-minifier">Alat online kompresi HTML</a>
            <a class="table-link" href="/id/javascript-beautifier">Alat online pemformatan Javascript</a>
            <a class="table-link" href="/id/javascript-minifier">Alat online kompresi Javascript</a>
            <a class="table-link" href="/id/css-beautifier">Alat pemformatan online CSS</a>
            <a class="table-link" href="/id/css-minifier">Alat online kompresi CSS</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Alat terkait uji jaringan:</h2><div class="h2-highlight"></div></header>
        <div class="table tool-list">
            <a class="table-link" href="/id/my-ip-address">Permintaan alamat IP saya</a>
            <a class="table-link" href="/id/ping">Ping deteksi online</a>
            <a class="table-link" href="/id/nslookup">Permintaan DNS online</a>
            <a class="table-link" href="/id/traceroute">Pelacakan router</a>
            <a class="table-link" href="/id/whois">Whois domain online inquiry</a>
            <a class="table-link" href="/id/port-checker">Deteksi port online</a>
            <a class="table-link" href="/id/url-encode">Pengkodean URL online</a>
            <a class="table-link" href="/id/url-decode">Penguraian URL online</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Perhitungan hash & alat terkait kata sandi:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/id/md5">Alat enkripsi online MD5</a>
            <a class="table-link" href="/id/sha1">Alat enkripsi online SHA1</a>
            <a class="table-link" href="/id/sha224">Alat enkripsi online SHA224</a>
            <a class="table-link" href="/id/sha256">Alat enkripsi online SHA256</a>
            <a class="table-link" href="/id/sha384">Alat enkripsi online SHA384</a>
            <a class="table-link" href="/id/sha512">Alat enkripsi online SHA512</a>
            <a class="table-link" href="/id/base64-encode">Alat pengkodean online BASE64</a>
            <a class="table-link" href="/id/base64-decode">Alat decoding online BASE64</a>
            <a class="table-link" href="/id/password-generator">Alat pembuatan kata sandi acak online</a>
            <br style="clear:both;"/>
        </div>
        <header><h2>Alat konversi angka:</h2><div class="h2-highlight"></div></header>
        <div class="tool-list">
            <a class="table-link" href="/id/hex-to-decimal">Konversi heksadesimal ke desimal</a>
            <a class="table-link" href="/id/decimal-to-hex">Konversi desimal ke heksadesimal</a>
            <a class="table-link" href="/id/octal-to-decimal">Oktal ke konversi desimal</a>
            <a class="table-link" href="/id/decimal-to-octal">Konversi desimal ke oktal</a>
            <a class="table-link" href="/id/binary-to-decimal">Konversi biner ke desimal</a>
            <a class="table-link" href="/id/decimal-to-binary">Konversi desimal ke biner</a>
            <a class="table-link" href="/id/ascii-table">Tabel pencarian ASCII</a>
            <a class="table-link" href="/id/hex-to-ascii">Konversi string heksadesimal ke ASCII</a>
            <a class="table-link" href="/id/ascii-to-hex">String ASCII ke konversi heksadesimal</a>
            <a class="table-link" href="/id/fraction-to-decimal">Konversi pecahan ke desimal</a>
            <a class="table-link" href="/id/decimal-to-fraction">Konversi fraksional ke fraksional</a>
            <a class="table-link" href="/id/percent-to-decimal">Persentase ke konversi desimal</a>
            <a class="table-link" href="/id/decimal-to-percent">Konversi desimal ke persentase</a>
            <a class="table-link" href="/id/percent-to-fraction">Persentase konversi fraksi</a>
            <a class="table-link" href="/id/fraction-to-percent">Skor ke persentase konversi</a>
            <a class="table-link" href="/id/hex-to-rgb">Konversi warna hex ke warna RGB</a>
            <a class="table-link" href="/id/rgb-to-hex">Konversi warna RGB ke Hex color</a>
            <a class="table-link" href="/id/hex-to-rgba">Hex warna ke konversi warna RGBA</a>
            <a class="table-link" href="/id/rgba-to-hex">Konversi warna RGBA ke Hex</a>
            <a class="table-link" href="/id/roman-numerals-chart">Tabel perbandingan angka Romawi 1-1000</a>
            <a class="table-link" href="/id/roman-numerals-to-numbers">Konversi angka Romawi ke angka Arab</a>
            <a class="table-link" href="/id/numbers-to-roman-numerals">Konversi angka Arab ke angka Romawi</a>
            <br style="clear:both;"/>
        </div>
        <br/>
        <div class="mention">
            <header><h2>Tentang{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
            <a class="table-link" href="/blog">Blog saya</a>
        </div>
    </div>
{%endblock%}