{%extends "MyIpAddress/en/base_layout.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Paste input or drag file in here."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Clear</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">URL Encode</button>
    <button type="button" id="downloadastxt" class="btn btn-secondary" onclick="download_editor2_as_txt('url_encode_result.txt')"><i class="fas fa-file-download"></i> Save Result</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copy Result</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="url encode result will show up here."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>About {{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>URL Encode Conversion Chart:</h2><div class="h2-highlight"></div></header>
    <table class="descriptionTable">
        <tr>
            <th>!</th>
            <th>#</th>
            <th>$</th>
            <th>&</th>
            <th>'</th>
            <th>(</th>
            <th>)</th>
            <th>*</th>
            <th>+</th>
            <th>,</th>
            <th>/</th>
            <th>:</th>
            <th>;</th>
            <th>=</th>
            <th>?</th>
            <th>@</th>
            <th>[</th>
            <th>]</th>
        </tr>
        <tr>
            <td>%21</td>
            <td>%23</td>
            <td>%24</td>
            <td>%26</td>
            <td>%27</td>
            <td>%28</td>
            <td>%29</td>
            <td>%2A</td>
            <td>%2B</td>
            <td>%2C</td>
            <td>%2F</td>
            <td>%3A</td>
            <td>%3B</td>
            <td>%3D</td>
            <td>%3F</td>
            <td>%40</td>
            <td>%5B</td>
            <td>%5D</td>
        </tr>
    </table>
    <br>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-url-encode.png" alt="comic url encode">
    </div>
    <header><h2>Why URL Encoding is important?</h2><div class="h2-highlight"></div></header>
    <p>HTTP GET request often contains parameters. However, the potential unsafe ASCII within parameters can mess up the server. To address this problem, browser will automatically replace unsafe ASCII characters with %
        followed by 2 numbers. For example '&' will be replaced by <code>'%26'</code> and space will be replaced by <code>'%20'</code>.</p>
    <p><b>Example: </b>Url can contains various of parameters, sometime url contain another url as a parameter. For example:</p>
    <pre class="prettyprint linenums">https://www.google.com/url?sa=t&source=web&rct=j&url=https://wordpress.org</pre>
    <p>In this case, web server will be confused, so the browser encode all the parameters to:</p>
    <pre class="prettyprint linenums">https://www.google.com/url?sa%3Dt%26source%3Dweb%26rct%3Dj%26url%3Dhttps%3A%2F%2Fwordpress.org</pre>
    <header><h2>Does URL Encode Online Tool log my data?</h2><div class="h2-highlight"></div></header>
    <p>Absolutely <b>NOT</b>, this URL Encode doing all the formatting work on the client side, all logic are implemented by Javascript. There are 2 major advantages: 1.Your data never transmitted in the Open Internet, so you know it's secure; 2.It's much faster than doing all the work in the server side, because there is no Internet Delay.</p>
    <header><h2>URL Encode with Python:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import urllib.parse

def url_encode(input_str):
    output_msg = urllib.parse.quote(input_str).strip()
    return output_msg
    </pre>
    <header><h2>URL Encode with Java:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.io.UnsupportedEncodingException;
import java.net.URLEncoder;

public class URL {
    public static String url_encode(String url) throws UnsupportedEncodingException {
        return URLEncoder.encode(url, "UTF-8");
    }

    public static void main(String[] args) throws UnsupportedEncodingException {
        String result = url_encode("https://maps.google.com/maps?ll=37.413323,-122.081267&z=11&q=Mountain View California USA");
        System.out.println(result);
    }
}

-------------------
https%3A%2F%2Fmaps.google.com%2Fmaps%3Fll%3D37.413323%2C-122.081267%26z%3D11%26q%3DMountain+View+California+USA
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
    });

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        calacuate_url_encode();
        finished_spin_hidden();
    }

    editor1.on('change', function () {
        $('#spinner').css('visibility', 'visible');
        calacuate_url_encode();
        finished_spin_hidden();
    });

    function calacuate_url_encode() {
        editor2.setValue("Invalid Input");
        editor2.setValue(encodeURIComponent(editor1.getValue()));
    }
</script>
{%endblock%}