{%extends "JsonFormatter/cn/base_layout_cn.html"%}
<header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size16codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px"placeholder="请在这里输入或者拖入文本文件."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">示例</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">格式化XML</button>
    <button type="button" id="downloadastxt" class="btn btn-secondary" onclick="download_editor2_as_txt('result.xml')"><i class="fas fa-file-download"></i> 保存结果</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 复制结果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="xml格式化结果将会显示在这里."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p>即使输入字符串不符合正式的XML语法,此工具也可以强制格式化错误的XML字符串.</p>
    <header><h2>XML对于JSON的优点:</h2><div class="h2-highlight"></div></header>
    <p>XML比JSON更具可扩展性,XML可以使用标记和属性来表示数据中的复杂关系.</p>
    <p>XML比JSON使用得更广泛,并且历史比JSON更长,HTML也是XML的一种. 这意味着更多人可以理解XML数据.</p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-xml-formatter.png" alt="comic xml formatter">
    </div>
    <header><h2>更多关于XML的链接 (Extensible Markup Language):</h2><div class="h2-highlight"></div></header>
    <p>RFC 3470 (XML): <a rel="nofollow" href="https://tools.ietf.org/html/rfc3470" target="_blank">https://tools.ietf.org/html/rfc3470</a></p>
    <p>Python中的XML (BeautifulSoup): <a rel="nofollow" href="https://www.crummy.com/software/BeautifulSoup/" target="_blank">https://www.crummy.com/software/BeautifulSoup/</a></p>
    <p>Java中的XML (dom4j): <a rel="nofollow" href="https://dom4j.github.io/" target="_blank">https://dom4j.github.io/</a></p>
    <header><h2>用Python格式化XML字符串 (用 package xml.dom):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
from xml.dom import minidom


def format_xml(input_str):
    str = minidom.parseString(input_str)
    output_str = str.toprettyxml(indent="    ")
    return output_str
    </pre>
    <header><h2>用Java格式化XML字符串 (用 package dom4j):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import org.dom4j.Document;
import org.dom4j.DocumentHelper;
import org.dom4j.io.OutputFormat;
import org.dom4j.io.XMLWriter;

public String Format(String xmlStr){
    Document document=DocumentHelper.parseText(xmlStr);
    OutputFormat format=OutputFormat.createPrettyPrint();
    format.setIndentSize(4);
    StringWriter stringWriter=new StringWriter();
    XMLWriter writer=new XMLWriter(stringWriter,format);
    writer.write(document);
    String resultStr=stringWriter.toString();
    return resultStr;
}
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/xml-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = "<?xml version=\"1.0\" encoding=\"UTF-8\"?><person><firstName>John</firstName><lastName>Smith</lastName><age>25</age><address><streetAddress>21 2nd Street</streetAddress><city>New York</city><state>NY</state><postalCode>10021</postalCode></address><phoneNumber><type>home</type><number>212 555-1234</number></phoneNumber><phoneNumber><type>fax</type><number>646 555-4567</number></phoneNumber><gender><type>male</type></gender></person>";

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            var XMLString = editor1.getValue();
            var minify = require('html-minifier').minify;
            XMLString = minify(XMLString, {
                collapseWhitespace: true,
                minifyJS: true,
                minifyCSS: true,
                removeComments: true,
            });
            XMLString = vkbeautify.xml(XMLString);
            editor2.setValue(XMLString);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
<script src="/js/vkbeautify.js"></script>
{%endblock%}