{%extends "HexToDecimal/jp/base_layout_jp.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">進数<sub>16</sub></span>
        </div>
        <input name="queryStr" id="QueryStr" type="text" class="form-control" spellcheck="false" oninput="query()">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 空です</button>
    <a href="/jp/decimal-to-hex" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> 交換場所</button>
    </a>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">変換</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> コピー結果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">10進数<sub>10</sub></span>
    </div>
    <input name="queryStr" id="DecimalOutput" type="text" class="form-control" spellcheck="false">
</div>
<br>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">8進数<sub>8</sub></span>
    </div>
    <input name="queryStr" id="OctalOutput" type="text" class="form-control" spellcheck="false">
</div>
<br>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">バイナリ<sub>2</sub></span>
    </div>
    <input name="queryStr" id="BinaryOutput" type="text" class="form-control" spellcheck="false">
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>について{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>六角(六角):</h2><div class="h2-highlight"></div></header>
    <p> 16進数体系は、 <code>(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)</code>と<code>(a, b, e, d, e, f)</code>を含む16文字で構成されます.6文字16進数システムは任意のバイナリ文字列を読み取り可能に表現できるため、コンピュータサイエンスで広く使用されていますSHA256ハッシュ文字列は通常、HTMLで使用される16進数スタイルの文字列として表示されます.表色系は、＃000000(真っ黒)から#FFFFFF(真っ白)までの16進数で表すこともできます. </p>
    <header><h2>10進数:</h2><div class="h2-highlight"></div></header>
    <p> (アラビア語としても知られている)10進数システムは、 <code>(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)</code> )を含む10文字を持ちます. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-hex-to-decimal.png" alt="comic hex to decimal">
    </div>
    <header><h2>16進数から10進数に変換する方法は？</h2><div class="h2-highlight"></div></header>
    <p>次の画像で表されるn桁の16進数の場合</p>
    <div class="math">d<sub>n-1</sub>d<sub>n-2</sub>...d<sub>2</sub>d<sub>1</sub>d<sub>0</sub></div>
    <p>数字の各桁について、対応する16の累乗を掛けます. </p>
    <div class="math">Decimal Output = d<sub>n-1</sub> × 16<sup>n-1</sup> + ... + d<sub>1</sub> × 16<sup>1</sup> + d<sub>0</sub> × 16<sup>0</sup></div>
    <p>例1：16進数 "F4"を10進数に変換する</p>
    <div class="math">Decimal Output = 15 × 16<sup>1</sup> + 4 × 16<sup>0</sup> = 244</div>
    <p>例2：16進数 "B29E"を10進数に変換します. </p>
    <div class="math">Decimal Output = 11 × 16<sup>3</sup> + 2 × 16<sup>2</sup> + 9 × 16<sup>1</sup> + 14 × 16<sup>0</sup> = 45726</div>
    <p>例3：16進数 "3.14"を10進数に変換する</p>
    <div class="math">Decimal Output = 3 × 16<sup>0</sup> + 1 × 16<sup>-1</sup> + 4 × 16<sup>-2</sup> = 3.078125</div>
    <header><h2>16進数から10進数への変換表:</h2><div class="h2-highlight"></div></header>
    <table class="descriptionTable">
        <tr>
            <th>六角</th>
            <th> 10進数</th>
            <th>六角</th>
            <th> 10進数</th>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>20</td>
            <td>32</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>30</td>
            <td>48</td>
        </tr>
        <tr>
            <td>3</td>
            <td>3</td>
            <td>40</td>
            <td>64</td>
        </tr>
        <tr>
            <td>4</td>
            <td>4</td>
            <td>50</td>
            <td>80</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>60</td>
            <td>96</td>
        </tr>
        <tr>
            <td>6</td>
            <td>6</td>
            <td>70</td>
            <td>112</td>
        </tr>
        <tr>
            <td>7</td>
            <td>7</td>
            <td>80</td>
            <td>128</td>
        </tr>
        <tr>
            <td>8</td>
            <td>8</td>
            <td>90</td>
            <td>144</td>
        </tr>
        <tr>
            <td>9</td>
            <td>9</td>
            <td>A0</td>
            <td>160</td>
        </tr>
        <tr>
            <td>A</td>
            <td>10</td>
            <td>B0</td>
            <td>176</td>
        </tr>
        <tr>
            <td>B</td>
            <td>11</td>
            <td>C0</td>
            <td>192</td>
        </tr>
        <tr>
            <td>C</td>
            <td>12</td>
            <td>D0</td>
            <td>208</td>
        </tr>
        <tr>
            <td>D</td>
            <td>13</td>
            <td>E0</td>
            <td>224</td>
        </tr>
        <tr>
            <td>E</td>
            <td>14</td>
            <td>F0</td>
            <td>240</td>
        </tr>
        <tr>
            <td>F</td>
            <td>15</td>
            <td>100</td>
            <td>256</td>
        </tr>
        <tr>
            <td>10</td>
            <td>16</td>
            <td>200</td>
            <td>512</td>
        </tr>
        <tr>
            <td>11</td>
            <td>17</td>
            <td>300</td>
            <td>768</td>
        </tr>
        <tr>
            <td>12</td>
            <td>18</td>
            <td>1000</td>
            <td>4096</td>
        </tr>
        <tr>
            <td>13</td>
            <td>19</td>
            <td>2000</td>
            <td>8192</td>
        </tr>
        <tr>
            <td>14</td>
            <td>20</td>
            <td>3000</td>
            <td>12288</td>
        </tr>
    </table>
    <br>
    <header><h2>リンク:</h2><div class="h2-highlight"></div></header>
    <p>ウィキペディア(16進数): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Hexadecimal" target="_blank">https://en.wikipedia.org/wiki/Hexadecimal</a></p>
    <p>ウィキペディア(10進数): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Decimal" target="_blank">https://en.wikipedia.org/wiki/Decimal</a></p>
    <header><h2>Pythonでの16進数から10進数への変換:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">def hex_to_decimal(hex_str):
    decimal_number = int(hex_str, 16)
    return decimal_number


hex_input = 'ccccccccc'
decimal_output = hex_to_decimal(hex_input)
print('decimal result is:{0}'.format(decimal_output))

-------------------
decimal result is:54975581388</pre>
    <header><h2>Javaでの16進数から10進数への変換:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
public class NumberConvertManager {
    public static int hex_to_decimal(String hex_str) {
        return Integer.parseInt(hex_str, 16);
    }

    public static void main(String[] args) {
        String hex_input = "f4";
        int decimal_output = hex_to_decimal(hex_input);
        System.out.println("decimal result is:" + decimal_output);
    }
}

-------------------
decimal result is:244</pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var QueryStr = document.getElementById("QueryStr");
    var DecimalOutput = document.getElementById("DecimalOutput");
    var OctalOutput = document.getElementById("OctalOutput");
    var BinaryOutput = document.getElementById("BinaryOutput");


    function query() {
        $('#spinner').css('visibility', 'visible');
        DecimalOutput.value = "";
        OctalOutput.value = "";
        BinaryOutput.value = "";
        var input_value = QueryStr.value.replace(new RegExp(" ", 'g'), "");
        if (input_value != "") {
            input_value = new BigNumber(input_value, 16);
            var output_decimal = input_value.toString(10);
            var output_octal = input_value.toString(8);
            var output_binary = input_value.toString(2);
            DecimalOutput.value = output_decimal;
            OctalOutput.value = output_octal;
            BinaryOutput.value = output_binary;
        }
        finished_spin_hidden();
    }

    function clear_txt() {
        QueryStr.value = "";
        DecimalOutput.value = "";
        OctalOutput.value = "";
        BinaryOutput.value = "";
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        DecimalOutput.focus();
        DecimalOutput.select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}