{%extends "HexToDecimal/jp/base_layout_jp.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="ここにテキストファイルを入力またはドラッグしてください."></textarea>
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 空です</button>
    <a href="/jp/ascii-to-hex" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> 交換場所</button>
    </a>
    <button type="button" id="load_example" class="btn btn-secondary" onclick="loadexample()">例</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">変換</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> コピー結果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="アスキーの結果はここに表示されます."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>について{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p>サポートされている16進配列分割記号には、 <code>("", " ", "0x", "0X", "\0x", "\0X", "\x", "\X", "\n", "\t")</code> </p>
    <header><h2>六角(六角):</h2><div class="h2-highlight"></div></header>
    <p> 16進数体系は、 <code>(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)</code>と<code>(a, b, e, d, e, f)</code>を含む16文字で構成されます.6文字16進数システムは任意のバイナリ文字列を読み取り可能に表現できるため、コンピュータサイエンスで広く使用されていますSHA256ハッシュ文字列は通常、HTMLで使用される16進数スタイルの文字列として表示されます.表色系は、＃000000(真っ黒)から#FFFFFF(真っ白)までの16進数で表すこともできます. </p>
    <header><h2>ASCIIコーディング規格:</h2><div class="h2-highlight"></div></header>
    <p> ASCII(情報交換用米国標準コードは)最も広く使用される標準的なASCIIは7ビット長、128種類の文字の合計を持っている文字エンコーディングの標準である.拡張ASCIIは8ビット長、256種類の文字があります.著作権記号<code>©</code>定義拡張ASCIIテーブル内</p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-hex-to-ascii.png" alt="comic hex to ascii">
    </div>
    <header><h2>リンク:</h2><div class="h2-highlight"></div></header>
    <p>ウィキペディア(16進数): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Hexadecimal" target="_blank">https://en.wikipedia.org/wiki/Hexadecimal</a></p>
    <p>ウィキペディア(ASCII): <a rel="nofollow" href="https://en.wikipedia.org/wiki/ASCII" target="_blank">https://en.wikipedia.org/wiki/ASCII</a></p>
    <header><h2>Pythonでの16進数からASCII文字列への変換:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">import binascii


def hex_to_ascii(hex_str):
    hex_str = hex_str.replace(' ', '').replace('0x', '').replace('\t', '').replace('\n', '')
    ascii_str = binascii.unhexlify(hex_str.encode())
    return ascii_str


hex_input = '54 68 69 73 20 69 73 20 61 6e 20 65 78 61 6d 70 6c 65 2e'
ascii_output = hex_to_ascii(hex_input)
print('ascii result is:{0}'.format(ascii_output))

-------------------
ascii result is:b'This is an example.'</pre>
    <header><h2>Javaでの16進数からASCII文字列への変換:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
public class NumberConvertManager {
    public static String hex_to_ascii(String hex_str) {
        hex_str = hex_str.replace(" ", "").replace("0x", "").replace("\\x", "");
        StringBuilder ascii_str = new StringBuilder();
        for (int i = 0; i < hex_str.length(); i += 2) {
            String str = hex_str.substring(i, i + 2);
            ascii_str.append((char) Integer.parseInt(str, 16));
        }
        return ascii_str.toString();
    }

    public static void main(String[] args) {
        String hex_input  = "54 68 69 73 20 69 73 20 61 6e 20 65 78 61 6d 70 6c 65 2e";
        String ascii_output  = hex_to_ascii(hex_input);
        System.out.println("ascii result is:" + ascii_output );
    }
}

-------------------
ascii result is:This is an example.
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/display/placeholder.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    editor1.on('change', function () {
        query();
    });

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("Invalid Input");
        editor2.setValue(hex_to_ascii(editor1.getValue()));
        finished_spin_hidden();
    }

    function hex_to_ascii(input_str) {
        var str = '';
        input_str_list = input_str.split(/ |0x|0X|\\0x|\\0X|\\x|\\X|\n|\t/);
        for (var i = 0; (i < input_str_list.length && input_str_list[i] !== '00'); i += 1)
            str += hex_to_ascii_one_str(input_str_list[i]);
        return str;
    }

    function hex_to_ascii_one_str(input_str) {
        var str = '';
        for (var i = 0; (i < input_str.length && input_str.substr(i, 2) !== '00'); i += 2)
            str += String.fromCharCode(parseInt(input_str.substr(i, 2), 16));
        return str;
    }

    function loadexample() {
        clear_txt();
        editor1.setValue("54 68 69 73 20 69 73 20 61 6e 20 65 78 61 6d 70 6c 65 2e");
        $('#submit_button').trigger('click');
    }

    function clear_txt() {
        editor1.setValue("");
        editor2.setValue("");
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        editor2.focus();
        editor2.execCommand("selectAll");
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}