<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ model.cdnjs_version_bootstrap }}/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/{{ model.cdnjs_version_crypto_js }}/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit_button").click(function () {
            post_ajax();
        });
    });

    if (document.getElementById('code1')) {
        editor1.on('change', function () {
            post_ajax();
        });
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        let result_str = work(editor1.getValue());

        if ($('#UpperCase').length) {
            if (document.getElementById("UpperCase").value === "u") {
                editor2.setValue(result_str.toUpperCase());
            } else {
                editor2.setValue(result_str.toLowerCase());
            }
        } else {
            editor2.setValue(result_str);
        }

        finished_spin_hidden();
    }

    function cleartxt() {
        editor1.setValue("");
        editor2.setValue("");
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        editor2.focus();
        editor2.execCommand("selectAll");
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }

    function reset_option() {
        document.getElementById('options').reset();
        editor2.setValue("");
    }

    function example() {
        cleartxt();
        editor1.setValue("{\"firstName\":\"John\",\"lastName\":\"Smith\",\"age\":25,\"address\":{\"streetAddress\":\"21 2nd Street\",\"city\":\"New York\",\"state\":\"NY\",\"postalCode\":\"10021\"},\"phoneNumber\":[{\"type\":\"home\",\"number\":\"212 555-1234\"},{\"type\":\"fax\",\"number\":\"646 555-4567\"}],\"gender\":{\"type\":\"male\"}}");
        if ($('#LiveModeSwitch').val() == "OFF") {
            $('#submit_button').trigger('click');
        }
    }
</script>
{% include "Common/seg_unit_bottom_js.html" %}