{%extends "ImageUtilities/cn/base_layout_cn.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<br/>
<div id="dropz" class="dropzone"></div>
<br/>
<div class="buttoncenter">
    <button type="button" class="btn btn-secondary" onclick="clear_queue()"><i class="far fa-trash-alt"></i> 重置</button>
    <button type="button" id="DownloadAllButton" class="btn btn-primary disabled"><i class="fas fa-file-download"></i> 下载全部</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</div>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/20190308/cartoon_compress_png.png" alt="cartoon compress png">
    </div>
    <header><h2>PNG格式图片为什么能支持透明背景?</h2><div class="h2-highlight"></div></header>
    <p>JPEG格式图片用RGB颜色表示每个像素, PNG格式图片用RGBA颜色表示每个像素. 'A'代表 <code>透明的</code>, 当背景的透明度为 <code>0%</code>时, 背景显示为透明.</p>
    <header><h2>PNG vs JPEG 图片格式对比:</h2><div class="h2-highlight"></div></header>
    <table class="descriptionTable">
        <tr>
            <th>对比内容</th>
            <th>PNG</th>
            <th>JPEG</th>
        </tr>
        <tr>
            <td><b>压缩级别</b></td>
            <td>无损压缩</td>
            <td>有损压缩</td>
        </tr>
        <tr>
            <td><b>EXIF</b></td>
            <td>不支持EXIF</td>
            <td>支持EXIF</td>
        </tr>
        <tr>
            <td><b>透明</b></td>
            <td>支持透明</td>
            <td>不支持透明</td>
        </tr>
        <tr>
            <td><b>用途</b></td>
            <td>生成图像</td>
            <td>照片</td>
        </tr>
    </table>
    <header><h2>本站图片缓存:</h2><div class="h2-highlight"></div></header>
    <p>所有上传的图片会在1小时后删除, 请尽快下载生成的结果文件. 请不要把本网站当作图片存储服务器.</p>
    <header><h2>用Python压缩PNG (用Pillow):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">from PIL import Image # pip3 install pillow

origin_file_path = './origin.png'
compressed_file_path = './compressed.png'

original_image = Image.open(origin_file_path)
original_image.convert('P')
original_image.save(compressed_file_path, optimize=True, quality=80)</pre>
</div>
{%endblock%}
{%block customPageJS%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/{{model.cdnjs_version_drop_zone}}/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/{{model.cdnjs_version_drop_zone}}/min/dropzone.min.css"/>
<script src="/js/cocoen.js"></script>
<link rel="stylesheet" href="/css/cocoen.css"/>
<script>
    var session_cookie = Math.random() * 10000000;
    Dropzone.autoDiscover = false;
    var dropzone = new Dropzone("div#dropz", { url: "/compress-png",
        maxFiles: 20,
        maxFilesize: 10,
        dictDefaultMessage: '<i class="fas fa-upload"></i> 点击或拖拽文件上传.<br/><br/>最多20张图片<br/>每张图片最大10Mb',
    });
    document.addEventListener('DOMContentLoaded', function(){
        new Cocoen();
    });
    dropzone.on("sending", function(file, xhr, formData) {
      formData.append("session", session_cookie);
      $('#spinner').css('visibility', 'visible');
    });
    dropzone.on("success", function (file, response) {
        var result_link = document.createElement('span');
        result_link.setAttribute('class', 'imageresultlink');
        result_link.innerHTML = JSON.parse(response)['compress_rate'];
        file.previewTemplate.appendChild(result_link);

        var download_link = document.createElement('a');
        download_link.setAttribute('href', JSON.parse(response)['download_file_path']);
        download_link.setAttribute('class', 'imagedownloadbutton');
        download_link.innerHTML = "下载";
        file.previewTemplate.appendChild(download_link);
      });
    dropzone.on("queuecomplete", function (file) {
        $.post( "/compress-png",
            {
                session: session_cookie,
                finish: "finished"
            },
            function( response ) {
                $("#DownloadAllButton").on("click", function(){ window.location.href = JSON.parse(response)['download_file_path'] });
                $("#DownloadAllButton").removeClass("disabled");
                finished_spin_hidden();
            });
        });
    
    function clear_queue() {
        dropzone.removeAllFiles();
        session_cookie = Math.random() * 10000000;
        $("#DownloadAllButton").removeAttr("onclick");
        $("#DownloadAllButton").addClass("disabled");
        finished_spin_hidden();
    }
</script>
{%endblock%}