{%extends "HexToDecimal/pt/base_layout_pt.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Por favor, insira ou arraste um arquivo de texto aqui."></textarea>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Divisor</span>
        </div>
        <select class="form-control custom-select" name="Delimiter" id="Delimiter" oninput="query()">
            <option value="">Nenhum (sem espaço)</option>
            <option value=" " selected>Espaço</option>
            <option value="0x">0x (com LowerCase 'x')</option>
            <option value="0X">0X (com UpperCase 'X')</option>
            <option value="\0x">\ 0x (com LowerCase 'x')</option>
            <option value="\0X">\ 0X (com UpperCase 'X')</option>
            <option value="\x">\ x (com LowerCase 'x')</option>
            <option value="\X">\ X (com UpperCase 'X')</option>
        </select>
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Vazio</button>
    <a href="/pt/hex-to-ascii" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> Localização do Exchange</button>
    </a>
    <button type="button" id="load_example" class="btn btn-secondary" onclick="loadexample()">Exemplo</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Conversão</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copiar resultado</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="O resultado hexadecimal será exibido aqui."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Sobre{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p> Símbolos divididos de matriz hexadecimais suportados incluem <code>("", " ", "0x", "0X", "\0x", "\0X", "\x", "\X")</code> . </p>
    <header><h2>Padrão de codificação ASCII:</h2><div class="h2-highlight"></div></header>
    <p> ASCII (American Standard Code Information Interchange ) é um padrão de codificação de caracteres ASCII padrão mais amplamente utilizado tem comprimento de 7 bits, um total de 128 caracteres diferentes. ASCII estendida tem comprimento de 8 bits, 256 caracteres diferentes. Símbolo dos direitos reservados <code>©</code> definição Na tabela ASCII estendida. </p>
    <header><h2>Hex (Hex):</h2><div class="h2-highlight"></div></header>
    <p> O sistema numérico hexadecimal é composto por 16 caracteres, incluindo <code>(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)</code> mais <code>(a, b, e, d, e, f)</code> 6 Caractere Como o sistema numérico hexadecimal pode representar qualquer string binária de maneira legível, ele é amplamente usado na ciência da computação.Tipos de hash SHA256 são normalmente exibidos como strings de estilo hexadecimal, usadas em HTML. O sistema de cores também pode ser representado como números hexadecimais, de # 000000 (preto puro) a #FFFFFF (branco puro). </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-ascii-to-hex.png" alt="comic ascii to hex">
    </div>
    <header><h2>Link:</h2><div class="h2-highlight"></div></header>
    <p> Wikipédia (hex): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Hexadecimal" target="_blank">https://en.wikipedia.org/wiki/Hexadecimal</a></p>
    <p> Wikipedia (ASCII): <a rel="nofollow" href="https://en.wikipedia.org/wiki/ASCII" target="_blank">https://en.wikipedia.org/wiki/ASCII</a></p>
    <header><h2>String ASCII para conversão hexadecimal em Python:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">import binascii


def ascii_to_hex(ascii_str):
    hex_str = binascii.hexlify(ascii_str.encode())
    return hex_str


ascii_input = 'This is an example.'
hex_output = ascii_to_hex(ascii_input)
print('hex result is:{0}'.format(hex_output))

-------------------
hex result is:b'5468697320697320616e206578616d706c652e'</pre>
    <header><h2>String ASCII para conversão hexadecimal em Java:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
public class NumberConvertManager {
    public static String ascii_to_hex(String ascii_str) {
        StringBuilder hex_str = new StringBuilder();
        for (char ch : ascii_str.toCharArray()) {
            hex_str.append(Integer.toHexString((int) ch));
        }
        return hex_str.toString();
    }

    public static void main(String[] args) {
        String ascii_input = "This is an example.";
        String hex_output = ascii_to_hex(ascii_input);
        System.out.println("hex result is:" + hex_output);
    }
}

-------------------
hex result is:5468697320697320616e206578616d706c652e
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/display/placeholder.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    editor1.on('change', function () {
        query();
    });

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("Invalid Input");
        editor2.setValue(ascii_to_hex(editor1.getValue(), document.getElementById("Delimiter").value));
        finished_spin_hidden();
    }

    function ascii_to_hex(input_str, delimiter) {
        var arr1 = [];
        for (var n = 0, l = input_str.length; n < l; n++) {
            var hex = Number(input_str.charCodeAt(n)).toString(16);
            if (hex.length==1){
                hex = '0' + hex;
            }
            arr1.push(hex);
        }
        result = arr1.join(delimiter);
        if (delimiter != ' ') {
            result = delimiter + result;
        }
        return result;
    }

    function loadexample() {
        clear_txt();
        editor1.setValue("This is an example.");
        $('#submit_button').trigger('click');
    }

    function clear_txt() {
        editor1.setValue("");
        editor2.setValue("");
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        editor2.focus();
        editor2.execCommand("selectAll");
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}