{%extends "HexToDecimal/pt/base_layout_pt.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Por favor, insira ou arraste um arquivo de texto aqui."></textarea>
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Vazio</button>
    <a href="/pt/ascii-to-hex" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> Localização do Exchange</button>
    </a>
    <button type="button" id="load_example" class="btn btn-secondary" onclick="loadexample()">Exemplo</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Conversão</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copiar resultado</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Os resultados do Ascii serão exibidos aqui."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Sobre{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p> Símbolos divididos de matriz hexadecimais suportados incluem <code>("", " ", "0x", "0X", "\0x", "\0X", "\x", "\X", "\n", "\t")</code> . </p>
    <header><h2>Hex (Hex):</h2><div class="h2-highlight"></div></header>
    <p> O sistema numérico hexadecimal é composto por 16 caracteres, incluindo <code>(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)</code> mais <code>(a, b, e, d, e, f)</code> 6 Caractere Como o sistema numérico hexadecimal pode representar qualquer string binária de maneira legível, ele é amplamente usado na ciência da computação.Tipos de hash SHA256 são normalmente exibidos como strings de estilo hexadecimal, usadas em HTML. O sistema de cores também pode ser representado como números hexadecimais, de # 000000 (preto puro) a #FFFFFF (branco puro). </p>
    <header><h2>Padrão de codificação ASCII:</h2><div class="h2-highlight"></div></header>
    <p> ASCII (American Standard Code Information Interchange ) é um padrão de codificação de caracteres ASCII padrão mais amplamente utilizado tem comprimento de 7 bits, um total de 128 caracteres diferentes. ASCII estendida tem comprimento de 8 bits, 256 caracteres diferentes. Símbolo dos direitos reservados <code>©</code> definição Na tabela ASCII estendida. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-hex-to-ascii.png" alt="comic hex to ascii">
    </div>
    <header><h2>Link:</h2><div class="h2-highlight"></div></header>
    <p> Wikipédia (hex): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Hexadecimal" target="_blank">https://en.wikipedia.org/wiki/Hexadecimal</a></p>
    <p> Wikipedia (ASCII): <a rel="nofollow" href="https://en.wikipedia.org/wiki/ASCII" target="_blank">https://en.wikipedia.org/wiki/ASCII</a></p>
    <header><h2>Hexadecimal para conversão de string ASCII em Python:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">import binascii


def hex_to_ascii(hex_str):
    hex_str = hex_str.replace(' ', '').replace('0x', '').replace('\t', '').replace('\n', '')
    ascii_str = binascii.unhexlify(hex_str.encode())
    return ascii_str


hex_input = '54 68 69 73 20 69 73 20 61 6e 20 65 78 61 6d 70 6c 65 2e'
ascii_output = hex_to_ascii(hex_input)
print('ascii result is:{0}'.format(ascii_output))

-------------------
ascii result is:b'This is an example.'</pre>
    <header><h2>Hexadecimal para conversão de string ASCII em Java:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
public class NumberConvertManager {
    public static String hex_to_ascii(String hex_str) {
        hex_str = hex_str.replace(" ", "").replace("0x", "").replace("\\x", "");
        StringBuilder ascii_str = new StringBuilder();
        for (int i = 0; i < hex_str.length(); i += 2) {
            String str = hex_str.substring(i, i + 2);
            ascii_str.append((char) Integer.parseInt(str, 16));
        }
        return ascii_str.toString();
    }

    public static void main(String[] args) {
        String hex_input  = "54 68 69 73 20 69 73 20 61 6e 20 65 78 61 6d 70 6c 65 2e";
        String ascii_output  = hex_to_ascii(hex_input);
        System.out.println("ascii result is:" + ascii_output );
    }
}

-------------------
ascii result is:This is an example.
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/display/placeholder.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    editor1.on('change', function () {
        query();
    });

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("Invalid Input");
        editor2.setValue(hex_to_ascii(editor1.getValue()));
        finished_spin_hidden();
    }

    function hex_to_ascii(input_str) {
        var str = '';
        input_str_list = input_str.split(/ |0x|0X|\\0x|\\0X|\\x|\\X|\n|\t/);
        for (var i = 0; (i < input_str_list.length && input_str_list[i] !== '00'); i += 1)
            str += hex_to_ascii_one_str(input_str_list[i]);
        return str;
    }

    function hex_to_ascii_one_str(input_str) {
        var str = '';
        for (var i = 0; (i < input_str.length && input_str.substr(i, 2) !== '00'); i += 2)
            str += String.fromCharCode(parseInt(input_str.substr(i, 2), 16));
        return str;
    }

    function loadexample() {
        clear_txt();
        editor1.setValue("54 68 69 73 20 69 73 20 61 6e 20 65 78 61 6d 70 6c 65 2e");
        $('#submit_button').trigger('click');
    }

    function clear_txt() {
        editor1.setValue("");
        editor2.setValue("");
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        editor2.focus();
        editor2.execCommand("selectAll");
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}