{%extends "PasswordsGenerator/ru/base_layout_ru.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Пожалуйста, введите или перетащите текстовый файл здесь."></textarea>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">UpperCase</span>
        </div>
        <select class="form-control custom-select" name="UpperCase" id="UpperCase" oninput="post_ajax()">
            <option value="u" selected>Hash Result in UpperCase</option>
            <option value="l">Hash Result in LowerCase</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> ясно</button>
    <button type="button" id="submit_button" class="btn btn-primary">MD5 шифрование</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Скопировать результат</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Результат будет показан здесь."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>на{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-md5.png" alt="comic md5">
    </div>
    <header><h2>Зачем тебе MD5?</h2><div class="h2-highlight"></div></header>
    <p> Алгоритм хеширования, такой как MD5, является односторонним алгоритмом, что означает, что он необратим. Этот символ делает MD5 очень полезным для создания «отпечатков пальцев» в файле. Значение MD5 файла может доказать, что файл не был изменен. Алгоритм хеширования также Используется для защиты паролем. «Соль», хранящаяся в базе данных веб-сайта, и окончательное значение вашего исходного пароля необратимы, что означает, что даже если база данных взломана, хакер не сможет восстановить ваш пароль. </p>
    <header><h2>MD5 безопасно, я должен продолжать использовать это?</h2><div class="h2-highlight"></div></header>
    <p> Первый тип атаки называется <code>(rainbow tables)</code> . Это очень большая база данных, включающая короткую строку с соответствующим значением MD5. Например, если вы посмотрите на радужную таблицу <code>"FC5E038D38A57032085441E7FE7010B0"</code> , вы можете найти ее оригинал. Строка "helloworld". Если исходная строка короткая, радужная таблица может успешно расшифровать MD5. </p>
    <p> Вторая атака основана на базовом алгоритме MD5. В последние годы все больше и больше веб-сайтов переключаются на SHA256 или SHA512, однако многие веб-сайты по-прежнему используют MD5, что создает огромную скрытую угрозу безопасности Интернета. </p>
    <header><h2>Больше ссылок на MD5:</h2><div class="h2-highlight"></div></header>
    <p> RFC 1321: <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1321.txt" alt="MD5" target="_blank">https://www.ietf.org/rfc/rfc1321.txt</a></p>
    <p> MD5 в Python (hashlib): <a rel="nofollow" href="https://docs.python.org/3/library/hashlib.html" alt="MD5" target="_blank">https://docs.python.org/3/library/hashlib.html</a></p>
    <p> MD5 в Java: <a rel="nofollow" href="https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html" alt="MD5"
                                      target="_blank">https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html</a></p>
    <p> MD5 в PHP: <a rel="nofollow" href="http://php.net/manual/en/function.md5.php" alt="MD5" target="_blank">http://php.net/manual/en/function.md5.php</a></p>
    <header><h2>Рассчитать MD5-хеш строки в Python (с помощью hashlib пакета):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import hashlib

def md5_generator(str):
    m = hashlib.md5()
    m.update(str.encode())
    return m.hexdigest()
    </pre>
    <header><h2>Рассчитать MD5-хеш строки в Java (с пакетом MessageDigest):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.math.BigInteger;
import java.security.MessageDigest;

public String generate(String str){
    MessageDigest md = MessageDigest.getInstance("MD5");
    md.update(str.getBytes());
    byte[] digest = md.digest();
    String result = new BigInteger(1, digest).toString(16).toUpperCase();
    return result;
}
    </pre>
    <header><h2>Рассчитать MD5-хеш файла в Linux (с OpenSSL):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# openssl dgst -md5 access.log
MD5(access.log)= 742f23518e684f3562ffc9f983f190ba
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        return CryptoJS.MD5(input_str).toString();
    }
</script>
{%endblock%}