{%extends "JsonFormatter/ar/base_layout_ar.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size14codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="الرجاء إدخال أو سحب ملف نصي هنا."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> واضح</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">أمثلة</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">ضغط HTML</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> نسخ النتيجة</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size14codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="سيتم عرض نتائج ضغط html هنا."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>في{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>لماذا أحتاج إلى استخدام ضغط HTML؟</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> يمكن أن <code>"NPM html-minifier"</code> المساحات مساحة كبيرة وتؤثر على سرعة تحميل الصفحة ، وفقًا لمسح <code>"NPM html-minifier"</code> ، يمكن تقليل الصفحة الرئيسية لموقع New York Times من 223 كيلو بايت إلى 152 كيلو بايت (بنسبة 31.8٪) ، ويمكن تقليل الصفحة الرئيسية للتويتر من 143 كيلوبايت إلى 107 كيلوبايت (نزولاً 25.1). تستخدم مواقع الويب التي تتمتع بحركة مرور كبيرة مثل Google حاليًا ضغط HTML لتخفيف العبء على الخادم. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-html-minifier.png" alt="comic html minifier">
    </div>
    <header><h2>المزيد من الروابط إلى HTML (لغة ترميز النص التشعبي):</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> W3 HTML 5.2 قياسي: <a rel="nofollow" href="https://www.w3.org/TR/html5/" target="_blank">https://www.w3.org/TR/html5/</a></p>
    <p style=";text-align:right;direction:rtl"> RFC 7992 (HTML): <a rel="nofollow" href="https://tools.ietf.org/html/rfc7992" target="_blank">https://tools.ietf.org/html/rfc7992</a></p>
    <p style=";text-align:right;direction:rtl"> HTML في Python (BeautifulSoup): <a rel="nofollow" href="https://www.crummy.com/software/BeautifulSoup/" target="_blank">https://www.crummy.com/software/BeautifulSoup/</a></p>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/css/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/xml-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = $('html').html();

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            source = editor1.getValue();
            var minify = require('html-minifier').minify;
            output = minify(source, {
                collapseWhitespace: true,
                minifyJS: true,
                minifyCSS: true,
                removeComments: true,
            });
            editor2.setValue(output);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}