{%extends "JsonFormatter/ar/base_layout_ar.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size16codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="الرجاء إدخال أو سحب ملف نصي هنا."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> واضح</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">أمثلة</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">تنسيق JSON</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> نسخ النتيجة</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="سيتم عرض نتائج تنسيق JSON هنا."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>في{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p style=";text-align:right;direction:rtl"> يمكن أن تفرض هذه الأداة تنسيق سلاسل JSON غير صحيحة حتى إذا كانت سلسلة الإدخال لا تتوافق مع بنية JSON الرسمية. </p>
    <header><h2>مزايا JSON ل XML:</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> JSON أسهل في القراءة من XML ، تستخدم JSON بنية أكثر نظافة ، وتتطلب مساحة أقل. </p>
    <p style=";text-align:right;direction:rtl"> JSON أبسط بكثير من تحليل XML. JSON متوافق تمامًا مع JavaScript ، ويتطلب تحليل XML بناء جملة XPath معقدًا. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-json-formatter.png" alt="comic json formatter">
    </div>
    <header><h2>المزيد من الروابط إلى JSON (ترميز كائن JavaScript):</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> RFC 8259 (JSON): <a rel="nofollow" href="https://tools.ietf.org/html/rfc8259" target="_blank">https://tools.ietf.org/html/rfc8259</a></p>
    <p style=";text-align:right;direction:rtl"> JSON في بيثون: <a rel="nofollow" href="https://docs.python.org/3/library/json.html" target="_blank">https://docs.python.org/3/library/json.html</a></p>
    <p style=";text-align:right;direction:rtl"> JSON (GSON) في Java: <a rel="nofollow" href="https://github.com/google/gson" target="_blank">https://github.com/google/gson</a></p>
    <header><h2>تنسيق سلاسل JSON في Python (مع الحزمة الخاصة JSON):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import json

def format_json(str):
    resultStr = json.dumps(json.loads(str), indent=4, ensure_ascii=False)
    return resultStr
    </pre>
    <header><h2>تنسيق سلاسل JSON في Java (مع حزمة GSON):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import com.google.gson.Gson;
import com.google.gson.GsonBuilder;
import com.google.gson.JsonElement;
import com.google.gson.JsonParser;

public String Format(String jsonStr){
    JsonParser parser=new JsonParser();
    JsonElement je=parser.parse(jsonStr);
    Gson gson=new GsonBuilder().setPrettyPrinting().serializeNulls().create();
    return gson.toJson(je);
}
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/brace-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = "{\"firstName\":\"John\",\"lastName\":\"Smith\",\"age\":25,\"address\":{\"streetAddress\":\"21 2nd Street\",\"city\":\"New York\",\"state\":\"NY\",\"postalCode\":\"10021\"},\"phoneNumber\":[{\"type\":\"home\",\"number\":\"212 555-1234\"},{\"type\":\"fax\",\"number\":\"646 555-4567\"}],\"gender\":{\"type\":\"male\"}}";
    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            source = editor1.getValue();
            output = js_beautify(source);
            editor2.setValue(output);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}