{%extends "JsonFormatter/en/base_layout.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size16codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Paste input or drag file in here."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Clear</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">Example</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Format JSON</button>
    <button type="button" id="downloadastxt" class="btn btn-secondary" onclick="download_editor2_as_txt('result.json')"><i class="fas fa-file-download"></i> Save Result</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copy Result</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="json format result will show up here."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>About {{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-json-formatter.png" alt="comic json formatter">
    </div>
    <header><h2>Basic idea of JSON:</h2><div class="h2-highlight"></div></header>
    <p>Simply put, JSON can convert a set of data represented in a JavaScript object into a string, then you can easily pass the string between functions, or pass the string from the web client to the server in an asynchronous application. This looks a bit odd, but JavaScript makes it easy to interpret, and JSON can represent a lot more complex data structure than "name/value pairs." For example, you can represent arrays and complex objects, not just simple lists of keys and values.</p>
    <header><h2>The Advantages of JSON over XML:</h2><div class="h2-highlight"></div></header>
    <p>JSON is simpler to read than XML, JSON use a simper grammar and less space wasted in the outside structure.</p>
    <p>JSON is much simpler to parse than XML. JSON is very well compatible with JavaScript, while parsing XML needs complex XPath.</p>
    <header><h2>Use Json Formatter to learn JSON-LD:</h2><div class="h2-highlight"></div></header>
    <p>Google has a hard time understanding the content of the page. However, you can help us by providing Google with clear clues about what the page means by including structured data on the page. Structured data is a standardized format used to provide information about a page and to categorize the content of the page; for example, on the recipe page, what is the ingredient, cooking time and temperature, calories, and so on.</p>
    <p>Structured data (for example JSON-LD), in simple terms, is what we tell Google Crawler to parse. For an article, it has a title, author, release time, content, and possibly a cover image. These content can be displayed directly to search engines in a way that Google's crawlers can understand. And when you decide to provide Google with more friendly data, Google will also provide a more friendly experience for your potential users. Here's an example of YOUTUBE app Store page search appearance:</p>
    <img src="/image/20190308/json_formatter_ldjson_display.png" style="max-width: 800px; border: 1px solid">
    <p>It's done by insert a piece of <code>JSON-LD</code> code in the head of the webpage HTML:</p>
    <img src="/image/20190308/json_formatter_ldjson_code.png" style="border: 1px solid">
    <p>It is very convenient to format the <code>JSON-LD</code> using JSON Formatter, In this case, you can see Youtube App's rating, review count and much more...</p>
    <img src="/image/20190308/json_formatter_ldjson_formatted.png">
    <header><h2>Json Formatter and Restful API come together:</h2><div class="h2-highlight"></div></header>
    <p>REST is a design and development method for network applications, <b>adopt JSON format in the return message</b>. which can reduce the complexity of development and improve the scalability of the system. Nowadays, in the 3 mainstream Web service implementations (REST, SOAP and XML-RPC), because REST mode are significantly more concise compared with complex SOAP and XML-RPC, more and more web services are beginning to adopt REST style design and implementation.</p>
    <header><h2>Use Json Formatter to learn Wordpress Rest API:</h2><div class="h2-highlight"></div></header>
    <p>The WordPress REST API is enabled by default on all WordPress sites. APIs can be accessed by programs outside the site itself (such as mobile apps and RSS clients). For example, a typical wordpress site like <a href="https://wordpress.org" target="_blank">wordpress.org</a>, the REST API endpoint to get all Posts' detail information is <code>https://wordpress.org/wp-json/wp/v2/posts</code>. When we test this Rest API endpoint, it return a bunch of unformatted json data, is it make you feel dizzy!</p>
    <img src="/image/20190308/json_formatter_case_unformatted.png">
    <p>It is very convenient to format the JSON data using JSON Formatter. In this case, you can see one of the post is published at <code>2019-03-15</code>, the post title, the the post content and much more...</p>
    <img src="/image/20190308/json_formatter_case_formatted.png">
    <header><h2>Does Json Formatter Online Tool log my data?</h2><div class="h2-highlight"></div></header>
    <p>Absolutely <b>NOT</b>, this JSON Formatter doing all the formatting work on the client side, all logic are implemented by Javascript. There are 2 major advantages: 1.Your data never transmitted in the Open Internet, so you know it's secure; 2.It's much faster than doing all the work in the server side, because there is no Internet Delay.</p>
    <header><h2>More information about JSON (JavaScript Object Notation):</h2><div class="h2-highlight"></div></header>
    <p>RFC 8259 (JSON): <a rel="nofollow" href="https://tools.ietf.org/html/rfc8259" target="_blank">https://tools.ietf.org/html/rfc8259</a></p>
    <p>Python Implementation of JSON: <a rel="nofollow" href="https://docs.python.org/3/library/json.html" target="_blank">https://docs.python.org/3/library/json.html</a></p>
    <p>Java Implementation of JSON (GSON): <a rel="nofollow" href="https://github.com/google/gson" target="_blank">https://github.com/google/gson</a></p>
    <header><h2>JSON Formatter with Python (with build-in package JSON):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import json

def format_json(str):
    resultStr = json.dumps(json.loads(str), indent=4, ensure_ascii=False)
    return resultStr
    </pre>
    <header><h2>JSON Formatter with Java (with package GSON):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import com.google.gson.Gson;
import com.google.gson.GsonBuilder;
import com.google.gson.JsonElement;
import com.google.gson.JsonParser;

public String Format(String jsonStr){
    JsonParser parser=new JsonParser();
    JsonElement je=parser.parse(jsonStr);
    Gson gson=new GsonBuilder().setPrettyPrinting().serializeNulls().create();
    return gson.toJson(je);
}
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/brace-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = "{\"firstName\":\"John\",\"lastName\":\"Smith\",\"age\":25,\"address\":{\"streetAddress\":\"21 2nd Street\",\"city\":\"New York\",\"state\":\"NY\",\"postalCode\":\"10021\"},\"phoneNumber\":[{\"type\":\"home\",\"number\":\"212 555-1234\"},{\"type\":\"fax\",\"number\":\"646 555-4567\"}],\"gender\":{\"type\":\"male\"}}";
    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            source = editor1.getValue();
            output = js_beautify(source);
            editor2.setValue(output);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}