{%extends "MyIpAddress/es/base_layout_es.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Nombre de dominio o dirección IP</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="Example.com" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Vacio</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Consulta whois</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copiar resultado</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Resultados de la consulta Whois."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Acerca de{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-whois.png" alt="comic whois">
    </div>
    <header><h2>¿Whois necesita agregar el prefijo www. Para consultar el nombre de dominio?</h2><div class="h2-highlight"></div></header>
    <p> En la mayoría de los casos, whois solicita un nombre de dominio de segundo nivel no devolverá ningún resultado. Si no puede encontrar ningún resultado, intente eliminar el prefijo <code>www</code> e intente nuevamente. </p>
    <header><h2>¿Por qué necesito usar las consultas de Whois?</h2><div class="h2-highlight"></div></header>
    <p> Encontró un sitio web muy interesante y quería ponerse en contacto con el propietario del sitio, pero no pudo encontrar el número de teléfono o la dirección de correo electrónico del propietario del sitio web. Whois es la herramienta para verificar la información de contacto del propietario del sitio web. </p>
    <p> La herramienta Whois Query Tool, que comenzó en <code>1982</code> , ayuda a las agencias de aplicación de la ley a identificar los derechos de los propietarios de dominios. Hoy, si paga una tarifa adicional a Godaddy, Godaddy puede ayudarlo a ocultar su información de contacto, de modo que cuando otros estén en su dominio. Cuando realice una consulta, su número de teléfono y dirección de correo electrónico no se mostrarán. </p>
    <header><h2>¿Debo ocultar mi información de contacto en los resultados de búsqueda de Whois? ?</h2><div class="h2-highlight"></div></header>
    <p> Para los sitios web regulares, le recomiendo a las personas que no oculten su información de contacto porque representa la reputación de su sitio web. Pero si su privacidad es muy importante para usted, o si desea mantenerse alejado del spam potencial, la protección de la privacidad de whois Vale la pena la elección. </p>
    <header><h2>Más enlaces a consultas Whois:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia: <a rel="nofollow" href="https://en.wikipedia.org/wiki/WHOIS" target="_blank">https://en.wikipedia.org/wiki/WHOIS</a></p>
    <p> RFC 3912 (Whois): <a rel="nofollow" href="https://tools.ietf.org/html/rfc3912" target="_blank">https://tools.ietf.org/html/rfc3912</a></p>
    <p> Consulta Whois (Ubuntu) en sistema Linux: <a rel="nofollow" href="https://manpages.debian.org/jessie/whois/whois.1.en.html" target="_blank">https://manpages.debian.org/jessie/whois/whois.1.en.html</a></p>
    <header><h2>Comando Whois en el sistema Linux:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       whois - client for the whois directory service

SYNOPSIS
       whois  [  {  -h | --host } HOST ] [ { -p | --port } PORT ] [ -abBcdGHKlLmMrRx ] [ -g SOURCE:FIRST-LAST ]
       [ -i ATTR[,ATTR]... ] [ -s SOURCE[,SOURCE]... ] [ -T TYPE[,TYPE]... ] [ --verbose ]
       OBJECT

       whois -q KEYWORD

       whois -t TYPE

       whois -v TYPE

       whois --help

       whois --version</pre>
    <br>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# whois -H google.com
   Domain Name: GOOGLE.COM
   Registry Domain ID: 2138514_DOMAIN_COM-VRSN
   Registrar WHOIS Server: whois.markmonitor.com
   Registrar URL: http://www.markmonitor.com
   Updated Date: 2018-02-21T18:36:40Z
   Creation Date: 1997-09-15T04:00:00Z
   Registry Expiry Date: 2020-09-14T04:00:00Z
   ......
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}