{%extends "MyIpAddress/ar/base_layout_ar.html"%}
{%block content%}
<div id="headline">
    <h1>عنوان IP الخاص بي: <span id="clientIP"></span></h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">استعلام عنوان IP الموقع</span>
        </div>
        <input name="queryIp" id="queryIp" type="text" class="form-control" placeholder="" value="" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="init_query()"><i class="far fa-trash-alt"></i> إعادة تعيين</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">تحقيق</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard_ip()"><i class="far fa-copy"></i> نسخ النتيجة</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="codewrapper size18codewrapper">
            <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="عنوان IP نتيجة استعلام الإحالة"></textarea>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div name="map" id="map" class="col-xs-6" style="width: 100%;height: 300px;background-color: #f2f2f2"></div>
    </div>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>في{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-my-ip-addresss.png" alt="comic my ip address">
    </div>
    <header><h2>ما هو عنوان IP؟</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> تمامًا مثل العنوان البريدي الحقيقي الذي تستخدمه لتلقي حزم Amazon ، فإن عنوان IP (عنوان بروتوكول الإنترنت) هو موقع علامتك على الإنترنت ، لذا فإن أجهزة الكمبيوتر الأخرى (خوادم الويب) تعرف مكان إرسال البيانات. </p>
    <p style=";text-align:right;direction:rtl"> هناك نوعان من عناوين بروتوكول الإنترنت IP: الإصدار 4 من بروتوكول الإنترنت (IPv4) وبروتوكول الإنترنت الإصدار 6 (IPv6) يستخدم IPv6 <code>128</code> بت لتمثيل العناوين ، على الرغم من أن IPv6 لن يستخدم على نطاق واسع في السنوات العشر الماضية ، ويستخدم IPv4 <code>32</code> بتًا لتمثيل العناوين ( 0.04.0 ~ 255.255.255.255) هذا يعني أن IPv4 لديها ما مجموعه <code>2^32 = 4,294,967,296</code> عنوان مستقل (4 مليارات ليس رقمًا كبيرًا !!!). </p>
    <p style=";text-align:right;direction:rtl"> لا يحتوي الجهاز الذي تستخدمه على عنوان IPv4 فريد ، ولكنه يستخدم عنوان IPv4 خاص ، حيث يحتوي جهاز التوجيه الخاص بك على عنوان IP عام مخصص وينقل كل حركة مرور الإنترنت إلى العالم الخارجي كمحطة ترحيل ، وتُسمى هذه التقنية بـ NAT ( ترجمة عناوين الشبكة) يتعذر على NAT فقط تقليل استهلاك عناوين IPv4 العامة ، ولكن أيضًا توفير أمان إضافي لك. </p>
    <header><h2>لماذا أحتاج إلى معرفة عنوان IP؟</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> الخصوصية: قد يكشف عنوان IP الخاص بك عن معلوماتك الجغرافية الحقيقية (أي البلد والمدينة) الأشخاص الذين يستخدمون VPN أو بروكسي لإخفاء موقع الإنترنت الخاص بك ، والفرق بينهما هو السلطة التي تثق بها. إن IPS الخاص بك (مزود خدمة الإنترنت) هو شركة وطنية كبيرة تعمل مع الحكومة ، ومن ناحية أخرى ، يوفر مزودو VPN خدمات تقوم على حماية خصوصية عملائهم ، ولكنك غير متأكد من أنهم يجمعون سجل التصفح الخاص بك. يوصي المستخدمون المتقدمون باستخدام تور ، وهو نفق VPN لمتابعة نفق VPN آخر ، لذلك لا يمكن لأحد أن يعرف عنوان IP الحقيقي الخاص بك. </p>
    <header><h2>المزيد من الروابط إلى عناوين IP:</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> ويكيبيديا (بروتوكول الإنترنت): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Internet_Protocol" target="_blank">https://en.wikipedia.org/wiki/Internet_Protocol</a>
    </p>
    <p style=";text-align:right;direction:rtl"> RFC 791 (بروتوكول الإنترنت): <a rel="nofollow" href="https://tools.ietf.org/html/rfc791" target="_blank">https://tools.ietf.org/html/rfc791</a>
    </p>
    <p style=";text-align:right;direction:rtl"> Geolocation Query API (ip-api): <a rel="nofollow" href="http://ip-api.com/docs/" target="_blank">http://ip-api.com/docs/</a></p>
    <p style=";text-align:right;direction:rtl"> Geolocation Query API (API لخرائط Google): <a rel="nofollow" href="https://developers.google.com/maps/documentation/geolocation/intro"
                                             target="_blank">https://developers.google.com/maps/documentation/geolocation/intro</a>
    </p>
    <header><h2>الاستعلام عن جغرافية عنوان IP في Python (باستخدام API Coding.tools):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import requests
import json

ip_json_str = requests.post('https://coding.tools/my-ip-address', data={'queryIp': '8.8.8.8'}).text
ip_json = json.loads(ip_json_str)
print(ip_json)

print('IP address:', ip_json['ip'])
print('Country:', ip_json['country_name'])
print('Region:', ip_json['region_name'])
print('City:', ip_json['city_name'])
print('Latitude:', ip_json['latitude'])
print('Longitude:', ip_json['longitude'])
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });


    query();

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        var ip = document.getElementById("queryIp").value;
        ip = ip.trim();
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                finished_spin_hidden();
                render_result(JSON.parse(data));
            });
    }

    function render_result(ip_info) {
        if (document.getElementById("clientIP").innerText===""){
            document.getElementById("clientIP").innerText = ip_info['ip'];
        }
        editor2.setValue('IP address: ' + ip_info['ip'] + '\nCountry: ' + ip_info['country_name'] + ' (' + ip_info['country_code'] + ')' + '\nRegion: ' + ip_info['region_name'] + '\nCity: ' + ip_info['city_name']
                    + '\nLatitude: ' + ip_info['latitude'] + '\nLongitude: ' + ip_info['longitude'] + '\nZip Code: ' + ip_info['zip_code'] + '\nTimezone: ' + ip_info['time_zone']);
        document.getElementById("queryIp").value = ip_info['ip'];
                document.getElementById('map').innerHTML = "<iframe width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border:1px solid #e1e1e1\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyDvTryAEw90t0gne_bqsnmJ9DYxrvcEg_Y&q="+ip_info['city_name']+","+ip_info['region_name']+","+ip_info['country_name']+"\"allowfullscreen></iframe>";
    }

    function copy_to_clipboard_ip() {
        var copy_button = document.getElementById("copy");
        document.getElementById("queryIp").focus();
        document.getElementById("queryIp").select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}