{%extends "JsonFormatter/es/base_layout_es.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size16codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Por favor, introduzca o arrastre en un archivo de texto aquí."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Vacio</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">Ejemplo</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">XML a JSON</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copiar resultado</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Los resultados de XML a JSON se mostrarán aquí."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Acerca de{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-xml-to-json.png" alt="comic xml to json">
    </div>
    <header><h2>Más enlaces a XML a JSON:</h2><div class="h2-highlight"></div></header>
    <p> Github: <a rel="nofollow" href="https://github.com/martinblech/xmltodict" target="_blank">https://github.com/martinblech/xmltodict</a></p>
    <p> Xmltodict: <a rel="nofollow" href="http://docs.python-guide.org/en/latest/scenarios/xml/" target="_blank">http://docs.python-guide.org/en/latest/scenarios/xml/</a></p>
    <header><h2>Convertir a JSON con Python XML (con el paquete xmltodict):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import xmltodict


def convert_xml_to_json(input_str):
    dict = xmltodict.parse(input_str, process_namespaces=True)
    return json.dumps(dict, indent=4)
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/brace-fold.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/xml-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = "<?xml version=\"1.0\" encoding=\"UTF-8\"?><person><firstName>John</firstName><lastName>Smith</lastName><age>25</age><address><streetAddress>21 2nd Street</streetAddress><city>New York</city><state>NY</state><postalCode>10021</postalCode></address><phoneNumber><type>home</type><number>212 555-1234</number></phoneNumber><phoneNumber><type>fax</type><number>646 555-4567</number></phoneNumber><gender><type>male</type></gender></person>";

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            var XMLString = editor1.getValue();
            var minify = require('html-minifier').minify;
            XMLString = minify(XMLString, {
                collapseWhitespace: true,
                minifyJS: true,
                minifyCSS: true,
                removeComments: true,
            });
            XMLString = '<RootDirectory>' + XMLString.replace(new RegExp('<\\?[^<>]*\\?>'), '') + '</RootDirectory>';
            var XMLObject = JXON.stringToXml(XMLString);
            var JSONObject = JXON.xmlToJs(XMLObject);
            JSONObject = JSONObject["rootdirectory"];
            var JSONString = JSON.stringify(JSONObject);
            JSONString = js_beautify(JSONString);
            editor2.setValue(JSONString);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}