{%extends "MyIpAddress/id/base_layout_id.html"%}
{%block content%}
<div id="headline">
    <h1>Alamat IP saya: <span id="clientIP"></span></h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Lokasi alamat IP permintaan</span>
        </div>
        <input name="queryIp" id="queryIp" type="text" class="form-control" placeholder="" value="" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="init_query()"><i class="far fa-trash-alt"></i> Setel ulang</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Pertanyaan</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard_ip()"><i class="far fa-copy"></i> Salin hasil</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="codewrapper size18codewrapper">
            <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Hasil kueri atribusi alamat IP"></textarea>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div name="map" id="map" class="col-xs-6" style="width: 100%;height: 300px;background-color: #f2f2f2"></div>
    </div>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Tentang{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-my-ip-addresss.png" alt="comic my ip address">
    </div>
    <header><h2>Apa itu alamat IP?</h2><div class="h2-highlight"></div></header>
    <p> Sama seperti alamat surat yang Anda gunakan untuk menerima paket Amazon, alamat IP (alamat Protokol Internet) adalah lokasi tag Anda di Internet, sehingga komputer lain (server web) tahu ke mana harus mengirim data. </p>
    <p> Ada dua jenis alamat IP: Internet Protocol Version 4 (IPv4) dan Internet Protocol Version 6 (IPv6). IPv6 menggunakan <code>128</code> bit untuk mewakili alamat, meskipun IPv6 tidak akan banyak digunakan dalam 10 tahun terakhir. IPv4 menggunakan <code>32</code> bit untuk mewakili alamat ( 0.0.0.0 ~ 255.255.255.255). Ini berarti bahwa IPv4 memiliki total <code>2^32 = 4,294,967,296</code> alamat independen (4 miliar bukan jumlah yang besar !!!). </p>
    <p> Perangkat yang Anda gunakan tidak memiliki alamat publik IPv4 yang unik, tetapi menggunakan alamat IPv4 pribadi. Router Anda memiliki alamat IP publik khusus dan mentransmisikan semua lalu lintas Internet ke dunia luar sebagai stasiun relay. Teknologi ini disebut NAT Terjemahan alamat jaringan). NAT tidak hanya dapat mengurangi konsumsi alamat IPv4 publik, tetapi juga memberi Anda keamanan tambahan. </p>
    <header><h2>Mengapa saya perlu tahu alamat IP?</h2><div class="h2-highlight"></div></header>
    <p> Privasi. Alamat IP Anda dapat mengungkapkan informasi geografis Anda yang sebenarnya (negara mana dan kota mana) Orang yang menggunakan VPN atau proxy untuk menyembunyikan lokasi Internet Anda. Perbedaan antara keduanya adalah otoritas mana yang Anda percayai. IPS (Penyedia Layanan Internet) Anda adalah perusahaan nasional besar yang bekerja dengan pemerintah. Di sisi lain, penyedia VPN menyediakan layanan yang didasarkan pada perlindungan privasi pelanggan mereka, tetapi Anda tidak yakin apakah mereka mengumpulkan riwayat penelusuran Anda. Pengguna kelas atas merekomendasikan untuk menggunakan Tor, sebuah terowongan VPN untuk mengikuti terowongan VPN lainnya, sehingga tidak ada yang bisa mengetahui alamat IP Anda yang sebenarnya. </p>
    <header><h2>Lebih banyak tautan ke alamat IP:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (Protokol Internet): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Internet_Protocol" target="_blank">https://en.wikipedia.org/wiki/Internet_Protocol</a>
    </p>
    <p> RFC 791 (Protokol Internet): <a rel="nofollow" href="https://tools.ietf.org/html/rfc791" target="_blank">https://tools.ietf.org/html/rfc791</a>
    </p>
    <p> API Query Geolocation (ip-api): <a rel="nofollow" href="http://ip-api.com/docs/" target="_blank">http://ip-api.com/docs/</a></p>
    <p> API Permintaan Geolokasi (Google Maps API): <a rel="nofollow" href="https://developers.google.com/maps/documentation/geolocation/intro"
                                             target="_blank">https://developers.google.com/maps/documentation/geolocation/intro</a>
    </p>
    <header><h2>Permintaan geografi alamat IP dengan Python (menggunakan API Coding.tools):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import requests
import json

ip_json_str = requests.post('https://coding.tools/my-ip-address', data={'queryIp': '8.8.8.8'}).text
ip_json = json.loads(ip_json_str)
print(ip_json)

print('IP address:', ip_json['ip'])
print('Country:', ip_json['country_name'])
print('Region:', ip_json['region_name'])
print('City:', ip_json['city_name'])
print('Latitude:', ip_json['latitude'])
print('Longitude:', ip_json['longitude'])
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });


    query();

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        var ip = document.getElementById("queryIp").value;
        ip = ip.trim();
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                finished_spin_hidden();
                render_result(JSON.parse(data));
            });
    }

    function render_result(ip_info) {
        if (document.getElementById("clientIP").innerText===""){
            document.getElementById("clientIP").innerText = ip_info['ip'];
        }
        editor2.setValue('IP address: ' + ip_info['ip'] + '\nCountry: ' + ip_info['country_name'] + ' (' + ip_info['country_code'] + ')' + '\nRegion: ' + ip_info['region_name'] + '\nCity: ' + ip_info['city_name']
                    + '\nLatitude: ' + ip_info['latitude'] + '\nLongitude: ' + ip_info['longitude'] + '\nZip Code: ' + ip_info['zip_code'] + '\nTimezone: ' + ip_info['time_zone']);
        document.getElementById("queryIp").value = ip_info['ip'];
                document.getElementById('map').innerHTML = "<iframe width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border:1px solid #e1e1e1\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyDvTryAEw90t0gne_bqsnmJ9DYxrvcEg_Y&q="+ip_info['city_name']+","+ip_info['region_name']+","+ip_info['country_name']+"\"allowfullscreen></iframe>";
    }

    function copy_to_clipboard_ip() {
        var copy_button = document.getElementById("copy");
        document.getElementById("queryIp").focus();
        document.getElementById("queryIp").select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}