{%extends "HexToDecimal/en/base_layout.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Number</span>
        </div>
        <input name="queryStr" id="QueryStr" type="text" class="form-control" spellcheck="false" oninput="query()">
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Clear</button>
    <a href="/roman-numerals-to-numbers" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> Swap</button>
    </a>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Convert</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copy Result</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Roman Numeral</span>
    </div>
    <input name="RomanOutput" id="RomanOutput" type="text" class="form-control" spellcheck="false">
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>About {{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>Roman Numerals:</h2><div class="h2-highlight"></div></header>
    <p>Roman numerals is invented by ancient Rome, it use letters from Latin <code>("I" for "1", "V" for "5", "X" for "10", "L" for "50", "C" for "100", "D" for "500", "M" for "1000")</code> to represent numbers. Roman
        numerals is still widely used in academic paper chapter numbering system.</p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-numbers-to-roman-numerals.png" alt="comic numbers to roman numerals">
    </div>
    <header><h2>How to convert from Numbers to Roman Numerals?</h2><div class="h2-highlight"></div></header>
    <ol>
        <li><p><b>Step 1:</b> Remember the value combination list <code>["M": 1000, "CM": 900, "D": 500, "CD": 400, "C": 100, "XC": 90, "L": 50, "XL": 40, "X": 10, "IX": 9, "V": 5, "IV": 4, "I": 1]</code>, Remember its order and each value.</p></li>
        <li><p><b>Step 2:</b> From left to right, subtract as much large combination as you can, unless it's not smaller than 0.</p></li>
    </ol>
    <p><b>Example 1: Convert Number "424" to Roman Numeral:</b></p>
    <div class="math">424 = 400 + 10 + 10 + 4 = CD + X + X + IV = CDXXIV</div>
    <p><b>Example 2: Convert Number "2019" to Roman Numeral:</b></p>
    <div class="math">2019 = 1000 + 1000 + 10 + 9 = M + M + X + IX = MMXIX</div>
    <header><h2>Numbers to Roman Numerals conversion table:</h2><div class="h2-highlight"></div></header>
    <table class="descriptionTable">
        <tr>
            <th>Numbers</th>
            <th>Roman Numerals</th>
            <th>Numbers</th>
            <th>Roman Numerals</th>
        </tr>
<tr><td>1</td><td>I</td><td>21</td><td>XXI</td></tr>
<tr><td>2</td><td>II</td><td>22</td><td>XXII</td></tr>
<tr><td>3</td><td>III</td><td>23</td><td>XXIII</td></tr>
<tr><td>4</td><td>IV</td><td>24</td><td>XXIV</td></tr>
<tr><td>5</td><td>V</td><td>25</td><td>XXV</td></tr>
<tr><td>6</td><td>VI</td><td>26</td><td>XXVI</td></tr>
<tr><td>7</td><td>VII</td><td>27</td><td>XXVII</td></tr>
<tr><td>8</td><td>VIII</td><td>28</td><td>XXVIII</td></tr>
<tr><td>9</td><td>IX</td><td>29</td><td>XXIX</td></tr>
<tr><td>10</td><td>X</td><td>30</td><td>XXX</td></tr>
<tr><td>11</td><td>XI</td><td>31</td><td>XXXI</td></tr>
<tr><td>12</td><td>XII</td><td>32</td><td>XXXII</td></tr>
<tr><td>13</td><td>XIII</td><td>33</td><td>XXXIII</td></tr>
<tr><td>14</td><td>XIV</td><td>34</td><td>XXXIV</td></tr>
<tr><td>15</td><td>XV</td><td>35</td><td>XXXV</td></tr>
<tr><td>16</td><td>XVI</td><td>36</td><td>XXXVI</td></tr>
<tr><td>17</td><td>XVII</td><td>37</td><td>XXXVII</td></tr>
<tr><td>18</td><td>XVIII</td><td>38</td><td>XXXVIII</td></tr>
<tr><td>19</td><td>XIX</td><td>39</td><td>XXXIX</td></tr>
<tr><td>20</td><td>XX</td><td>40</td><td>XL</td></tr>
    </table>
    <br>
    <header><h2>More information:</h2><div class="h2-highlight"></div></header>
    <p>Wikipedia (Roman numerals): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Roman_numerals" target="_blank">https://en.wikipedia.org/wiki/Roman_numerals</a></p>
    <header><h2>Convert Numbers to Roman Numerals with Python:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">def transform_number_to_roman_numeral(number):
    roman_value_list = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
    roman_char_list = ["M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"]
    res = ''
    for i in range(len(roman_value_list)):
        while number >= roman_value_list[i]:
            number -= roman_value_list[i]
            res += roman_char_list[i]
    return res


number_input = 987
roman_numeral_output = transform_number_to_roman_numeral(number_input)
print('number {0} equal to:{1}'.format(number_input, roman_numeral_output))

-------------------
number 987 equal to:CMLXXXVII</pre>
    <header><h2>Convert Numbers to Roman Numerals with Java:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
public class NumberConvertManager {
    public static String transform_number_to_roman_numeral(int number) {
        int[] roman_value_list = new int[]{1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1};
        String[] roman_char_list = new String[]{"M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"};
        StringBuilder res = new StringBuilder();
        for (int i = 0; i < roman_value_list.length; i += 1) {
            while (number >= roman_value_list[i]){
                number -= roman_value_list[i];
                res.append(roman_char_list[i]);
            }
        }
        return res.toString();
    }

    public static void main(String[] args) {
        int number_input = 987;
        String roman_numeral_output = transform_number_to_roman_numeral(number_input);
        System.out.println("number " + number_input + " equal to:" + roman_numeral_output);
    }
}

-------------------
number 987 equal to:CMLXXXVII
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var QueryStr = document.getElementById("QueryStr");
    var RomanOutput = document.getElementById("RomanOutput");

    function convertToRoman(num) {
        if(99999<num){
            return "Number Too Large";
        }
        var roman = {"M": 1000, "CM": 900, "D": 500, "CD": 400, "C": 100, "XC": 90, "L": 50, "XL": 40, "X": 10, "IX": 9, "V": 5, "IV": 4, "I": 1};
        var str = "";
        for (var i of Object.keys(roman)) {
            var q = Math.floor(num / roman[i]);
            num -= q * roman[i];
            str += i.repeat(q);
        }
        return str;
    }

    function query() {
        $('#spinner').css('visibility', 'visible');
        RomanOutput.value = "";
        var number_str = QueryStr.value.replace(new RegExp(" ", 'g'), "");
        if (number_str == "") {
            RomanOutput.value = "";
        } else {
            RomanOutput.value = convertToRoman(parseInt(number_str));
        }
        finished_spin_hidden();
    }

    function clear_txt() {
        QueryStr.value = "";
        RomanOutput.value = "";
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        RomanOutput.focus();
        RomanOutput.select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}