{%extends "PasswordsGenerator/jp/base_layout_jp.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="ここにテキストファイルを入力またはドラッグしてください."></textarea>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">UpperCase</span>
        </div>
        <select class="form-control custom-select" name="UpperCase" id="UpperCase" oninput="post_ajax()">
            <option value="u" selected>Hash Result in UpperCase</option>
            <option value="l">Hash Result in LowerCase</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> 空です</button>
    <button type="button" id="submit_button" class="btn btn-primary">MD5暗号化</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> コピー結果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="結果はここに表示されます."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>について{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-md5.png" alt="comic md5">
    </div>
    <header><h2>なぜあなたはMD5が必要なのですか？</h2><div class="h2-highlight"></div></header>
    <p> MD5のようなハッシュアルゴリズムは一方向性のアルゴリズムであり、元に戻せないため、ファイルに「フィンガープリント」を作成するのに非常に便利です. Webサイトのデータベースに保存されている "salt"と元のパスワードの最終的な値は元に戻せないため、データベースが侵害されてもハッカーはパスワードを復元できません. </p>
    <header><h2>MD5は安全ですか、使用し続けるべきですか？</h2><div class="h2-highlight"></div></header>
    <p>呼ばれる最初の攻撃、 <code>(rainbow tables)</code> .これは、適切な値を持つ短いMD5文字列を含む、非常に大規模なデータベースである.あなたはレインボーテーブルをチェックするとき例えば、 <code>"FC5E038D38A57032085441E7FE7010B0"</code> 、あなたは元にそれを見つけることができます元の文字列が短い場合、レインボーテーブルはMD5を正常に復号化できます. </p>
    <p> 2番目の攻撃はMD5の基本的なアルゴリズムに基づいていますが、近年、SHA256またはSHA512に移行するWebサイトが増えていますが、多くのWebサイトでは依然としてMD5が使用されており、インターネットセキュリティに大きな危険があります. </p>
    <header><h2>MD5へのより多くのリンク:</h2><div class="h2-highlight"></div></header>
    <p> RFC 1321: <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1321.txt" alt="MD5" target="_blank">https://www.ietf.org/rfc/rfc1321.txt</a></p>
    <p> PythonでのMD5(hashlib): <a rel="nofollow" href="https://docs.python.org/3/library/hashlib.html" alt="MD5" target="_blank">https://docs.python.org/3/library/hashlib.html</a></p>
    <p> JavaでのMD5: <a rel="nofollow" href="https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html" alt="MD5"
                                      target="_blank">https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html</a></p>
    <p> PHPでのMD5: <a rel="nofollow" href="http://php.net/manual/en/function.md5.php" alt="MD5" target="_blank">http://php.net/manual/en/function.md5.php</a></p>
    <header><h2>Pythonで文字列のMD5ハッシュを計算する(hashlibパッケージ付き):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import hashlib

def md5_generator(str):
    m = hashlib.md5()
    m.update(str.encode())
    return m.hexdigest()
    </pre>
    <header><h2>Javaで文字列のMD5ハッシュを計算する(MessageDigestパッケージ付き):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.math.BigInteger;
import java.security.MessageDigest;

public String generate(String str){
    MessageDigest md = MessageDigest.getInstance("MD5");
    md.update(str.getBytes());
    byte[] digest = md.digest();
    String result = new BigInteger(1, digest).toString(16).toUpperCase();
    return result;
}
    </pre>
    <header><h2>LinuxでファイルのMD5ハッシュを計算する(OpenSSLを使用):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# openssl dgst -md5 access.log
MD5(access.log)= 742f23518e684f3562ffc9f983f190ba
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        return CryptoJS.MD5(input_str).toString();
    }
</script>
{%endblock%}