{%extends "StringUtilities/tw/base_layout_tw.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper resizableWrapper maxLengthWrapper">
        <textarea autofocus id="code2" name="code2" style="width: 100%;height: 300px" placeholder="請在這裡輸入或者拖入文本文件."></textarea>
    </div>
</form>
<table class="descriptionTable">
<tr>
    <th>統計</th>
    <th>結果</th>
</tr>
<tr>
    <td>單詞數</td>
    <td id="count_result_words">0</td>
</tr>
<tr>
    <td>句數</td>
    <td id="count_result_sentences">0</td>
</tr>
<tr>
    <td>段落數</td>
    <td id="count_result_paragraphs">0</td>
</tr>
<tr>
    <td>行數</td>
    <td id="count_result_lines">0</td>
</tr>
<tr>
    <td>字符數(包含空格)</td>
    <td id="count_result_char_with_space">0</td>
</tr>
<tr>
    <td>字符數(不包含空格)</td>
    <td id="count_result_char_without_space">0</td>
</tr>
<tr>
    <td>閱讀時長估計</td>
    <td><b id="count_result_estimate_reading_minutes">0</b> 分鐘 <b id="count_result_estimate_reading_seconds">0</b> 秒</td>
</tr>
<tr>
    <td>演講時長估計</td>
    <td><b id="count_result_estimate_speaking_minutes">0</b> 分鐘 <b id="count_result_estimate_speaking_seconds">0</b> 秒</td>
</tr>
</table>
<br/>
<button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quicksearchmodal">關鍵詞搜索</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quickreplacemodal">關鍵詞替換</button>
<button type="button" id="downloadastxt" class="btn btn-secondary" onclick="download_editor2_as_txt('result.txt')"><i class="fas fa-file-download"></i> 保存結果</button>
<button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 複製結果</button>
<i id="spinner" class="fa fa-sync fa-spin"></i>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>關於{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/20190308/cartoon_word_counter.png" alt="cartoon text editor">
    </div>
</div>
{% include "Common/seg_bootstrap_modal_search_replace_tw.html" %}
{%endblock%}
{%block customPageJS%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/markdown/markdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/selection/mark-selection.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/search/searchcursor.min.js"></script>
<script>
    $('#quicksearchmodal').appendTo('body');
    $('#quickreplacemodal').appendTo('body');
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "markdown",
        lineNumbers: true,
        lineWrapping: true,
        styleSelectedText: true,
    });

    editor2.on('change', function () {
        word_count();
    });

    function word_count(){
        var txt_original = editor2.getValue().replace(/[。！？]/g,'.').replace(/[‘]/g,'\'');
        var words_list = txt_original.toLowerCase().replace(/'s/g,'').replace(/'\w*/g,'').match(/[a-zA-Z]+/g);
        try{$("#count_result_words").html(words_list.length);} catch (err) {$("#count_result_words").html("0");}
        try{$("#count_result_sentences").html(txt_original.match(/[\w][^.!?\r\n]+[.!?\r\n]/g).length);} catch (err) {$("#count_result_sentences").html("0");}
        try{$("#count_result_paragraphs").html(txt_original.match(/[\w][^\r\n]+/g).length);} catch (err) {$("#count_result_paragraphs").html("0");}
        try{$("#count_result_lines").html(txt_original.split('\n').length);} catch (err) {$("#count_result_lines").html("0");}
        try{$("#count_result_char_with_space").html(txt_original.length);} catch (err) {$("#count_result_char_with_space").html("0");}
        try{$("#count_result_char_without_space").html(txt_original.replace(/\s/g,'').length);} catch (err) {$("#count_result_char_without_space").html("0");}
        try{
            var count_result_estimate_reading_times = parseInt(words_list.length)/4.583333;
            var count_result_estimate_reading_minutes = Math.floor(count_result_estimate_reading_times/60);
            var count_result_estimate_reading_seconds = Math.floor(count_result_estimate_reading_times - 60*count_result_estimate_reading_minutes);
            $("#count_result_estimate_reading_minutes").html(count_result_estimate_reading_minutes);
            $("#count_result_estimate_reading_seconds").html(count_result_estimate_reading_seconds);
        } catch (err) {
            $("#count_result_estimate_reading_minutes").html("0");
            $("#count_result_estimate_reading_seconds").html("0");
        }
        try{
            var count_result_estimate_speaking_times = parseInt(words_list.length)/2.9166666;
            var count_result_estimate_speaking_minutes = Math.floor(count_result_estimate_speaking_times/60);
            var count_result_estimate_speaking_seconds = Math.floor(count_result_estimate_speaking_times - 60*count_result_estimate_speaking_minutes);
            $("#count_result_estimate_speaking_minutes").html(count_result_estimate_speaking_minutes);
            $("#count_result_estimate_speaking_seconds").html(count_result_estimate_speaking_seconds);
        }
        catch (err) {
            $("#count_result_estimate_speaking_minutes").html("0");
            $("#count_result_estimate_speaking_seconds").html("0");
        }
    }
</script>
{%endblock%}