<!DOCTYPE html>
<html lang="{{model.lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="{{model.lang}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include "Common/seg_header_tag_with_hreflang.html"%}
    {%include "Common/seg_unit_css.html"%}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{model.cdnjs_version_bootstrap}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.css"/>
    {%include "Common/seg_unit_header_js.html"%}
</head>
<body>
<div id="nav">
    <nav class="navbar navbar-expand-xl navbar-dark customShadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/id"><i class="fas fa-bug"></i>  Coding.Tools</a>
            {%include "Common/seg_nav_right.html"%}
        </div>
    </nav>{%include "Common/seg_unit_search_and_suggest.html"%}
</div>
<div id="content" class="container-fluid">{%include "Common/Ad_PlaceHolder/seg_ad_header_up.html" %}
    <div class="content_along_sidebar">
        {%block content%}{%endblock%}
        {%include "Common/seg_facebook_comment.html" %}
    </div>
    <div class="sidebar">
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_up.html" %}
        <div class="tool-list">
            <a id="relatedtools" class="table-link-header" href="#relatedtools">Alat terkait</a>
            <a class="table-link" href="/id/json-formatter">Alat format online JSON</a>
            <a class="table-link" href="/id/json-minifier">Alat online kompresi JSON</a>
            <a class="table-link" href="/id/xml-formatter">Alat format online XML</a>
            <a class="table-link" href="/id/xml-minifier">Alat online kompresi XML</a>
            <a class="table-link" href="/id/json-to-xml">JSON ke alat XML online</a>
            <a class="table-link" href="/id/xml-to-json">Alat XML to JSON online</a>
            <a class="table-link" href="/id/html-beautifier">Alat pemformatan online HTML</a>
            <a class="table-link" href="/id/html-minifier">Alat online kompresi HTML</a>
            <a class="table-link" href="/id/javascript-beautifier">Alat online pemformatan Javascript</a>
            <a class="table-link" href="/id/javascript-minifier">Alat online kompresi Javascript</a>
            <a class="table-link" href="/id/css-beautifier">Alat pemformatan online CSS</a>
            <a class="table-link" href="/id/css-minifier">Alat online kompresi CSS</a>
            <br style="clear:both;"/>
        </div>
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_middle.html" %}
        {%include "Common/seg_category_list_id.html"%}
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_down.html" %}
    </div>
    <br style="clear:both;"/>
</div>
{%include "Common/seg_footer.html"%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{model.cdnjs_version_jquery}}/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/display/placeholder.min.js"></script>
{%block customPageJS%}{%endblock%}
{%include "JsonFormatter/seg_load_js.html"%}
</body>
</html>