{%extends "JsonFormatter/id/base_layout_id.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size16codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Silakan masukkan atau seret file teks di sini."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Kosong</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">Contoh</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Format JSON</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Salin hasil</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Hasil pemformatan JSON akan ditampilkan di sini."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Tentang{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p> Alat ini dapat memaksa pemformatan string JSON yang salah bahkan jika string input tidak sesuai dengan sintaks JSON resmi. </p>
    <header><h2>Keunggulan JSON untuk XML:</h2><div class="h2-highlight"></div></header>
    <p> JSON lebih mudah dibaca daripada XML, JSON menggunakan sintaksis bersih, dan membutuhkan lebih sedikit ruang. </p>
    <p> JSON jauh lebih sederhana daripada parsing XML. JSON sangat kompatibel dengan JavaScript, dan parsing XML membutuhkan sintaks XPath yang kompleks. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-json-formatter.png" alt="comic json formatter">
    </div>
    <header><h2>Lebih banyak tautan ke JSON (Notasi Objek JavaScript):</h2><div class="h2-highlight"></div></header>
    <p> RFC 8259 (JSON): <a rel="nofollow" href="https://tools.ietf.org/html/rfc8259" target="_blank">https://tools.ietf.org/html/rfc8259</a></p>
    <p> JSON dengan Python: <a rel="nofollow" href="https://docs.python.org/3/library/json.html" target="_blank">https://docs.python.org/3/library/json.html</a></p>
    <p> JSON (GSON) di Jawa: <a rel="nofollow" href="https://github.com/google/gson" target="_blank">https://github.com/google/gson</a></p>
    <header><h2>Memformat string JSON dengan Python (dengan paket JSON sendiri):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import json

def format_json(str):
    resultStr = json.dumps(json.loads(str), indent=4, ensure_ascii=False)
    return resultStr
    </pre>
    <header><h2>Memformat string JSON di Jawa (dengan paket GSON):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import com.google.gson.Gson;
import com.google.gson.GsonBuilder;
import com.google.gson.JsonElement;
import com.google.gson.JsonParser;

public String Format(String jsonStr){
    JsonParser parser=new JsonParser();
    JsonElement je=parser.parse(jsonStr);
    Gson gson=new GsonBuilder().setPrettyPrinting().serializeNulls().create();
    return gson.toJson(je);
}
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/brace-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = "{\"firstName\":\"John\",\"lastName\":\"Smith\",\"age\":25,\"address\":{\"streetAddress\":\"21 2nd Street\",\"city\":\"New York\",\"state\":\"NY\",\"postalCode\":\"10021\"},\"phoneNumber\":[{\"type\":\"home\",\"number\":\"212 555-1234\"},{\"type\":\"fax\",\"number\":\"646 555-4567\"}],\"gender\":{\"type\":\"male\"}}";
    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            source = editor1.getValue();
            output = js_beautify(source);
            editor2.setValue(output);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}