<!DOCTYPE html>
<html lang="{{model.lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="{{model.lang}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include "Common/seg_header_tag_with_hreflang.html"%}
    {%include "Common/seg_unit_css.html"%}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{model.cdnjs_version_bootstrap}}/css/bootstrap.min.css">
    {%include "Common/seg_unit_header_js.html"%}
</head>
<body>
<div id="nav">
    <nav class="navbar navbar-expand-xl navbar-dark customShadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/kr"><i class="fas fa-bug"></i>  Coding.Tools</a>
            {%include "Common/seg_nav_right.html"%}
        </div>
    </nav>{%include "Common/seg_unit_search_and_suggest.html"%}
</div>
<div id="content" class="container-fluid">{%include "Common/Ad_PlaceHolder/seg_ad_header_up.html" %}
    <div class="content_along_sidebar">
        {%block content%}{%endblock%}
        {%include "Common/seg_facebook_comment.html" %}
    </div>
    <div class="sidebar">
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_up.html" %}
        <div class="tool-list">
            <a id="relatedtools" class="table-link-header" href="#relatedtools">관련 도구</a>
            <a class="table-link" href="/kr/hex-to-decimal">십진수에서 십진수로 변환</a>
            <a class="table-link" href="/kr/decimal-to-hex">10 진수에서 16 진수로 변환</a>
            <a class="table-link" href="/kr/octal-to-decimal">8 진수에서 10 진수로 변환</a>
            <a class="table-link" href="/kr/decimal-to-octal">십진수에서 8 진수로의 변환</a>
            <a class="table-link" href="/kr/binary-to-decimal">2 진 - 10 진수 변환</a>
            <a class="table-link" href="/kr/decimal-to-binary">10 진수에서 2 진수로 변환</a>
            <a class="table-link" href="/kr/ascii-table">ASCII 조회 테이블</a>
            <a class="table-link" href="/kr/hex-to-ascii">16 진수 - ASCII 문자열 변환</a>
            <a class="table-link" href="/kr/ascii-to-hex">ASCII 문자열 - 16 진수 변환</a>
            <a class="table-link" href="/kr/fraction-to-decimal">10 진수로 변환하는 분수</a>
            <a class="table-link" href="/kr/decimal-to-fraction">분수 - 분수 변환</a>
            <a class="table-link" href="/kr/percent-to-decimal">십진법 전환율</a>
            <a class="table-link" href="/kr/decimal-to-percent">소수점에서 백분율로 변환</a>
            <a class="table-link" href="/kr/percent-to-fraction">분수 변환 비율</a>
            <a class="table-link" href="/kr/fraction-to-percent">점수 대 백분율 전환</a>
            <a class="table-link" href="/kr/hex-to-rgb">16 진수 - RGB 색상 변환</a>
            <a class="table-link" href="/kr/rgb-to-hex">RGB 색상 - 16 진수 색상 변환</a>
            <a class="table-link" href="/kr/hex-to-rgba">Hex 컬러에서 RGBA 컬러 변환</a>
            <a class="table-link" href="/kr/rgba-to-hex">RGBA 색상 - 16 진수 색상 변환</a>
            <a class="table-link" href="/kr/roman-numerals-chart">로마 숫자 비교표 1-1000</a>
            <a class="table-link" href="/kr/roman-numerals-to-numbers">로마 숫자에서 아라비아 숫자로의 변환</a>
            <a class="table-link" href="/kr/numbers-to-roman-numerals">아라비아 숫자에서 로마 숫자로 변환</a>
            <br style="clear:both;"/>
        </div>
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_middle.html" %}
        {%include "Common/seg_category_list_kr.html"%}
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_down.html" %}
    </div>
    <br style="clear:both;"/>
</div>
{%include "Common/seg_footer.html"%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{model.cdnjs_version_jquery}}/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/{{model.cdnjs_version_bignumber}}/bignumber.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
{%block customPageJS%}{%endblock%}
{%include "HexToDecimal/seg_load_js.html"%}
</body>
</html>