{%extends "HexToDecimal/kr/base_layout_kr.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="여기에 텍스트 파일을 입력하거나 드래그하십시오."></textarea>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">스플리터</span>
        </div>
        <select class="form-control custom-select" name="Delimiter" id="Delimiter" oninput="query()">
            <option value="">없음 (공백 없음)</option>
            <option value=" " selected>공간</option>
            <option value="0x">0x (소문자 'x'포함)</option>
            <option value="0X">0X (대문자 'X'포함)</option>
            <option value="\0x">\ 0x (소문자 'x'포함)</option>
            <option value="\0X">\ 0X (대문자 'X'포함)</option>
            <option value="\x">\ x (LowerCase 'x'포함)</option>
            <option value="\X">\ X (대문자 'X'포함)</option>
        </select>
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 빈</button>
    <a href="/kr/hex-to-ascii" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> 교환 위치</button>
    </a>
    <button type="button" id="load_example" class="btn btn-secondary" onclick="loadexample()">예제</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">전환</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 결과 복사</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="16 진수 결과가 여기에 표시됩니다."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>정보{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p> 지원되는 16 진수 배열 스플릿 기호에는 <code>("", " ", "0x", "0X", "\0x", "\0X", "\x", "\X")</code> 됩니다. </p>
    <header><h2>ASCII 코딩 표준:</h2><div class="h2-highlight"></div></header>
    <p> ASCII (정보 교환을위한 미국 표준 코드 ) 가장 널리 사용되는 표준 ASCII 7 비트 길이가 문자 인코딩 표준, 128 개 다른 문자의 총입니다. 확장 ASCII가 8 비트 길이, 256 개 다른 문자가 있습니다. 저작권 기호 <code>©</code> 정의 확장 ASCII 테이블에서. </p>
    <header><h2>16 진수 (16 진수):</h2><div class="h2-highlight"></div></header>
    <p> 16 진수 시스템은 <code>(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)</code> 플러스 <code>(a, b, e, d, e, f)</code> 문자 16 진수 시스템은 모든 이진 문자열을 읽을 수있는 방식으로 나타낼 수 있으므로 컴퓨터 과학 분야에서 널리 사용됩니다 .HAS256 해시 문자열은 일반적으로 HTML에 사용되는 16 진수 스타일 문자열로 표시됩니다. 색상 시스템은 # 000000 (순수한 검정색)에서 #FFFFFF (순수한 흰색)까지의 16 진수로 표현할 수도 있습니다. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-ascii-to-hex.png" alt="comic ascii to hex">
    </div>
    <header><h2>링크:</h2><div class="h2-highlight"></div></header>
    <p> 위키피디아 (16 진수): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Hexadecimal" target="_blank">https://en.wikipedia.org/wiki/Hexadecimal</a></p>
    <p> 위키피디아 (ASCII): <a rel="nofollow" href="https://en.wikipedia.org/wiki/ASCII" target="_blank">https://en.wikipedia.org/wiki/ASCII</a></p>
    <header><h2>파이썬에서 ASCII 문자열을 16 진수로 변환:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">import binascii


def ascii_to_hex(ascii_str):
    hex_str = binascii.hexlify(ascii_str.encode())
    return hex_str


ascii_input = 'This is an example.'
hex_output = ascii_to_hex(ascii_input)
print('hex result is:{0}'.format(hex_output))

-------------------
hex result is:b'5468697320697320616e206578616d706c652e'</pre>
    <header><h2>Java의 ASCII 문자열 - 16 진수 변환:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
public class NumberConvertManager {
    public static String ascii_to_hex(String ascii_str) {
        StringBuilder hex_str = new StringBuilder();
        for (char ch : ascii_str.toCharArray()) {
            hex_str.append(Integer.toHexString((int) ch));
        }
        return hex_str.toString();
    }

    public static void main(String[] args) {
        String ascii_input = "This is an example.";
        String hex_output = ascii_to_hex(ascii_input);
        System.out.println("hex result is:" + hex_output);
    }
}

-------------------
hex result is:5468697320697320616e206578616d706c652e
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/display/placeholder.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    editor1.on('change', function () {
        query();
    });

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("Invalid Input");
        editor2.setValue(ascii_to_hex(editor1.getValue(), document.getElementById("Delimiter").value));
        finished_spin_hidden();
    }

    function ascii_to_hex(input_str, delimiter) {
        var arr1 = [];
        for (var n = 0, l = input_str.length; n < l; n++) {
            var hex = Number(input_str.charCodeAt(n)).toString(16);
            if (hex.length==1){
                hex = '0' + hex;
            }
            arr1.push(hex);
        }
        result = arr1.join(delimiter);
        if (delimiter != ' ') {
            result = delimiter + result;
        }
        return result;
    }

    function loadexample() {
        clear_txt();
        editor1.setValue("This is an example.");
        $('#submit_button').trigger('click');
    }

    function clear_txt() {
        editor1.setValue("");
        editor2.setValue("");
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        editor2.focus();
        editor2.execCommand("selectAll");
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}