{%extends "JsonFormatter/de/base_layout_de.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size16codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Bitte geben oder ziehen Sie eine Textdatei hierher."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Leer</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">Beispiel</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">JSON komprimieren</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Ergebnis kopieren</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Die Ergebnisse der JSON-Komprimierung werden hier angezeigt."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Über{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-json-minifier.png" alt="comic json minifier">
    </div>
    <header><h2>Weitere Links zu JSON (JavaScript Object Notation):</h2><div class="h2-highlight"></div></header>
    <p> RFC 8259 (JSON): <a rel="nofollow" href="https://tools.ietf.org/html/rfc8259" target="_blank">https://tools.ietf.org/html/rfc8259</a></p>
    <p> JSON in Python: <a rel="nofollow" href="https://docs.python.org/3/library/json.html" target="_blank">https://docs.python.org/3/library/json.html</a></p>
    <p> JSON (GSON) in Java: <a rel="nofollow" href="https://github.com/google/gson" target="_blank">https://github.com/google/gson</a></p>
    <header><h2>JSON-Zeichenfolgen in Python komprimieren (mit eigenem JSON-Paket):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import json


def minify_json(str):
    resultStr = json.dumps(json.loads(str), ensure_ascii=False)
    return resultStr
    </pre>
    <header><h2>JSON-Strings in Java komprimieren (mit Paket GSON):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import com.google.gson.Gson;
import com.google.gson.GsonBuilder;
import com.google.gson.JsonElement;
import com.google.gson.JsonParser;


public String minify(String jsonStr){
    JsonParser parser=new JsonParser();
    JsonElement je=parser.parse(jsonStr);
    Gson gson=new GsonBuilder().serializeNulls().create();
    return gson.toJson(je);
}
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/brace-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = "{\n" +
        "    \"firstName\": \"John\",\n" +
        "    \"lastName\": \"Smith\",\n" +
        "    \"age\": 25,\n" +
        "    \"address\": {\n" +
        "        \"streetAddress\": \"21 2nd Street\",\n" +
        "        \"city\": \"New York\",\n" +
        "        \"state\": \"NY\",\n" +
        "        \"postalCode\": \"10021\"\n" +
        "    },\n" +
        "    \"phoneNumber\": [\n" +
        "        {\n" +
        "            \"type\": \"home\",\n" +
        "            \"number\": \"212 555-1234\"\n" +
        "        },\n" +
        "        {\n" +
        "            \"type\": \"fax\",\n" +
        "            \"number\": \"646 555-4567\"\n" +
        "        }\n" +
        "    ],\n" +
        "    \"gender\": {\n" +
        "        \"type\": \"male\"\n" +
        "    }\n" +
        "}";

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            source = editor1.getValue();
            var minify = require('html-minifier').minify;
            output = minify(source, {
                collapseWhitespace: true,
                minifyJS: true,
                minifyCSS: true,
                removeComments: true,
            });
            output = output.replace(new RegExp("\\( ", 'g'),"(").replace(new RegExp(" \\)", 'g'),")").replace(new RegExp("{ ", 'g'),"{").replace(new RegExp("} ", 'g'),"}").replace(new RegExp(": ", 'g'),":").replace(new RegExp(", ", 'g'),",").replace(new RegExp("\\[ ", 'g'),"[").replace(new RegExp("] ", 'g'),"]").replace(new RegExp("\" ", 'g'),"\"");
            editor2.setValue(output);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}