{%extends "MyIpAddress/it/base_layout_it.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Nome del dominio o indirizzo IP</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="example.com" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> chiaro</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Query Whois</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copia il risultato</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Risultati della query Whois."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>su{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-whois.png" alt="comic whois">
    </div>
    <header><h2>Whois ha bisogno di aggiungere il prefisso www per interrogare il nome del dominio?</h2><div class="h2-highlight"></div></header>
    <p> Nella maggior parte dei casi, whois richiede un nome di dominio di secondo livello e non restituisce alcun risultato. Se non riesci a trovare alcun risultato, prova a rimuovere il prefisso <code>www</code> e riprova. </p>
    <header><h2>Perché devo usare le query Whois?</h2><div class="h2-highlight"></div></header>
    <p> Hai trovato un sito web molto interessante e hai voluto contattare il proprietario del sito web, ma non sono riuscito a trovare il numero di telefono o l'indirizzo email del proprietario del sito Web. Whois è lo strumento per controllare le informazioni di contatto del proprietario del sito web. </p>
    <p> Lo strumento di ricerca Whois, iniziato nel <code>1982</code> , aiuta le forze dell'ordine a identificare i diritti dei proprietari del dominio. Oggi, se si paga un extra a Godaddy, Godaddy può aiutarti a nascondere le tue informazioni di contatto, quindi quando gli altri sono nel tuo dominio Quando si esegue una query, il numero di telefono e l'indirizzo e-mail non verranno visualizzati. </p>
    <header><h2>Devo nascondere le mie informazioni di contatto nei risultati di ricerca Whois? ?</h2><div class="h2-highlight"></div></header>
    <p> Per i siti web regolari, consiglio alle persone di non nascondere le loro informazioni di contatto perché rappresentano la reputazione del tuo sito Web. Ma se la tua privacy è molto importante per te, o se vuoi stare lontano da potenziali spam, whois potrebbe essere la protezione della privacy Vale la pena scegliere </p>
    <header><h2>Più collegamenti alle query Whois:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (Whois): <a rel="nofollow" href="https://en.wikipedia.org/wiki/WHOIS" target="_blank">https://en.wikipedia.org/wiki/WHOIS</a></p>
    <p> RFC 3912 (Whois): <a rel="nofollow" href="https://tools.ietf.org/html/rfc3912" target="_blank">https://tools.ietf.org/html/rfc3912</a></p>
    <p> Query Whois (Ubuntu) nel sistema Linux: <a rel="nofollow" href="https://manpages.debian.org/jessie/whois/whois.1.en.html" target="_blank">https://manpages.debian.org/jessie/whois/whois.1.en.html</a></p>
    <header><h2>Comando Whois nel sistema Linux:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       whois - client for the whois directory service

SYNOPSIS
       whois  [  {  -h | --host } HOST ] [ { -p | --port } PORT ] [ -abBcdGHKlLmMrRx ] [ -g SOURCE:FIRST-LAST ]
       [ -i ATTR[,ATTR]... ] [ -s SOURCE[,SOURCE]... ] [ -T TYPE[,TYPE]... ] [ --verbose ]
       OBJECT

       whois -q KEYWORD

       whois -t TYPE

       whois -v TYPE

       whois --help

       whois --version</pre>
    <br>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# whois -H google.com
   Domain Name: GOOGLE.COM
   Registry Domain ID: 2138514_DOMAIN_COM-VRSN
   Registrar WHOIS Server: whois.markmonitor.com
   Registrar URL: http://www.markmonitor.com
   Updated Date: 2018-02-21T18:36:40Z
   Creation Date: 1997-09-15T04:00:00Z
   Registry Expiry Date: 2020-09-14T04:00:00Z
   ......
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}