{%extends "MyIpAddress/it/base_layout_it.html"%}
{%block content%}
<div id="headline">
    <h1>Il mio indirizzo IP: <span id="clientIP"></span></h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Query Indirizzo IP</span>
        </div>
        <input name="queryIp" id="queryIp" type="text" class="form-control" placeholder="" value="" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="init_query()"><i class="far fa-trash-alt"></i> reset</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">inchiesta</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard_ip()"><i class="far fa-copy"></i> Copia il risultato</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="codewrapper size18codewrapper">
            <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Risultato della query di attribuzione dell'indirizzo IP"></textarea>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div name="map" id="map" class="col-xs-6" style="width: 100%;height: 300px;background-color: #f2f2f2"></div>
    </div>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>su{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-my-ip-addresss.png" alt="comic my ip address">
    </div>
    <header><h2>Cos'è un indirizzo IP?</h2><div class="h2-highlight"></div></header>
    <p> Proprio come il vero indirizzo postale che utilizzi per ricevere i pacchetti di Amazon, l'indirizzo IP (indirizzo del protocollo Internet) è la posizione del tuo tag su Internet, quindi altri computer (server web) sanno dove inviare i dati. </p>
    <p> Esistono due tipi di indirizzi IP: Protocollo Internet versione 4 (IPv4) e Protocollo Internet versione 6 (IPv6): IPv6 utilizza <code>128</code> bit per rappresentare gli indirizzi, sebbene IPv6 non sia ampiamente utilizzato negli ultimi 10 anni. IPv4 utilizza <code>32</code> bit per rappresentare gli indirizzi ( 0.0.0.0 ~ 255.255.255.255). Ciò significa che IPv4 ha un totale di <code>2^32 = 4,294,967,296</code> indirizzi indipendenti (4 miliardi non è un numero grande !!!). </p>
    <p> Il dispositivo in uso non ha un indirizzo IPv4 univoco, ma utilizza un indirizzo IPv4 privato.Il router ha un indirizzo IP pubblico dedicato e trasmette tutto il traffico Internet al mondo esterno come stazione di inoltro.Questa tecnologia è denominata NAT ( Traduzione degli indirizzi di rete). NAT può non solo ridurre il consumo degli indirizzi IPv4 pubblici, ma anche fornire ulteriore sicurezza. </p>
    <header><h2>Perché devo conoscere l'indirizzo IP?</h2><div class="h2-highlight"></div></header>
    <p> Privacy Il tuo indirizzo IP può rivelare le tue vere informazioni geografiche (paese e città) Persone che usano VPN o proxy per nascondere la tua posizione Internet La differenza tra i due è l'autorità di cui ti fidi. Il tuo IPS (Internet Service Provider) è una grande compagnia nazionale che lavora con il governo, mentre i provider VPN forniscono servizi basati sulla protezione della privacy dei loro clienti, ma non sei sicuro se raccolgono la cronologia di navigazione. Gli utenti di fascia alta consigliano di utilizzare Tor, un tunnel VPN per seguire un altro tunnel VPN, quindi nessuno può conoscere il tuo vero indirizzo IP. </p>
    <header><h2>Altri collegamenti a indirizzi IP:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (Internet Protocol): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Internet_Protocol" target="_blank">https://en.wikipedia.org/wiki/Internet_Protocol</a>
    </p>
    <p> RFC 791 (Internet Protocol): <a rel="nofollow" href="https://tools.ietf.org/html/rfc791" target="_blank">https://tools.ietf.org/html/rfc791</a>
    </p>
    <p> API Query di geolocalizzazione (ip-api): <a rel="nofollow" href="http://ip-api.com/docs/" target="_blank">http://ip-api.com/docs/</a></p>
    <p> API Query di geolocalizzazione (API di Google Maps): <a rel="nofollow" href="https://developers.google.com/maps/documentation/geolocation/intro"
                                             target="_blank">https://developers.google.com/maps/documentation/geolocation/intro</a>
    </p>
    <header><h2>Interrogare la geografia dell'indirizzo IP in Python (usando API Coding.tools):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import requests
import json

ip_json_str = requests.post('https://coding.tools/my-ip-address', data={'queryIp': '8.8.8.8'}).text
ip_json = json.loads(ip_json_str)
print(ip_json)

print('IP address:', ip_json['ip'])
print('Country:', ip_json['country_name'])
print('Region:', ip_json['region_name'])
print('City:', ip_json['city_name'])
print('Latitude:', ip_json['latitude'])
print('Longitude:', ip_json['longitude'])
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });


    query();

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        var ip = document.getElementById("queryIp").value;
        ip = ip.trim();
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                finished_spin_hidden();
                render_result(JSON.parse(data));
            });
    }

    function render_result(ip_info) {
        if (document.getElementById("clientIP").innerText===""){
            document.getElementById("clientIP").innerText = ip_info['ip'];
        }
        editor2.setValue('IP address: ' + ip_info['ip'] + '\nCountry: ' + ip_info['country_name'] + ' (' + ip_info['country_code'] + ')' + '\nRegion: ' + ip_info['region_name'] + '\nCity: ' + ip_info['city_name']
                    + '\nLatitude: ' + ip_info['latitude'] + '\nLongitude: ' + ip_info['longitude'] + '\nZip Code: ' + ip_info['zip_code'] + '\nTimezone: ' + ip_info['time_zone']);
        document.getElementById("queryIp").value = ip_info['ip'];
                document.getElementById('map').innerHTML = "<iframe width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border:1px solid #e1e1e1\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyDvTryAEw90t0gne_bqsnmJ9DYxrvcEg_Y&q="+ip_info['city_name']+","+ip_info['region_name']+","+ip_info['country_name']+"\"allowfullscreen></iframe>";
    }

    function copy_to_clipboard_ip() {
        var copy_button = document.getElementById("copy");
        document.getElementById("queryIp").focus();
        document.getElementById("queryIp").select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}