<!DOCTYPE html>
<html lang="{{model.lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="{{model.lang}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include "Common/seg_header_tag_with_hreflang.html"%}
    {%include "Common/seg_unit_css.html"%}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{model.cdnjs_version_bootstrap}}/css/bootstrap.min.css">
    {%include "Common/seg_unit_header_js.html"%}
</head>
<body>
<div id="nav">
    <nav class="navbar navbar-expand-xl navbar-dark customShadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/it"><i class="fas fa-bug"></i>  Coding.Tools</a>
            {%include "Common/seg_nav_right.html"%}
        </div>
    </nav>{%include "Common/seg_unit_search_and_suggest.html"%}
</div>
<div id="content" class="container-fluid">{%include "Common/Ad_PlaceHolder/seg_ad_header_up.html" %}
    <div class="content_along_sidebar">
        {%block content%}{%endblock%}
        {%include "Common/seg_facebook_comment.html" %}
    </div>
    <div class="sidebar">
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_up.html" %}
        <div class="tool-list">
            <a id="relatedtools" class="table-link-header" href="#relatedtools">Strumenti correlati</a>
            <a class="table-link" href="/it/hex-to-decimal">Conversione da esadecimale a decimale</a>
            <a class="table-link" href="/it/decimal-to-hex">Conversione da decimale a esadecimale</a>
            <a class="table-link" href="/it/octal-to-decimal">Conversione da ottale a decimale</a>
            <a class="table-link" href="/it/decimal-to-octal">Conversione da decimale a ottale</a>
            <a class="table-link" href="/it/binary-to-decimal">Conversione da binario a decimale</a>
            <a class="table-link" href="/it/decimal-to-binary">Conversione da decimale a binario</a>
            <a class="table-link" href="/it/ascii-table">Tabella di ricerca ASCII</a>
            <a class="table-link" href="/it/hex-to-ascii">Conversione di stringhe esadecimali in ASCII</a>
            <a class="table-link" href="/it/ascii-to-hex">Conversione da stringa ASCII a esadecimale</a>
            <a class="table-link" href="/it/fraction-to-decimal">Conversione da frazioni a decimali</a>
            <a class="table-link" href="/it/decimal-to-fraction">Conversione frazionale-frazionaria</a>
            <a class="table-link" href="/it/percent-to-decimal">Conversione da percentuale a decimale</a>
            <a class="table-link" href="/it/decimal-to-percent">Conversione da decimale a percentuale</a>
            <a class="table-link" href="/it/percent-to-fraction">Percentuale alla conversione frazionaria</a>
            <a class="table-link" href="/it/fraction-to-percent">Punteggio alla conversione percentuale</a>
            <a class="table-link" href="/it/hex-to-rgb">Conversione del colore esadecimale in RGB</a>
            <a class="table-link" href="/it/rgb-to-hex">Conversione del colore RGB in esadecimale</a>
            <a class="table-link" href="/it/hex-to-rgba">Conversione del colore esadecimale in RGBA</a>
            <a class="table-link" href="/it/rgba-to-hex">Conversione del colore RGBA in colore esadecimale</a>
            <a class="table-link" href="/it/roman-numerals-chart">Tabella di confronto numeri romani 1-1000</a>
            <a class="table-link" href="/it/roman-numerals-to-numbers">Conversione di numeri romani in numeri arabi</a>
            <a class="table-link" href="/it/numbers-to-roman-numerals">Conversione di numeri arabi in numeri romani</a>
            <br style="clear:both;"/>
        </div>
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_middle.html" %}
        {%include "Common/seg_category_list_it.html"%}
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_down.html" %}
    </div>
    <br style="clear:both;"/>
</div>
{%include "Common/seg_footer.html"%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{model.cdnjs_version_jquery}}/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/{{model.cdnjs_version_bignumber}}/bignumber.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
{%block customPageJS%}{%endblock%}
{%include "HexToDecimal/seg_load_js.html"%}
</body>
</html>