{%extends "MyIpAddress/de/base_layout_de.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Domänenname oder IP-Adresse</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="Example.com" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Abfragetyp</span>
        </div>
        <select class="form-control custom-select" name="querytype" id="querytype">
            <option value="A" selected>A (die IPv4-Adresse, die dem angegebenen Domänennamen entspricht)</option>
            <option value="AAAA">AAAA (IPv6-Adresse, die dem angegebenen Domänennamen entspricht)</option>
            <option value="CNAME">CNAME (Alias-Datensatz)</option>
            <option value="MX">MX (Mail Exchange Record)</option>
            <option value="NS">NS (Geben Sie an, welchen DNS-Server der Domänenname aufzulösen ist.)</option>
            <option value="TXT">TXT (Beschreibung des Hostnamens oder Domänennamens)</option>
            <option value="SOA">SOA (Erstbefugnis)</option>
            <option value="PTR">PTR (Reverse IP Lookup)</option>
            <option value="ANY">ANY (alle DNS-Datensatztypen)</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Öffentlicher Server für DNS-Abfrage</span>
        </div>
        <select class="form-control custom-select" name="dnsserver" id="dnsserver">
            <option value="8.8.8.8" selected>Öffentlicher Google-DNS-Server (8.8.8.8)</option>
            <option value="209.244.0.3">Öffentlicher DNS-Server der Stufe 3 (209.244.0.3)</option>
            <option value="9.9.9.9">Öffentlicher DNS-Server mit Quad9 (9.9.9.9)</option>
            <option value="208.67.222.222">Öffentlicher OpenDNS-DNS-Server (208.67.222.222)</option>
            <option value="64.6.64.6">Verisign Public DNS Server (64.6.64.6)</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Leer</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">DNS-Abfrage</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Ergebnis kopieren</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="DNS-Abfrageergebnisse"></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Über{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} 支持DNS类型：</p>
    <table class="descriptionTable">
        <tr>
            <th> DNS-Typ </th>
            <th> Einleitung </th>
        </tr>
        <tr>
            <td>A</td>
            <td>Specifies a computer's IPv4 address</td>
        </tr>
        <tr>
            <td>AAAA</td>
            <td>Specifies a computer's IPv6 address</td>
        </tr>
        <tr>
            <td>CNAME</td>
            <td>Specifies a canonical name for an alias</td>
        </tr>
        <tr>
            <td>MX</td>
            <td>Specifies the mail exchanger</td>
        </tr>
        <tr>
            <td>NS</td>
            <td>Specifies a DNS name server for the named zone</td>
        </tr>
        <tr>
            <td>TXT</td>
            <td>Specifies the text information</td>
        </tr>
        <tr>
            <td>SOA</td>
            <td>Specifies the start-of-authority for a DNS zone</td>
        </tr>
        <tr>
            <td>PTR</td>
            <td>Specifies a computer name if the query is an IP address</td>
        </tr>
        <tr>
            <td>ANY</td>
            <td>Specifies a computer's all DNS Type record</td>
        </tr>
    </table>
    <br/>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-nslookup.png" alt="comic nslookup">
    </div>
    <header><h2>DNS-Abfrage muss das WWW-Präfix nicht hinzufügen?</h2><div class="h2-highlight"></div></header>
    <p> In den meisten Fällen können DNS-Abfragen mit oder ohne das Präfix <code>www</code> normalerweise Ergebnisse zurückgeben. DNS-Abfragen ohne Präfix <code>www</code> Regel weitere Informationen zum Domänennamen zurück, da der Domänenname mit dem Präfix <code>www</code> sekundär ist. Domänenname </p>
    <header><h2>Warum muss ich eine DNS-Abfrage verwenden?</h2><div class="h2-highlight"></div></header>
    <p> Wenn Sie Facebook online anzeigen möchten, können Sie sich möglicherweise die IP-Adresse der Facebook-Website <code>"31.13.67.35"</code> , geben Sie jedoch <code>"facebook.com"</code> in den Browser ein Mit anderen <code>"31.13.67.35"</code> , das Gerät bevorzugt die Kommunikation mit anderen Geräten über eine IP-Adresse: Wenn Sie in Ihrem Browser auf Facebook klicken, führt Ihr Browser automatisch eine DNS-Abfrage durch und erhält die IP-Adresse <code>"31.13.67.35"</code> . </p>
    <p> Die DNS-Abfrage übersetzt den Domänennamen in eine maschinenlesbare IP-Adresse, die DNS-Abfragefunktion ist jedoch nicht darauf beschränkt, NsLookup kann jedoch den Domänennamen des Mail-Servers, die IPv6-Adresse des Domänennamens usw. finden. </p>
    <p> DNS-Abfragen werden auch in professionellen Bereichen verwendet: Beim Nachweisen des Besitzes von Domänennamen kann das Hinzufügen eines TEXT-DNS-Eintrags den Besitz Ihres Domänennamens nachweisen (wenn Sie einen Domänennamen von Godaddy kaufen, können Sie DNS-Einträge in den DNS-Server von Godadd setzen). </p>
    <header><h2>Verbergen Sie die echten DNS-Einträge Ihrer Website mit Cloudflare:</h2><div class="h2-highlight"></div></header>
    <p> Cloudflare kann Datenverkehr über Ihr CDN (Global Content Distribution Network) an Ihre Website weiterleiten, wobei die tatsächliche IP-Adresse Ihres Webservers durch die IP von Cloudflare in den DNS-Abfrageergebnissen ersetzt wird. </p>
    <header><h2>Welchen DNS-Server sollten Sie verwenden?</h2><div class="h2-highlight"></div></header>
    <p> Autorität des DNS - Servers ist für die Sicherheit des Internets wesentlich. DNS - Fehler führen können Sie auf die falsche Seite führen. Es gibt Teile des Welt <code>13</code> Root - Servers. Zur gleichen Zeit, Google und andere große Unternehmen kostenlosen öffentlichen DNS - Dienst zur Verfügung zu stellen (8.8 .8.8) für den täglichen Gebrauch. </p>
    <p> Wenn Sie auf Ihrem Computer keinen Standard-DNS-Server festlegen, weist Ihnen Ihr ISP (Internet Service Provider) standardmäßig einen DNS-Server zu, obwohl dieser möglicherweise nicht so zuverlässig wie der öffentliche DNS-Dienst von Google (8.8.8.8) ist Es ist einfach einzurichten. Sie sollten den Standard-DNS-Server Ihres Computers in einen der öffentlichen DNS-Server ändern. </p>
    <header><h2>Weitere Links zu DNS-Abfragen:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (DNS): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Domain_Name_System" target="_blank">https://en.wikipedia.org/wiki/Domain_Name_System</a></p>
    <p> RFC 1035 (DNS): <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1035.txt" target="_blank">https://www.ietf.org/rfc/rfc1035.txt</a></p>
    <p> DNS-Abfrage im Linux-System: <a rel="nofollow" href="https://linux.die.net/man/1/nslookup" target="_blank">https://linux.die.net/man/1/nslookup</a></p>
    <p> DNS-Abfrage im Windows-System: <a rel="nofollow" href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/nslookup" target="_blank">https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/nslookup</a></p>
    <header><h2>DNS-Abfragebefehl (nslookup) im Linux-System:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       nslookup - query Internet name servers interactively

SYNOPSIS
       nslookup [-option] [name | -] [server]</pre>
    <br>
    <pre class="prettyprint">
root@instance-2:/var/log/apache2# nslookup -type=any facebook.com 8.8.8.8
Server:		8.8.8.8
Address:	8.8.8.8#53

Non-authoritative answer:
facebook.com	nameserver = a.ns.facebook.com.
facebook.com	nameserver = b.ns.facebook.com.
facebook.com	text = "v=spf1 redirect=_spf.facebook.com"
facebook.com	mail exchanger = 10 msgin.vvv.facebook.com.
facebook.com
	origin = a.ns.facebook.com
	mail addr = dns.facebook.com
	serial = 1530053366
	refresh = 14400
	retry = 1800
	expire = 604800
	minimum = 300
Name:	facebook.com
Address: 2a03:2880:f12c:183:face:b00c:0:25de
Name:	facebook.com
Address: 157.240.14.35

Authoritative answers can be found from:
    </pre>
    <header><h2>DNS-Abfrage mit Python (mit Paket dnspython):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
# pip install dnspython
import dns.resolver


def nslookup(domain, record_type):
    dns_resolver = dns.resolver.Resolver()
    answers = dns_resolver.query(domain, record_type)
    for answer in answers:
        print('Domain:{0} Record Type:{1} Answer:{2}'.format(domain, record_type, answer))


if __name__ == "__main__":
    # dns lookup domain
    nslookup('coding.tools', 'A')

-------------------
Domain:coding.tools Record Type:A Answer:104.27.176.94
Domain:coding.tools Record Type:A Answer:104.27.177.94
    </pre>
    <header><h2>DNS-Abfrage in Java (mit dem Paket java.net.InetAddress):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.io.IOException;
import java.net.InetAddress;

public class DNS {
    public static void nslookup(String domain) throws IOException {
        InetAddress[] remote_hosts = InetAddress.getAllByName(domain);
        for (InetAddress remote_host : remote_hosts) {
            System.out.println("Domain:" + domain + " IP Address:" + remote_host.getHostAddress());
        }
    }

    public static void main(String[] args) throws IOException {
        // dns lookup domain
        nslookup("coding.tools");
    }
}

-------------------
Domain:coding.tools IP Address:104.27.176.94
Domain:coding.tools IP Address:104.27.177.94
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}