{%extends "HexToDecimal/id/base_layout_id.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Warna hex <sub>#</sub></span>
        </div>
        <input name="queryStr" id="QueryStr" type="text" class="form-control" spellcheck="false" placeholder="{{model.main_color}}" oninput="query()">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Transparansi (Opacity) <sub>%</sub></span>
        </div>
        <input name="QueryOpacity" id="QueryOpacity" type="text" class="form-control" spellcheck="false" placeholder="0% ~ 100%" oninput="query()">
        <i class="fas fa-percentage" style="font-size:38px;padding-left: 20px;"></i>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Kosong</button>
    <a href="/id/rgba-to-hex" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> Pertukaran lokasi</button>
    </a>
    <button type="button" id="random" class="btn btn-secondary" onclick="random_color()">Pilih warna secara acak</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Konversi</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Salin hasil</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Warna RGBA</span>
    </div>
    <input name="RGBAOutput" id="RGBAOutput" type="text" class="form-control" spellcheck="false">
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Tentang{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>Sistem warna hex:</h2><div class="h2-highlight"></div></header>
    <p> Sistem warna HTML dapat diwakili oleh angka heksadesimal dari <code>#000000</code> (hitam murni) ke <code>#FFFFFF</code> (putih murni). Misalnya, <code>#123456</code> saluran merah adalah "12" (antara "00" dan "FF" Saluran hijau adalah "34" dan saluran biru adalah "56". Sistem warna Hex juga mendukung tampilan yang disederhanakan, seperti <code>#e1a</code> dan <code>#ee11aa</code> yang setara. </p>
    <header><h2>Sistem warna RGBA:</h2><div class="h2-highlight"></div></header>
    <p> sistem warna RGBA "R" merupakan saluran merah ( "Red"), "G " untuk saluran hijau ( "Hijau"), "B " saluran untuk biru ( "Blue"), Perwakilan transparansi (Opacity). Misalnya <code>rgba(16,110,190,0.7)</code> . </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-hex-to-rgba.png" alt="comic hex to rgba">
    </div>
    <header><h2>Bagaimana cara mengubah warna Hex ke warna RGBA?</h2><div class="h2-highlight"></div></header>
    <ol>
        <li><p> Langkah 1: Dapatkan nilai saluran merah, nilai saluran hijau, nilai saluran biru dan nilai transparansi masing-masing warna Hex. </p></li>
        <li><p> Langkah 2: Konversi nilai saluran warna dari heksadesimal menjadi desimal. </p></li>
        <li><p> Langkah 3: Gabungkan tiga nilai saluran warna sesuai dengan sintaks sistem warna RGBA. </p></li>
    </ol>
    <p> <b>Contoh 1: Ubah warna Hex "# 106ebe" (transparansi 80%) menjadi warna RGBA (hasilnya adalah "rgba (16.110.190,0.8)"):</b> </p>
    <table class="descriptionTable">
        <tr>
            <td><b>Step 1:</b></td>
            <td>Hex Color "#106ebe": Red(0x10), Green(0x6e), Blue(0xbe)</td>
        </tr>
        <tr>
            <td><b>Step 2:</b></td>
            <td>Red: (0x10)->(16), Green: (0x6e)->(110), Blue: (0xbe)->(190)</td>
        </tr>
        <tr>
            <td><b>Step 3:</b></td>
            <td>Hex Color "#106ebe" opacity 80% -> rgba(16,110,190,0.8)</td>
        </tr>
    </table>
    <br>
    <p> <b>Contoh 1: Ubah warna Hex "# ea3" (transparansi 100%) menjadi warna RGBA (hasilnya adalah "rgba (238.170.51,1)"):</b> </p>
    <table class="descriptionTable">
        <tr>
            <td><b>Step 1:</b></td>
            <td>Hex Color "#ea3" -> "#eeaa33"</td>
        </tr>
        <tr>
            <td><b>Step 2:</b></td>
            <td>Hex Color "#eeaa33": Red(0xee), Green(0xaa), Blue(0x33)</td>
        </tr>
        <tr>
            <td><b>Step 3:</b></td>
            <td>Red: (0xee)->(238), Green: (0xaa)->(170), Blue: (0x33)->(51)</td>
        </tr>
        <tr>
            <td><b>Step 4:</b></td>
            <td>Hex Color "#ea3", opacity 100% -> rgba(238,170,51,1)</td>
        </tr>
    </table>
    <br>
    <header><h2>Tautan:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (Sistem Warna Web): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Web_colors" target="_blank">https://en.wikipedia.org/wiki/Web_colors</a></p>
    <p> Wikipedia (Sistem Warna RGBA): <a rel="nofollow" href="https://en.wikipedia.org/wiki/RGBA_color_space" target="_blank">https://en.wikipedia.org/wiki/RGBA_color_space</a></p>
    <header><h2>Hex warna ke konversi warna RGBA di Python:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">import re


def rgba_to_hex(rgba_color):
    rgb_color = re.search('\(.*\)', rgba_color).group(0).replace(' ', '').lstrip('(').rstrip(')')
    [r, g, b, o] = rgb_color.split(',')
    [r, g, b] = [int(x) for x in [r, g, b]]
    o = float(o) * 100
    o = str(o) + '%'

    # check if in range 0~255
    assert 0 <= r <= 255
    assert 0 <= g <= 255
    assert 0 <= b <= 255

    r = hex(r).lstrip('0x')
    g = hex(g).lstrip('0x')
    b = hex(b).lstrip('0x')
    # re-write '7' to '07'
    r = (2 - len(r)) * '0' + r
    g = (2 - len(g)) * '0' + g
    b = (2 - len(b)) * '0' + b

    hex_color = '#' + r + g + b + ', with opacity:' + o
    return hex_color


rgba_input = 'rgba(7,110,190,0.95)'
hex_output = rgba_to_hex(rgba_input)
print('Hex color result is:{0}'.format(hex_output))

-------------------
Hex color result is:#076ebe, with opacity:95.0%</pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var QueryStr = document.getElementById("QueryStr");
    var QueryOpacity = document.getElementById("QueryOpacity");
    var RGBAOutput = document.getElementById("RGBAOutput");

    function query() {
        $('#spinner').css('visibility', 'visible');
        RGBAOutput.value = "";
        var input_value = QueryStr.value.replace(new RegExp(" ", 'g'), "").replace("#", "");
        var input_opacity = QueryOpacity.value.replace(new RegExp(" ", 'g'), "").replace("%", "");
        if (input_opacity == "") {
            input_opacity = "100";
        }
        var input_opacity = parseInt(input_opacity, 10) / 100;
        var r = '10';
        var g = '6e';
        var b = 'be';
        if (input_value.length == 6) {
            r = input_value.substring(0, 2);
            g = input_value.substring(2, 4);
            b = input_value.substring(4, 6);
            r = parseInt(r, 16);
            g = parseInt(g, 16);
            b = parseInt(b, 16);
            if (r <= 255 && r >= 0 && g <= 255 && g >= 0 && b <= 255 && b >= 0) {
                rgb = "rgba(" + r + "," + g + "," + b + "," + input_opacity + ")";
                RGBAOutput.value = rgb;
                $(':root').css("--main-color", rgb);
            }
        }
        else if (input_value.length == 3) {
            r = input_value.substring(0, 1);
            r = r + r;
            g = input_value.substring(1, 2);
            g = g + g;
            b = input_value.substring(2, 3);
            b = b + b;
            r = parseInt(r, 16);
            g = parseInt(g, 16);
            b = parseInt(b, 16);
            if (r <= 255 && r >= 0 && g <= 255 && g >= 0 && b <= 255 && b >= 0) {
                rgb = "rgba(" + r + "," + g + "," + b + "," + input_opacity + ")";
                RGBAOutput.value = rgb;
                $(':root').css("--main-color", rgb);
            }
        }
        else {
            $(':root').css("--main-color", "{{model.main_color}}");
        }
        finished_spin_hidden();
    }

    function clear_txt() {
        QueryStr.value = "";
        QueryOpacity.value = "";
        RGBAOutput.value = "";
        $(':root').css("--main-color", "{{model.main_color}}");
    }

    function random_color() {
        clear_txt();
        var random_r = Math.floor(Math.random() * 256);
        var random_g = Math.floor(Math.random() * 256);
        var random_b = Math.floor(Math.random() * 256);
        var random_opacity = Math.floor(Math.random() * 100).toString(10) + "%";

        random_r = random_r.toString(16);
        random_g = random_g.toString(16);
        random_b = random_b.toString(16);

        if (random_r.length == 1) random_r = '0' + random_r;
        if (random_g.length == 1) random_g = '0' + random_g;
        if (random_b.length == 1) random_b = '0' + random_b;

        random_hex = "#" + random_r + random_g + random_b;
        QueryStr.value = random_hex;
        QueryOpacity.value = random_opacity;
        query();
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        RGBAOutput.focus();
        RGBAOutput.select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}