{%extends "HexToDecimal/ar/base_layout_ar.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">نسبة مئوية</span>
        </div>
        <input name="queryStr" id="QueryStr" type="text" class="form-control" spellcheck="false" oninput="query()">
        <i class="fas fa-percentage" style="font-size:38px;padding-left: 20px;"></i>
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> واضح</button>
    <a href="/ar/fraction-to-percent" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> موقع الصرف</button>
    </a>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">تغيير</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<table style="width: 100%" border="0">
    <tr>
        <td rowspan="3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">عدد صحيح</span>
                </div>
                <input name="queryStr" id="OutputInteger" type="text" class="form-control" spellcheck="false">
            </div>
        </td>
        <td>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">جزيئي</span>
                </div>
                <input name="queryStr" id="OutputNumerator" type="text" class="form-control" spellcheck="false">
            </div>
        </td>
    </tr>
    <tr>
        <td style="height: 20px;">
            <div style="width: 100%; height: 5px; padding-left:100px; background-color: #444444"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">قاسم</span>
                </div>
                <input name="queryStr" id="OutputDenominator" type="text" class="form-control" spellcheck="false">
            </div>
        </td>
    </tr>
</table>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>في{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>النسبة المئوية (نسبة مئوية):</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> تمثل النسبة المئوية جزءًا من الكل (100) ، ويستخدم نظام النسبة المئوية على نطاق واسع في التمويل ، وتكون وظيفة النسبة المئوية شبيهة جدًا بالنتيجة ، ولكن النسبة المئوية أسهل للمقارنة. </p>
    <header><h2>جزء (جزء):</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> الرقم فوق الخط الأسود هو البسط ، والعدد تحت الخط الأسود هو المقام ، على الرغم من أن البسط والمقام كلاهما أرقام طبيعية ، فإن القيم التي يمثلونها لا يتم تمثيلها في بعض الأحيان كأرقام طبيعية. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-percent-to-fraction.png" alt="comic percent to fraction">
    </div>
    <header><h2>كيف يسجل لتحويل النتيجة؟</h2><div class="h2-highlight"></div></header>
    <ol>
        <li><p style=";text-align:right;direction:rtl"> الخطوة 1: قم بتحويل النتيجة إلى كسر يستند إلى مضاعف عدد صحيح يبلغ 10. </p></li>
        <li><p style=";text-align:right;direction:rtl"> الخطوة 2: البحث عن القاسم المشترك الأكبر من البسط والمقام. </p></li>
        <li><p style=";text-align:right;direction:rtl"> الخطوة 3: يتم تقسيم البسط والمقام في وقت واحد عن طريق القاسم المشترك الأكبر. </p></li>
    </ol>
    <header><h2>النسبة المئوية لتسجيل جدول التحويل:</h2><div class="h2-highlight"></div></header>
    <table class="descriptionTable">
        <tr>
            <th> النسبة المئوية لل </th>
            <th> جزء </th>
            <th> النسبة المئوية لل </th>
            <th> جزء </th>
        </tr>
        <tr>
            <td>1%</td>
            <td>1/100</td>
            <td>25%</td>
            <td>1/4</td>
        </tr>
        <tr>
            <td>8.333333%</td>
            <td>1/12</td>
            <td>28.571429%</td>
            <td>2/7</td>
        </tr>
        <tr>
            <td>9.090909%</td>
            <td>1/11</td>
            <td>30%</td>
            <td>3/10</td>
        </tr>
        <tr>
            <td>10%</td>
            <td>1/10</td>
            <td>33.333333%</td>
            <td>1/3</td>
        </tr>
        <tr>
            <td>11.111111%</td>
            <td>1/9</td>
            <td>37.5%</td>
            <td>3/8</td>
        </tr>
        <tr>
            <td>12.5%</td>
            <td>1/8</td>
            <td>40%</td>
            <td>2/5</td>
        </tr>
        <tr>
            <td>14.285714%</td>
            <td>1/7</td>
            <td>42.857143%</td>
            <td>3/7</td>
        </tr>
        <tr>
            <td>16.666667%</td>
            <td>1/6</td>
            <td>44.444444%</td>
            <td>4/9</td>
        </tr>
        <tr>
            <td>20%</td>
            <td>1/5</td>
            <td>50%</td>
            <td>1/2</td>
        </tr>
        <tr>
            <td>22.222222%</td>
            <td>2/9</td>
            <td>55.555555%</td>
            <td>5/9</td>
        </tr>
    </table>
    <br>
    <header><h2>صلة:</h2><div class="h2-highlight"></div></header>
    <p style=";text-align:right;direction:rtl"> ويكيبيديا (درجة):: <a rel="nofollow" href="https://en.wikipedia.org/wiki/Fraction_(mathematics)" target="_blank">https://en.wikipedia.org/wiki/Fraction_(mathematics)</a></p>
    <p style=";text-align:right;direction:rtl"> ويكيبيديا (نسبة مئوية): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Percentage" target="_blank">https://en.wikipedia.org/wiki/Percentage</a></p>
    <header><h2>النسبة المئوية للتحويل الجزئي في بايثون:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">import fractions


def percent_to_fraction(percent_number):
    decimal_number = percent_number / 100
    fraction = fractions.Fraction(decimal_number)
    return fraction


percent_input = 75
fraction_output = percent_to_fraction(percent_input)
print('fraction result is:{0}'.format(fraction_output))

-------------------
fraction result is:3/4</pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var QueryStr = document.getElementById("QueryStr");
    var OutputInteger = document.getElementById("OutputInteger");
    var OutputNumerator = document.getElementById("OutputNumerator");
    var OutputDenominator = document.getElementById("OutputDenominator");

    function query() {
        $('#spinner').css('visibility', 'visible');
        OutputInteger.value = "";
        OutputNumerator.value = "";
        OutputDenominator.value = "";
        var decimal_input = QueryStr.value.replace(new RegExp(" ", 'g'), "").replace("%", "");
        decimal_input = new BigNumber(decimal_input, 10);
        decimal_input = decimal_input.dividedBy(new BigNumber(100)).toString(10);
        if (decimal_input != "") {
            if(decimal_input.includes('.')){
                [integer_str, fraction_str] = decimal_input.split('.');
            }else{
                integer_str = decimal_input;
                fraction_str = '0';
            }
            OutputInteger.value = integer_str.toString(10);
            fraction_str = "0." + fraction_str;
            fraction_str = new BigNumber(fraction_str, 10);
            [Numerator, Denominator] = fraction_str.toFraction();
            //var output_decimal = input_value.toFraction().toString(10);
            OutputNumerator.value = Numerator.toString(10);
            OutputDenominator.value = Denominator.toString(10);
        }
        finished_spin_hidden();
    }

    function clear_txt() {
        QueryStr.value = "";
        OutputInteger.value = "";
        OutputNumerator.value = "";
        OutputDenominator.value = "";
    }
</script>
{%endblock%}