{%extends "PasswordsGenerator/es/base_layout_es.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Por favor, introduzca o arrastre en un archivo de texto aquí."></textarea>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">UpperCase</span>
        </div>
        <select class="form-control custom-select" name="UpperCase" id="UpperCase" oninput="post_ajax()">
            <option value="u" selected>Hash Result in UpperCase</option>
            <option value="l">Hash Result in LowerCase</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> Vacio</button>
    <button type="button" id="submit_button" class="btn btn-primary">Cifrado MD5</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copiar resultado</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="El resultado se mostrará aquí."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Acerca de{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-md5.png" alt="comic md5">
    </div>
    <header><h2>¿Por qué necesitas MD5?</h2><div class="h2-highlight"></div></header>
    <p> Un algoritmo hash como MD5 es un algoritmo de una sola vía, lo que significa que es irreversible. Este carácter hace que MD5 sea muy útil para hacer "huellas digitales" en un archivo. El valor MD5 del archivo puede probar que el archivo no se ha modificado. El algoritmo hash también Se utiliza para la protección con contraseña. La "sal" almacenada en la base de datos del sitio web y el valor final de su contraseña original son irreversibles, lo que significa que incluso si la base de datos está en peligro, el pirata informático no podrá recuperar su contraseña. </p>
    <header><h2>¿Es seguro MD5, debo continuar usándolo?</h2><div class="h2-highlight"></div></header>
    <p> El primer tipo de ataque se llama <code>(rainbow tables)</code> . Es una base de datos muy grande, que incluye una cadena corta con el valor MD5 correspondiente. Por ejemplo, cuando mira la tabla del arco iris <code>"FC5E038D38A57032085441E7FE7010B0"</code> , puede encontrar su original La cadena es "helloworld". Si la cadena original es corta, la tabla del arco iris puede descifrar MD5 con éxito. </p>
    <p> El segundo ataque se basa en el algoritmo básico de MD5. En los últimos años, más y más sitios web han cambiado a SHA256 o SHA512. Sin embargo, muchos sitios web todavía usan MD5, lo que ha dejado un gran peligro oculto para la seguridad de Internet. </p>
    <header><h2>Más enlaces a MD5:</h2><div class="h2-highlight"></div></header>
    <p> RFC 1321: <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1321.txt" alt="MD5" target="_blank">https://www.ietf.org/rfc/rfc1321.txt</a></p>
    <p> MD5 en Python (hashlib): <a rel="nofollow" href="https://docs.python.org/3/library/hashlib.html" alt="MD5" target="_blank">https://docs.python.org/3/library/hashlib.html</a></p>
    <p> MD5 en Java: <a rel="nofollow" href="https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html" alt="MD5"
                                      target="_blank">https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html</a></p>
    <p> MD5 en PHP: <a rel="nofollow" href="http://php.net/manual/en/function.md5.php" alt="MD5" target="_blank">http://php.net/manual/en/function.md5.php</a></p>
    <header><h2>Calcule el hash MD5 de una cadena en Python (con el paquete hashlib):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import hashlib

def md5_generator(str):
    m = hashlib.md5()
    m.update(str.encode())
    return m.hexdigest()
    </pre>
    <header><h2>Calcule el hash MD5 de una cadena en Java (con el paquete MessageDigest):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.math.BigInteger;
import java.security.MessageDigest;

public String generate(String str){
    MessageDigest md = MessageDigest.getInstance("MD5");
    md.update(str.getBytes());
    byte[] digest = md.digest();
    String result = new BigInteger(1, digest).toString(16).toUpperCase();
    return result;
}
    </pre>
    <header><h2>Calcule el hash MD5 de un archivo en Linux (con OpenSSL):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# openssl dgst -md5 access.log
MD5(access.log)= 742f23518e684f3562ffc9f983f190ba
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        return CryptoJS.MD5(input_str).toString();
    }
</script>
{%endblock%}