<!DOCTYPE html>
<html lang="{{model.lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="{{model.lang}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include "Common/seg_header_tag_with_hreflang.html"%}
    {%include "Common/seg_unit_css.html"%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{model.cdnjs_version_bootstrap}}/css/bootstrap.min.css">
    {%include "Common/seg_unit_header_js.html"%}
</head>
<body>
<div id="nav">
    <nav class="navbar navbar-expand-xl navbar-dark customShadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/fr"><i class="fas fa-bug"></i>  Coding.Tools</a>
            {%include "Common/seg_nav_right.html"%}
        </div>
    </nav>{%include "Common/seg_unit_search_and_suggest.html"%}
</div>
<div id="content" class="container-fluid">{%include "Common/Ad_PlaceHolder/seg_ad_header_up.html" %}
    <div class="content_along_sidebar">
        {%block content%}{%endblock%}
        {%include "Common/seg_facebook_comment.html" %}
    </div>
    <div class="sidebar">
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_up.html" %}
        <div class="tool-list">
            <a id="relatedtools" class="table-link-header" href="#relatedtools">Outils connexes</a>
            <a class="table-link" href="/fr/hex-to-decimal">Conversion hexadécimale en décimale</a>
            <a class="table-link" href="/fr/decimal-to-hex">Conversion décimale en hexadécimale</a>
            <a class="table-link" href="/fr/octal-to-decimal">Conversion octale en décimale</a>
            <a class="table-link" href="/fr/decimal-to-octal">Conversion décimale à octale</a>
            <a class="table-link" href="/fr/binary-to-decimal">Conversion binaire en décimale</a>
            <a class="table-link" href="/fr/decimal-to-binary">Conversion décimale en binaire</a>
            <a class="table-link" href="/fr/ascii-table">Table de consultation ASCII</a>
            <a class="table-link" href="/fr/hex-to-ascii">Conversion de chaîne hexadécimale en chaîne ASCII</a>
            <a class="table-link" href="/fr/ascii-to-hex">Conversion de chaîne ASCII en hexadécimal</a>
            <a class="table-link" href="/fr/fraction-to-decimal">Conversion fraction à décimale</a>
            <a class="table-link" href="/fr/decimal-to-fraction">Conversion fractionnaire en fraction</a>
            <a class="table-link" href="/fr/percent-to-decimal">Conversion en pourcentage en décimal</a>
            <a class="table-link" href="/fr/decimal-to-percent">Conversion décimale en pourcentage</a>
            <a class="table-link" href="/fr/percent-to-fraction">Conversion en pourcentage en fraction</a>
            <a class="table-link" href="/fr/fraction-to-percent">Score en conversion de pourcentage</a>
            <a class="table-link" href="/fr/hex-to-rgb">Conversion de couleur Hex en RVB</a>
            <a class="table-link" href="/fr/rgb-to-hex">Conversion de couleur RVB en couleur hexadécimale</a>
            <a class="table-link" href="/fr/hex-to-rgba">Conversion de couleur Hex en couleur RGBA</a>
            <a class="table-link" href="/fr/rgba-to-hex">Conversion de couleur RGBA en couleur hexadécimale</a>
            <a class="table-link" href="/fr/roman-numerals-chart">Tableau comparatif des chiffres romains 1-1000</a>
            <a class="table-link" href="/fr/roman-numerals-to-numbers">Conversion de chiffres romains en chiffres arabes</a>
            <a class="table-link" href="/fr/numbers-to-roman-numerals">Conversion de chiffres arabes en chiffres romains</a>
            <br style="clear:both;"/>
        </div>
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_middle.html" %}
        {%include "Common/seg_category_list_fr.html"%}
        {%include "Common/Ad_PlaceHolder/seg_ad_sidebar_down.html" %}
    </div>
    <br style="clear:both;"/>
</div>
{%include "Common/seg_footer.html"%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{model.cdnjs_version_jquery}}/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/{{model.cdnjs_version_bignumber}}/bignumber.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
{%block customPageJS%}{%endblock%}
{%include "HexToDecimal/seg_load_js.html"%}
</body>
</html>