{%extends "HexToDecimal/fr/base_layout_fr.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Veuillez entrer ou faire glisser un fichier texte ici."></textarea>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Splitter</span>
        </div>
        <select class="form-control custom-select" name="Delimiter" id="Delimiter" oninput="query()">
            <option value="">Aucun (pas d'espace)</option>
            <option value=" " selected>Espace</option>
            <option value="0x">0x (avec LowerCase 'x')</option>
            <option value="0X">0X (avec UpperCase 'X')</option>
            <option value="\0x">\ 0x (avec la casse minuscule 'x')</option>
            <option value="\0X">\ 0X (avec UpperCase 'X')</option>
            <option value="\x">\ x (avec la casse minuscule 'x')</option>
            <option value="\X">\ X (avec UpperCase 'X')</option>
        </select>
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Vide</button>
    <a href="/fr/hex-to-ascii" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> Lieu d'échange</button>
    </a>
    <button type="button" id="load_example" class="btn btn-secondary" onclick="loadexample()">Exemple</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Conversion</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copier le résultat</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Le résultat hexadécimal sera affiché ici."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>À propos de{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p> Les symboles fractionnés de tableaux hexadécimaux pris en charge incluent <code>("", " ", "0x", "0X", "\0x", "\0X", "\x", "\X")</code> . </p>
    <header><h2>Norme de codage ASCII:</h2><div class="h2-highlight"></div></header>
    <p> ASCII (American Standard Code for Information Interchange ) est un caractère codage standard ASCII standard le plus largement utilisé a une longueur de 7 bits, un total de 128 caractères différents. ASCII étendu a une longueur de 8 bits, 256 caractères différents. Droit d' auteur symbole <code>©</code> définition Dans la table ASCII étendue. </p>
    <header><h2>Hex (Hex):</h2><div class="h2-highlight"></div></header>
    <p> Le système de nombres hexadécimaux comprend 16 caractères, dont <code>(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)</code> plus <code>(a, b, e, d, e, f)</code> 6 Caractère: le système de nombres hexadécimaux pouvant représenter n'importe quelle chaîne binaire de manière lisible, il est largement utilisé en informatique. Le système de couleur peut également être représenté sous forme de nombres hexadécimaux, de # 000000 (noir pur) à #FFFFFF (blanc pur). </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-ascii-to-hex.png" alt="comic ascii to hex">
    </div>
    <header><h2>Lien:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (hex): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Hexadecimal" target="_blank">https://en.wikipedia.org/wiki/Hexadecimal</a></p>
    <p> Wikipedia (ASCII): <a rel="nofollow" href="https://en.wikipedia.org/wiki/ASCII" target="_blank">https://en.wikipedia.org/wiki/ASCII</a></p>
    <header><h2>Conversion de chaîne ASCII en hexadécimal en Python:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">import binascii


def ascii_to_hex(ascii_str):
    hex_str = binascii.hexlify(ascii_str.encode())
    return hex_str


ascii_input = 'This is an example.'
hex_output = ascii_to_hex(ascii_input)
print('hex result is:{0}'.format(hex_output))

-------------------
hex result is:b'5468697320697320616e206578616d706c652e'</pre>
    <header><h2>Conversion de chaîne ASCII en hexadécimal en Java:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
public class NumberConvertManager {
    public static String ascii_to_hex(String ascii_str) {
        StringBuilder hex_str = new StringBuilder();
        for (char ch : ascii_str.toCharArray()) {
            hex_str.append(Integer.toHexString((int) ch));
        }
        return hex_str.toString();
    }

    public static void main(String[] args) {
        String ascii_input = "This is an example.";
        String hex_output = ascii_to_hex(ascii_input);
        System.out.println("hex result is:" + hex_output);
    }
}

-------------------
hex result is:5468697320697320616e206578616d706c652e
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/display/placeholder.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    editor1.on('change', function () {
        query();
    });

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("Invalid Input");
        editor2.setValue(ascii_to_hex(editor1.getValue(), document.getElementById("Delimiter").value));
        finished_spin_hidden();
    }

    function ascii_to_hex(input_str, delimiter) {
        var arr1 = [];
        for (var n = 0, l = input_str.length; n < l; n++) {
            var hex = Number(input_str.charCodeAt(n)).toString(16);
            if (hex.length==1){
                hex = '0' + hex;
            }
            arr1.push(hex);
        }
        result = arr1.join(delimiter);
        if (delimiter != ' ') {
            result = delimiter + result;
        }
        return result;
    }

    function loadexample() {
        clear_txt();
        editor1.setValue("This is an example.");
        $('#submit_button').trigger('click');
    }

    function clear_txt() {
        editor1.setValue("");
        editor2.setValue("");
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        editor2.focus();
        editor2.execCommand("selectAll");
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}