{%extends "ImageUtilities/tw/base_layout_tw.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<br/>
<div id="dropz" class="dropzone"></div>
<br/>
<div class="buttoncenter">
    <button type="button" class="btn btn-secondary" onclick="clear_queue()"><i class="far fa-trash-alt"></i> 重置</button>
    <button type="button" id="DownloadAllButton" class="btn btn-primary disabled"><i class="fas fa-file-download"></i> 下載全部</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</div>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>關於{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/20190308/cartoon_compress_jpeg.png" alt="cartoon compress jpeg">
    </div>
    <header><h2>JPEG壓縮結果示例:</h2><div class="h2-highlight"></div></header>
    <p>下面2張圖片對比了原JPEG圖片和壓縮後的JPEG圖片:</p>
    <p>左邊的圖片是原圖片, 用iPhone 7拍攝, 圖片文件大小為<b>1.39Mb</b>.</p>
    <p>右邊的圖片是壓縮後的JPEG圖片, 圖片文件大小為<b>722kB</b>,  和源文件相比縮小<b>49%</b>.</p>
    <div class="cocoen">
        <img src="/image/20190308/compress_jpeg_before.jpg">
        <img src="/image/20190308/compress_jpeg_after.jpg">
    </div>
    <br/>
    <header><h2>PNG vs JPEG 圖片格式對比:</h2><div class="h2-highlight"></div></header>
    <table class="descriptionTable">
        <tr>
            <th>對比內容</th>
            <th>PNG</th>
            <th>JPEG</th>
        </tr>
        <tr>
            <td><b>壓縮級別</b></td>
            <td>無損壓縮</td>
            <td>有損壓縮</td>
        </tr>
        <tr>
            <td><b>EXIF</b></td>
            <td>不支持EXIF</td>
            <td>支持EXIF</td>
        </tr>
        <tr>
            <td><b>透明</b></td>
            <td>支持透明</td>
            <td>不支持透明</td>
        </tr>
        <tr>
            <td><b>用途</b></td>
            <td>生成圖像</td>
            <td>照片</td>
        </tr>
    </table>
    <header><h2>本站圖片緩存:</h2><div class="h2-highlight"></div></header>
    <p>所有上傳的圖片會在1小時後刪除, 請盡快下載生成的結果文件. 請不要把本網站當作圖片存儲服務器.</p>
    <header><h2>用python壓縮JPEG (用Pillow):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">from PIL import Image # pip3 install pillow

origin_file_path = './origin.jpg'
compressed_file_path = './compressed.jpg'

original_image = Image.open(origin_file_path)
original_image.convert('RGB')
original_image.save(compressed_file_path, optimize=True, quality=80)</pre>
</div>
{%endblock%}
{%block customPageJS%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/{{model.cdnjs_version_drop_zone}}/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/{{model.cdnjs_version_drop_zone}}/min/dropzone.min.css"/>
<script src="/js/cocoen.js"></script>
<link rel="stylesheet" href="/css/cocoen.css"/>
<script>
    var session_cookie = Math.random() * 10000000;
    Dropzone.autoDiscover = false;
    var dropzone = new Dropzone("div#dropz", { url: "/compress-jpeg",
        maxFiles: 20,
        maxFilesize: 10,
        dictDefaultMessage: '<i class="fas fa-upload"></i> 點擊或拖拽文件上傳.<br/><br/>最多20張圖片<br/>每張圖片最大10Mb',
    });
    document.addEventListener('DOMContentLoaded', function(){
        new Cocoen();
    });
    dropzone.on("sending", function(file, xhr, formData) {
      formData.append("session", session_cookie);
      $('#spinner').css('visibility', 'visible');
    });
    dropzone.on("success", function (file, response) {
        var result_link = document.createElement('span');
        result_link.setAttribute('class', 'imageresultlink');
        result_link.innerHTML = JSON.parse(response)['compress_rate'];
        file.previewTemplate.appendChild(result_link);

        var download_link = document.createElement('a');
        download_link.setAttribute('href', JSON.parse(response)['download_file_path']);
        download_link.setAttribute('class', 'imagedownloadbutton');
        download_link.innerHTML = "下載";
        file.previewTemplate.appendChild(download_link);
      });
    dropzone.on("queuecomplete", function (file) {
        $.post( "/compress-jpeg",
            {
                session: session_cookie,
                finish: "finished"
            },
            function (response) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    response = response.replace(re_script, "");
                $("#DownloadAllButton").on("click", function(){ window.location.href = JSON.parse(response)['download_file_path'] });
                $("#DownloadAllButton").removeClass("disabled");
                finished_spin_hidden();
            });
        });
    
    function clear_queue() {
        dropzone.removeAllFiles();
        session_cookie = Math.random() * 10000000;
        $("#DownloadAllButton").removeAttr("onclick");
        $("#DownloadAllButton").addClass("disabled");
        finished_spin_hidden();
    }
</script>
{%endblock%}