{%extends "PasswordsGenerator/cn/base_layout_cn.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">密码长度</span>
        </div>
        <select class="form-control custom-select" name="PasswordLength" id="PasswordLength">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="25" selected>25</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">密码个数</span>
        </div>
        <select class="form-control custom-select" name="Quantity" id="Quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected>10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">密码包含的字符类型</span>
        </div>
        <select class="form-control custom-select" name="IncludeCharacters" id="IncludeCharacters">
            <option value="nlus" selected>包含数字, 小写字母, 大写字母, 特殊符号</option>
            <option value="nlu">包含数字, 小写字母, 大写字母</option>
            <option value="nls">包含数字, 小写字母, 特殊符号</option>
            <option value="nl">包含数字, 小写字母</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">是否包含重复字符</span>
        </div>
        <select class="form-control custom-select" name="ExcludeRepeatedCharacters" id="ExcludeRepeatedCharacters">
            <option value="Yes" selected>不包含重复字符</option>
            <option value="No">包含重复字符</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">是否包含类似字符</span>
        </div>
        <select class="form-control custom-select" name="ExcludeSimilarCharacters" id="ExcludeSimilarCharacters">
            <option value="Yes" selected>不包含类似字符</option>
            <option value="No">包含类似字符</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="reset_option()"><i class="far fa-trash-alt"></i> 重置选项</button>
    <button type="button" id="generatePassword" class="btn btn-primary" onclick="generate_password()">生成密码</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 复制结果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="结果将会显示在这里."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} 以下是各类字符的汇总表:</p>
    <table class="descriptionTable">
        <tr>
            <th>字符类型名称</th>
            <th>字符类型内容</th>
        </tr>
        <tr>
            <td>Numbers</td>
            <td>[0 ~ 9]</td>
        </tr>
        <tr>
            <td>Lowercase letter</td>
            <td>[a ~ z]</td>
        </tr>
        <tr>
            <td>Uppercase letter</td>
            <td>[A ~ Z]</td>
        </tr>
        <tr>
            <td>Special characters</td>
            <td>['@', '#', '$', '%']</td>
        </tr>
        <tr>
            <td>Similar characters</td>
            <td>['b', '6'],['g', 'q', '9'],['L', 'I', '1'],['O', 'o', '0'],['S', '5'],['Z', '2']</td>
        </tr>
    </table>
    <br/>
    <p>如果您选择不包含类似字符, 字母<code>'I'</code>将不会出现在生成的密码中, 因为字母<code>'I'</code>与数字<code>'1'</code>很容易混淆.</p>
    <p>如果您选择不包含重复字符, 每个字符不会在结果中出现第2次.</p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-password-generator.png" alt="comic password generator">
    </div>
    <header><h2>6个关于密码安全的建议:</h2><div class="h2-highlight"></div></header>
    <ul>
        <li><p>1. 为了您的安全, 本网站的所有互联网流量都在<code>https</code>协议下进行.</p></li>
        <li>
        <li><p>2. 不要在不同的网站上使用相同的密码. 如果一个网站遭到入侵,其他网站的身份也会被泄露.</p></li>
        <li><p>3. 不要使用您的宠物名称或生日作为密码的一部分, 因为这些信息很容易从社交网络中获取.</p></li>
        <li><p>4. 不要使用任何字典单词作为密码的一部分, 例如<code>'guess'</code>或<code>'newyork'</code>, 因为它们很容易被试出和猜到.</p></li>
        <li><p>5. 不要使用简单的密码, 例如<code>'123456'</code>或<code>'abcdefg'</code>, 因为它们很容易被猜到.</p></li>
        <li><p>6. 请勿在<code>http</code>网站上输入您的敏感信息, 如信用卡号.</p></li>
    </ul>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function generate_password() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");

        var PasswordLength = $('#PasswordLength').val();
        var Quantity = $('#Quantity').val();
        var IncludeCharacters = $('#IncludeCharacters').val();
        var ExcludeRepeatedCharacters = $('#ExcludeRepeatedCharacters').val();
        var ExcludeSimilarCharacters = $('#ExcludeSimilarCharacters').val();

        var need_include_int = false;
        var need_include_lower = false;
        var need_include_upper = false;
        var need_include_special = false;
        var need_exclude_similar = false;
        var need_exclude_repeat = false;
        if (IncludeCharacters.includes("n")) {
            need_include_int = true;
        }
        if (IncludeCharacters.includes("l")) {
            need_include_lower = true;
        }
        if (IncludeCharacters.includes("u")) {
            need_include_upper = true;
        }
        if (IncludeCharacters.includes("s")) {
            need_include_special = true;
        }
        if (ExcludeRepeatedCharacters.includes("Yes")) {
            need_exclude_repeat = true;
        }
        if (ExcludeSimilarCharacters.includes("Yes")) {
            need_exclude_similar = true;
        }

        var choice_int_array = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
            var choice_lower_case_array = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'Z'];
            var choice_upper_case_array = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
            var choice_special_array = ['@', '#', '$', '%'];
            var choice_similar_array = ['b', '6', 'g', 'q', '9', 'L', 'I', '1', 'O', 'o', '0', 'S', '5', 'Z', '2'];
            var All_characters  = choice_int_array.concat(choice_lower_case_array).concat(choice_upper_case_array).concat(choice_special_array);

            if(!need_include_int){
                All_characters = All_characters.filter(x => !choice_int_array.includes(x));
            }
            if(!need_include_lower){
                All_characters = All_characters.filter(x => !choice_lower_case_array.includes(x));
            }
            if(!need_include_upper){
                All_characters = All_characters.filter(x => !choice_upper_case_array.includes(x));
            }
            if(!need_include_special){
                All_characters = All_characters.filter(x => !choice_special_array.includes(x));
            }

            if(need_exclude_similar){
                All_characters = All_characters.filter(x => !choice_similar_array.includes(x));
            }

        var passwords = [];
        for (var j = 0; j < 5000; j++){
            var all_characters_temp = All_characters;
            var password_str = "";
            for (var i = 0; i < PasswordLength; i++) {
                var temp_char_1 = all_characters_temp[Math.floor(Math.random() * all_characters_temp.length)];
                password_str += temp_char_1;
                if(need_exclude_repeat){
                    var temp_set_1 = new Set(all_characters_temp);
                    temp_set_1.delete(temp_char_1);
                    all_characters_temp = Array.from(temp_set_1);
                }
            }

            var flag_include_int = false;
            var flag_include_lower = false;
            var flag_include_upper = false;
            var flag_include_special = false;
            for (var charIndex in password_str) {
                var temp_char = password_str[charIndex];
                if (choice_int_array.includes(temp_char)) {
                    flag_include_int = true;
                }
                if (choice_lower_case_array.includes(temp_char)) {
                    flag_include_lower = true;
                }
                if (choice_upper_case_array.includes(temp_char)) {
                    flag_include_upper = true;
                }
                if (choice_special_array.includes(temp_char)) {
                    flag_include_special = true;
                }
            }

            if (need_include_int && !flag_include_int) {
                continue;
            }
            if (need_include_lower && !flag_include_lower) {
                continue;
            }
            if (need_include_upper && !flag_include_upper) {
                continue;
            }
            if (need_include_special && !flag_include_special) {
                continue;
            }

            passwords.push(password_str);
            if(passwords.length >= Quantity){
                break;
            }
        }

        editor2.setValue(passwords.join("\n"));
        finished_spin_hidden();
    }

    window.addEventListener("load", function () {
        generate_password();
    });
</script>
{%endblock%}