{%extends "PasswordsGenerator/cn/base_layout_cn.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="请在这里输入或者拖入文本文件."></textarea>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">字母大小写</span>
        </div>
        <select class="form-control custom-select" name="UpperCase" id="UpperCase" oninput="post_ajax()">
            <option value="u" selected>大写</option>
            <option value="l">小写</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> 清空</button>
    <button type="button" id="submit_button" class="btn btn-primary">SHA1加密</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 复制结果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="结果将会显示在这里."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-sha1.png" alt="comic sha1">
    </div>
    <header><h2>更多关于SHA1的链接:</h2><div class="h2-highlight"></div></header>
    <p>RFC 3174: <a rel="nofollow" href="https://tools.ietf.org/html/rfc3174" alt="SHA1" target="_blank">https://tools.ietf.org/html/rfc3174</a></p>
    <p>Python中的SHA1 (hashlib): <a rel="nofollow" href="https://docs.python.org/3/library/hashlib.html" alt="SHA1" target="_blank">https://docs.python.org/3/library/hashlib.html</a></p>
    <p>Java中的SHA1: <a rel="nofollow" href="https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html" alt="SHA1" target="_blank">https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html</a>
    </p>
    <p>PHP中的SHA1: <a rel="nofollow" href="http://php.net/manual/en/function.sha1.php" alt="SHA1" target="_blank">http://php.net/manual/en/function.sha1.php</a></p>
    <header><h2>用Python计算字符串的SHA1哈希值 (用 package hashlib):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import hashlib

def sha1_generator(str):
    m = hashlib.sha1()
    m.update(str.encode())
    return m.hexdigest()
    </pre>
    <header><h2>用Java计算字符串的SHA1哈希值 (用 package MessageDigest):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.math.BigInteger;
import java.security.MessageDigest;

public String generate(String str){
    MessageDigest md = MessageDigest.getInstance("SHA-1");
    md.update(str.getBytes());
    byte[] digest = md.digest();
    String result = new BigInteger(1, digest).toString(16).toUpperCase();
    return result;
}
    </pre>
    <header><h2>在Linux中计算文件的SHA1哈希值 (用 OpenSSL):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# openssl dgst -sha1 access.log
SHA1(access.log)= dcf947a7c318007b8620d112a62cc7b1a7ea4eda
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        return CryptoJS.SHA1(input_str).toString();
    }
</script>
{%endblock%}