{#<a class="nav-link" rel="nofollow" href="https://www.bluehost.com/track/jzou44/" target="_blank">powered by#}
{#    <b>Bluehost</b> - the #1 popular Web Hosting, only $3.95/month</a>#}

{#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#</button>#}
{#<div class="collapse navbar-collapse" id="navbarNavDropdown">#}
{#    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">#}
{#        <li>#}
{#            <div id="search-box">#}
{#                <form class="form-inline my-2 my-lg-0" action="{%if model.lang == 'zh-Hans'%}https://www.bing.com/search{%else%}https://www.google.com/search{%endif%}" method="get" onsubmit="document.getElementById('google-search-input').value += ' site:coding.tools';">#}
{#                    <input name="q" id="google-search-input" class="form-control mr-sm-2" type="search" placeholder="Search" autocomplete="off" spellcheck="false" aria-label="Search">#}
{#                    <button id="google-search-button" class="btn btn-outline-info my-2 my-sm-0" type="submit">#}
{#                        <i class="fas fa-search"></i>#}
{#                    </button>#}
{#                </form>#}
{#            </div>#}
{#        </li>#}
{#    </ul>#}
{#</div>#}
{% include "Common/Ad_PlaceHolder/seg_ad_nav_right.html" %}