<div class="category-list">
    <a class="table-link-header" href="/ar">أنواع أخرى من الأدوات</a>
    <a class="table-link" href="/ar/json-formatter">
        <i class="fas fa-align-left"></i>تنسيق وضغط</a>
    <a class="table-link" href="/ar/my-ip-address">
        <i class="fab fa-internet-explorer"></i>اختبار الشبكة</a>
    <a class="table-link" href="/ar/md5">
        <i class="fas fa-unlock-alt"></i>حساب التجزئة وكلمة المرور</a>
    <a class="table-link" href="/ar/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>تحويل الأرقام</a>
    <br style="clear:both;"/>
</div>