<div class="category-list">
    <a class="table-link-header" href="/it">Altri tipi di strumenti</a>
    <a class="table-link" href="/it/json-formatter">
        <i class="fas fa-align-left"></i>Formatta e comprimi</a>
    <a class="table-link" href="/it/my-ip-address">
        <i class="fab fa-internet-explorer"></i>Test di rete</a>
    <a class="table-link" href="/it/md5">
        <i class="fas fa-unlock-alt"></i>Calcolo hash e password</a>
    <a class="table-link" href="/it/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>Conversione di cifre</a>
    <br style="clear:both;"/>
</div>