{##}
{##}
{#<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/{{model.cdnjs_version_cookie_consent}}/cookieconsent.min.css"/>#}
{#<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/{{model.cdnjs_version_cookie_consent}}/cookieconsent.min.js"></script>#}
{#<script>#}
{#    window.addEventListener("load", function () {#}
{#        window.cookieconsent.initialise({#}
{#            "palette": {#}
{#                "popup": {#}
{#                    "background": "#edeff5"#}
{#                },#}
{#                "button": {#}
{#                    "background": "{{model.main_color}}"#}
{#                }#}
{#            },#}
{#            "theme": "classic",#}
{#        })#}
{#    });#}
{#</script>#}
