<div id="footer" class="customShadow">
    <div class="container-fluid">
        <br/>
        <div class="content_along_sidebar" id="copyright">
            Copyright 2018-{{model.year}} coding.tools all rights reserved
        </div>
        <div class="sidebar" id="language">
            <a href="{{model.enUrl}}"><button class="btn btn-outline-info" type="button">English</button></a>
            <a href="/cn{{model.enUrl}}"><button class="btn btn-outline-info" type="button">简</button></a>
            <a href="/tw{{model.enUrl}}"><button class="btn btn-outline-info" type="button">繁</button></a>
        </div>
        <br style="clear:both;"/>
    </div>
</div>