<style>:root {--main-color: {{model.main_color}};}</style>
<link rel="stylesheet" href="/css/unit.css?v={{model.css_version_unit}}">
{%if model.lang == 'en'%}{%endif%}
{%if model.lang == 'zh-Hans'%}<link rel="stylesheet" href="/css/unit_16.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'zh-Hant'%}<link rel="stylesheet" href="/css/unit_16.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'ja'%}<link rel="stylesheet" href="/css/unit_14.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'ko'%}<link rel="stylesheet" href="/css/unit_16.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'es'%}<link rel="stylesheet" href="/css/unit_14.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'de'%}<link rel="stylesheet" href="/css/unit_16.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'fr'%}<link rel="stylesheet" href="/css/unit_16.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'it'%}<link rel="stylesheet" href="/css/unit_14.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'pt'%}<link rel="stylesheet" href="/css/unit_14.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'ru'%}<link rel="stylesheet" href="/css/unit_16.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'id'%}<link rel="stylesheet" href="/css/unit_16.css?v={{model.css_version_unit}}">{%endif%}
{%if model.lang == 'ar'%}{%endif%}
{%if model.is_production_env == false%}<style>ins.adsbygoogle {background-color: #fff0de}</style>{%endif%}