<title>{{model.headerTitle}}</title>
<meta name="description" content="{{model.description}}">
<meta name="keywords" content="{{model.keywords}}">
<link rel="canonical" href="https://coding.tools{{model.url}}"/>
<link rel="alternate" href="https://coding.tools{{model.enUrl}}" hreflang="en"/>
<link rel="alternate" href="https://coding.tools/cn{{model.enUrl}}" hreflang="zh-Hans"/>
<link rel="alternate" href="https://coding.tools/tw{{model.enUrl}}" hreflang="zh-Hant"/>
<link rel="alternate" href="https://coding.tools{{model.enUrl}}" hreflang="x-default"/>
<meta property="og:title" content="{{model.headerTitle}}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://coding.tools{{model.url}}"/>
<meta property="og:image" content="https://coding.tools{{model.image}}"/>
<meta property="og:description" content="{{model.description}}"/>
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />