<div class="category-list">
    <a class="table-link-header" href="/">Other Tools By Category</a>
    <a class="table-link" href="/compress-jpeg">
        <i class="fas fa-image"></i>Image Utilities</a>
    <a class="table-link" href="/json-formatter">
        <i class="fas fa-align-left"></i>Formatter & Minifier</a>
    <a class="table-link" href="/my-ip-address">
        <i class="fab fa-internet-explorer"></i>Internet Testing</a>
    <a class="table-link" href="/md5">
        <i class="fas fa-unlock-alt"></i>Hash & Cryptography</a>
    <a class="table-link" href="/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>Number Conversion</a>
    <a class="table-link" href="/text-editor">
        <i class="far fa-file-word"></i>Text & String Utilities</a>
    <br style="clear:both;"/>
</div>