<div class="category-list">
    <a class="table-link-header" href="/es">Otros tipos de herramientas.</a>
    <a class="table-link" href="/es/json-formatter">
        <i class="fas fa-align-left"></i>Formatear y comprimir</a>
    <a class="table-link" href="/es/my-ip-address">
        <i class="fab fa-internet-explorer"></i>Prueba de red</a>
    <a class="table-link" href="/es/md5">
        <i class="fas fa-unlock-alt"></i>Hash cálculo y contraseña</a>
    <a class="table-link" href="/es/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>Conversión de dígitos</a>
    <br style="clear:both;"/>
</div>