<div class="category-list">
    <a class="table-link-header" href="/de">Andere Arten von Werkzeugen</a>
    <a class="table-link" href="/de/json-formatter">
        <i class="fas fa-align-left"></i>Formatieren und komprimieren</a>
    <a class="table-link" href="/de/my-ip-address">
        <i class="fab fa-internet-explorer"></i>Netzwerktest</a>
    <a class="table-link" href="/de/md5">
        <i class="fas fa-unlock-alt"></i>Hashberechnung und Passwort</a>
    <a class="table-link" href="/de/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>Ziffernkonvertierung</a>
    <br style="clear:both;"/>
</div>