<div class="category-list">
    <a class="table-link-header" href="/fr">Autres types d'outils</a>
    <a class="table-link" href="/fr/json-formatter">
        <i class="fas fa-align-left"></i>Formater et compresser</a>
    <a class="table-link" href="/fr/my-ip-address">
        <i class="fab fa-internet-explorer"></i>Test de réseau</a>
    <a class="table-link" href="/fr/md5">
        <i class="fas fa-unlock-alt"></i>Calcul du hachage et mot de passe</a>
    <a class="table-link" href="/fr/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>Conversion de chiffres</a>
    <br style="clear:both;"/>
</div>