<div class="category-list">
    <a class="table-link-header" href="/pt">Outros tipos de ferramentas</a>
    <a class="table-link" href="/pt/json-formatter">
        <i class="fas fa-align-left"></i>Formatar e comprimir</a>
    <a class="table-link" href="/pt/my-ip-address">
        <i class="fab fa-internet-explorer"></i>Teste de rede</a>
    <a class="table-link" href="/pt/md5">
        <i class="fas fa-unlock-alt"></i>Cálculo de hash e senha</a>
    <a class="table-link" href="/pt/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>Conversão de dígitos</a>
    <br style="clear:both;"/>
</div>