<div class="category-list">
    <a class="table-link-header" href="/id">Jenis alat lainnya</a>
    <a class="table-link" href="/id/json-formatter">
        <i class="fas fa-align-left"></i>Format & kompres</a>
    <a class="table-link" href="/id/my-ip-address">
        <i class="fab fa-internet-explorer"></i>Tes jaringan</a>
    <a class="table-link" href="/id/md5">
        <i class="fas fa-unlock-alt"></i>Perhitungan & kata sandi hash</a>
    <a class="table-link" href="/id/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>Konversi digit</a>
    <br style="clear:both;"/>
</div>