<div class="category-list">
    <a class="table-link-header" href="/ru">Другие типы инструментов</a>
    <a class="table-link" href="/ru/json-formatter">
        <i class="fas fa-align-left"></i>Форматировать и сжимать</a>
    <a class="table-link" href="/ru/my-ip-address">
        <i class="fab fa-internet-explorer"></i>Тест сети</a>
    <a class="table-link" href="/ru/md5">
        <i class="fas fa-unlock-alt"></i>Расчет хэша и пароль</a>
    <a class="table-link" href="/ru/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>Цифровое преобразование</a>
    <br style="clear:both;"/>
</div>