<div class="category-list">
    <a class="table-link-header" href="/jp">他の種類のツール</a>
    <a class="table-link" href="/jp/json-formatter">
        <i class="fas fa-align-left"></i>フォーマットと圧縮</a>
    <a class="table-link" href="/jp/my-ip-address">
        <i class="fab fa-internet-explorer"></i>ネットワークテスト</a>
    <a class="table-link" href="/jp/md5">
        <i class="fas fa-unlock-alt"></i>ハッシュ計算とパスワード</a>
    <a class="table-link" href="/jp/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>数字変換</a>
    <br style="clear:both;"/>
</div>