<div class="category-list">
    <a class="table-link-header" href="/kr">다른 유형의 도구</a>
    <a class="table-link" href="/kr/json-formatter">
        <i class="fas fa-align-left"></i>형식 및 압축</a>
    <a class="table-link" href="/kr/my-ip-address">
        <i class="fab fa-internet-explorer"></i>네트워크 테스트</a>
    <a class="table-link" href="/kr/md5">
        <i class="fas fa-unlock-alt"></i>해시 계산 및 암호</a>
    <a class="table-link" href="/kr/hex-to-decimal">
        <i class="fas fa-sort-numeric-down"></i>디지트 변환</a>
    <br style="clear:both;"/>
</div>