{%extends "PasswordsGenerator/kr/base_layout_kr.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">비밀번호 길이</span>
        </div>
        <select class="form-control custom-select" name="PasswordLength" id="PasswordLength">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="25" selected>25</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">비밀번호 수</span>
        </div>
        <select class="form-control custom-select" name="Quantity" id="Quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected>10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">암호에 포함 된 문자 유형</span>
        </div>
        <select class="form-control custom-select" name="IncludeCharacters" id="IncludeCharacters">
            <option value="nlus" selected>숫자, 소문자, 대문자, 특수 기호가 들어 있습니다.</option>
            <option value="nlu">숫자, 소문자, 대문자를 포함합니다.</option>
            <option value="nls">숫자, 소문자, 특수 기호가 들어 있습니다.</option>
            <option value="nl">숫자, 소문자 포함</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">반복 문자 포함 여부</span>
        </div>
        <select class="form-control custom-select" name="ExcludeRepeatedCharacters" id="ExcludeRepeatedCharacters">
            <option value="Yes" selected>반복 문자가 포함되지 않음</option>
            <option value="No">반복되는 문자가 들어 있습니다.</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">비슷한 문자가 포함되어 있는지 여부</span>
        </div>
        <select class="form-control custom-select" name="ExcludeSimilarCharacters" id="ExcludeSimilarCharacters">
            <option value="Yes" selected>비슷한 문자가 포함되어 있지 않습니다.</option>
            <option value="No">유사한 문자가 포함되어 있습니다.</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="reset_option()"><i class="far fa-trash-alt"></i> 재설정 옵션</button>
    <button type="button" id="generatePassword" class="btn btn-primary" onclick="generate_password()">암호 생성</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 결과 복사</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="결과가 여기에 표시됩니다."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>정보{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} :</p>
    <table class="descriptionTable">
        <tr>
            <th> 문자 유형 이름 </th>
            <th> 문자 유형 내용 </th>
        </tr>
        <tr>
            <td>Numbers</td>
            <td>[0 ~ 9]</td>
        </tr>
        <tr>
            <td>Lowercase letter</td>
            <td>[a ~ z]</td>
        </tr>
        <tr>
            <td>Uppercase letter</td>
            <td>[A ~ Z]</td>
        </tr>
        <tr>
            <td>Special characters</td>
            <td>['@', '#', '$', '%']</td>
        </tr>
        <tr>
            <td>Similar characters</td>
            <td>['b', '6'],['g', 'q', '9'],['L', 'I', '1'],['O', 'o', '0'],['S', '5'],['Z', '2']</td>
        </tr>
    </table>
    <br/>
    <p> 유사한 문자를 포함하지 않기로 선택하면 <code>'I'</code> 문자가 <code>'I'</code> <code>'1'</code> 문자와 쉽게 혼동되므로 생성 된 암호에 <code>'I'</code> 문자가 표시되지 않습니다. </p>
    <p> 반복 문자를 포함하지 않기로 선택하면 각 문자가 두 번째로 나타나지 않습니다. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-password-generator.png" alt="comic password generator">
    </div>
    <header><h2>암호 보안에 관한 6 가지 팁:</h2><div class="h2-highlight"></div></header>
    <ul>
        <li><p> 1. 보안을 위해이 웹 사이트의 모든 인터넷 트래픽은 <code>https</code> 프로토콜에 따라 수행됩니다. </p></li>
        <li>
        <li><p> 2. 다른 웹 사이트에서 동일한 암호를 사용하지 마십시오. 웹 사이트가 유출되면 다른 웹 사이트의 신원이 노출됩니다. </p></li>
        <li><p> 3. 소셜 네트워크에서 쉽게 액세스 할 수 있으므로 애완 동물의 이름이나 생일을 비밀번호의 일부로 사용하지 마십시오. </p></li>
        <li><p> 4. <code>'guess'</code> 이나 <code>'newyork'</code> 와 같은 사전 단어를 암호의 일부로 사용하지 마십시오. 왜냐하면 암호는 쉽게 추측하고 추측 할 수 있기 때문입니다. </p></li>
        <li><p> 5. <code>'123456'</code> 또는 <code>'abcdefg'</code> 와 같은 간단한 암호는 추측하기 쉽기 때문에 사용하지 마십시오. </p></li>
        <li><p> 6. 신용 카드 번호와 같은 중요한 정보를 <code>http</code> 웹 사이트에 입력하지 마십시오. </p></li>
    </ul>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function generate_password() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");

        var PasswordLength = $('#PasswordLength').val();
        var Quantity = $('#Quantity').val();
        var IncludeCharacters = $('#IncludeCharacters').val();
        var ExcludeRepeatedCharacters = $('#ExcludeRepeatedCharacters').val();
        var ExcludeSimilarCharacters = $('#ExcludeSimilarCharacters').val();

        var need_include_int = false;
        var need_include_lower = false;
        var need_include_upper = false;
        var need_include_special = false;
        var need_exclude_similar = false;
        var need_exclude_repeat = false;
        if (IncludeCharacters.includes("n")) {
            need_include_int = true;
        }
        if (IncludeCharacters.includes("l")) {
            need_include_lower = true;
        }
        if (IncludeCharacters.includes("u")) {
            need_include_upper = true;
        }
        if (IncludeCharacters.includes("s")) {
            need_include_special = true;
        }
        if (ExcludeRepeatedCharacters.includes("Yes")) {
            need_exclude_repeat = true;
        }
        if (ExcludeSimilarCharacters.includes("Yes")) {
            need_exclude_similar = true;
        }

        var choice_int_array = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
            var choice_lower_case_array = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'Z'];
            var choice_upper_case_array = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
            var choice_special_array = ['@', '#', '$', '%'];
            var choice_similar_array = ['b', '6', 'g', 'q', '9', 'L', 'I', '1', 'O', 'o', '0', 'S', '5', 'Z', '2'];
            var All_characters  = choice_int_array.concat(choice_lower_case_array).concat(choice_upper_case_array).concat(choice_special_array);

            if(!need_include_int){
                All_characters = All_characters.filter(x => !choice_int_array.includes(x));
            }
            if(!need_include_lower){
                All_characters = All_characters.filter(x => !choice_lower_case_array.includes(x));
            }
            if(!need_include_upper){
                All_characters = All_characters.filter(x => !choice_upper_case_array.includes(x));
            }
            if(!need_include_special){
                All_characters = All_characters.filter(x => !choice_special_array.includes(x));
            }

            if(need_exclude_similar){
                All_characters = All_characters.filter(x => !choice_similar_array.includes(x));
            }

        var passwords = [];
        for (var j = 0; j < 5000; j++){
            var all_characters_temp = All_characters;
            var password_str = "";
            for (var i = 0; i < PasswordLength; i++) {
                var temp_char_1 = all_characters_temp[Math.floor(Math.random() * all_characters_temp.length)];
                password_str += temp_char_1;
                if(need_exclude_repeat){
                    var temp_set_1 = new Set(all_characters_temp);
                    temp_set_1.delete(temp_char_1);
                    all_characters_temp = Array.from(temp_set_1);
                }
            }

            var flag_include_int = false;
            var flag_include_lower = false;
            var flag_include_upper = false;
            var flag_include_special = false;
            for (var charIndex in password_str) {
                var temp_char = password_str[charIndex];
                if (choice_int_array.includes(temp_char)) {
                    flag_include_int = true;
                }
                if (choice_lower_case_array.includes(temp_char)) {
                    flag_include_lower = true;
                }
                if (choice_upper_case_array.includes(temp_char)) {
                    flag_include_upper = true;
                }
                if (choice_special_array.includes(temp_char)) {
                    flag_include_special = true;
                }
            }

            if (need_include_int && !flag_include_int) {
                continue;
            }
            if (need_include_lower && !flag_include_lower) {
                continue;
            }
            if (need_include_upper && !flag_include_upper) {
                continue;
            }
            if (need_include_special && !flag_include_special) {
                continue;
            }

            passwords.push(password_str);
            if(passwords.length >= Quantity){
                break;
            }
        }

        editor2.setValue(passwords.join("\n"));
        finished_spin_hidden();
    }

    window.addEventListener("load", function () {
        generate_password();
    });
</script>
{%endblock%}