{%extends "PasswordsGenerator/de/base_layout_de.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Bitte geben oder ziehen Sie eine Textdatei hierher."></textarea>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">UpperCase</span>
        </div>
        <select class="form-control custom-select" name="UpperCase" id="UpperCase" oninput="post_ajax()">
            <option value="u" selected>Hash Result in UpperCase</option>
            <option value="l">Hash Result in LowerCase</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="cleartxt()"><i class="far fa-trash-alt"></i> Leer</button>
    <button type="button" id="submit_button" class="btn btn-primary">MD5-Verschlüsselung</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Ergebnis kopieren</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Das Ergebnis wird hier angezeigt."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Über{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-md5.png" alt="comic md5">
    </div>
    <header><h2>Warum brauchst du MD5?</h2><div class="h2-highlight"></div></header>
    <p> Ein Hash-Algorithmus wie MD5 ist ein Einweg-Algorithmus, dh er ist irreversibel. Dieses Zeichen macht MD5 sehr nützlich, um "Fingerabdrücke" in einer Datei zu erstellen. Der MD5-Wert der Datei kann beweisen, dass die Datei nicht geändert wurde Dient zum Schutz von Kennwörtern. Das in der Website-Datenbank gespeicherte "Salt" und der endgültige Wert Ihres ursprünglichen Kennworts sind irreversibel, dh der Hacker kann Ihr Kennwort nicht wiederherstellen, selbst wenn die Datenbank gefährdet ist. </p>
    <header><h2>Ist MD5 sicher, sollte ich es weiterhin verwenden?</h2><div class="h2-highlight"></div></header>
    <p> Die erste Angriffsart wird <code>(rainbow tables)</code> . Es handelt sich um eine sehr große Datenbank mit einer kurzen Zeichenfolge mit dem entsprechenden MD5-Wert. Wenn Sie beispielsweise die Regenbogentabelle <code>"FC5E038D38A57032085441E7FE7010B0"</code> , finden Sie das Original Die Zeichenfolge ist "helloworld". Wenn die ursprüngliche Zeichenfolge kurz ist, kann der Regenbogentisch MD5 erfolgreich entschlüsseln. </p>
    <p> Der zweite Angriff basiert auf dem grundlegenden Algorithmus von MD5. In den letzten Jahren haben immer mehr Websites zu SHA256 oder SHA512 gewechselt, jedoch verwenden viele Websites immer noch MD5, was eine große versteckte Gefahr für die Internetsicherheit darstellt. </p>
    <header><h2>Weitere Links zu MD5:</h2><div class="h2-highlight"></div></header>
    <p> RFC 1321: <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1321.txt" alt="MD5" target="_blank">https://www.ietf.org/rfc/rfc1321.txt</a></p>
    <p> MD5 in Python (Hashib): <a rel="nofollow" href="https://docs.python.org/3/library/hashlib.html" alt="MD5" target="_blank">https://docs.python.org/3/library/hashlib.html</a></p>
    <p> MD5 in Java: <a rel="nofollow" href="https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html" alt="MD5"
                                      target="_blank">https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html</a></p>
    <p> MD5 in PHP: <a rel="nofollow" href="http://php.net/manual/en/function.md5.php" alt="MD5" target="_blank">http://php.net/manual/en/function.md5.php</a></p>
    <header><h2>Berechnen Sie den MD5-Hash einer Zeichenfolge in Python (mit dem Paket hashlib).:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import hashlib

def md5_generator(str):
    m = hashlib.md5()
    m.update(str.encode())
    return m.hexdigest()
    </pre>
    <header><h2>Berechnen Sie den MD5-Hash einer Zeichenfolge in Java (mit dem Paket MessageDigest).:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.math.BigInteger;
import java.security.MessageDigest;

public String generate(String str){
    MessageDigest md = MessageDigest.getInstance("MD5");
    md.update(str.getBytes());
    byte[] digest = md.digest();
    String result = new BigInteger(1, digest).toString(16).toUpperCase();
    return result;
}
    </pre>
    <header><h2>Berechnen Sie den MD5-Hash einer Datei in Linux (mit OpenSSL):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# openssl dgst -md5 access.log
MD5(access.log)= 742f23518e684f3562ffc9f983f190ba
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });

    function work(input_str) {
        return CryptoJS.MD5(input_str).toString();
    }
</script>
{%endblock%}