{%extends "PasswordsGenerator/de/base_layout_de.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Passwortlänge</span>
        </div>
        <select class="form-control custom-select" name="PasswordLength" id="PasswordLength">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="25" selected>25</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Anzahl der Passwörter</span>
        </div>
        <select class="form-control custom-select" name="Quantity" id="Quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected>10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Die Art der Zeichen, die das Passwort enthält</span>
        </div>
        <select class="form-control custom-select" name="IncludeCharacters" id="IncludeCharacters">
            <option value="nlus" selected>Enthält Zahlen, Kleinbuchstaben, Großbuchstaben, Sonderzeichen</option>
            <option value="nlu">Enthält Zahlen, Kleinbuchstaben, Großbuchstaben</option>
            <option value="nls">Enthält Zahlen, Kleinbuchstaben und Sonderzeichen</option>
            <option value="nl">Enthält Zahlen und Kleinbuchstaben</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Gibt an, ob sich wiederholende Zeichen enthalten sollen</span>
        </div>
        <select class="form-control custom-select" name="ExcludeRepeatedCharacters" id="ExcludeRepeatedCharacters">
            <option value="Yes" selected>Enthält keine sich wiederholenden Zeichen</option>
            <option value="No">Enthält sich wiederholende Zeichen</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Ob es ähnliche Zeichen enthält</span>
        </div>
        <select class="form-control custom-select" name="ExcludeSimilarCharacters" id="ExcludeSimilarCharacters">
            <option value="Yes" selected>Enthält keine ähnlichen Zeichen</option>
            <option value="No">Enthält ähnliche Zeichen</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="reset_option()"><i class="far fa-trash-alt"></i> Option zurücksetzen</button>
    <button type="button" id="generatePassword" class="btn btn-primary" onclick="generate_password()">Passwort generieren</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Ergebnis kopieren</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Das Ergebnis wird hier angezeigt."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Über{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} :</p>
    <table class="descriptionTable">
        <tr>
            <th> Name des Zeichentyps </th>
            <th> Inhalt des Zeichentyps </th>
        </tr>
        <tr>
            <td>Numbers</td>
            <td>[0 ~ 9]</td>
        </tr>
        <tr>
            <td>Lowercase letter</td>
            <td>[a ~ z]</td>
        </tr>
        <tr>
            <td>Uppercase letter</td>
            <td>[A ~ Z]</td>
        </tr>
        <tr>
            <td>Special characters</td>
            <td>['@', '#', '$', '%']</td>
        </tr>
        <tr>
            <td>Similar characters</td>
            <td>['b', '6'],['g', 'q', '9'],['L', 'I', '1'],['O', 'o', '0'],['S', '5'],['Z', '2']</td>
        </tr>
    </table>
    <br/>
    <p> Wenn Sie keine ähnlichen Zeichen enthalten, wird der Buchstabe <code>'I'</code> nicht im generierten Kennwort angezeigt, da der Buchstabe <code>'I'</code> <code>'1'</code> leicht mit der Zahl <code>'1'</code> verwechselt werden kann. </p>
    <p> Wenn Sie sich nicht für wiederholte Zeichen entscheiden, wird jedes Zeichen nicht zum zweiten Mal im Ergebnis angezeigt. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-password-generator.png" alt="comic password generator">
    </div>
    <header><h2>6 Tipps zur Passwortsicherheit:</h2><div class="h2-highlight"></div></header>
    <ul>
        <li><p> 1. Aus Sicherheitsgründen wird der gesamte Internetverkehr auf dieser Website unter dem <code>https</code> Protokoll durchgeführt. </p></li>
        <li>
        <li><p> 2. Verwenden Sie nicht dasselbe Passwort für verschiedene Websites. Wenn eine Website gefährdet ist, wird die Identität anderer Websites offengelegt. </p></li>
        <li><p> 3. Verwenden Sie nicht den Namen Ihres Haustiers oder den Geburtstag als Teil Ihres Passworts, da er von sozialen Netzwerken aus leicht zugänglich ist. </p></li>
        <li><p> 4. Verwenden Sie keine Wörter aus dem Wörterbuch als Teil des Kennworts, wie z. B. <code>'guess'</code> oder <code>'newyork'</code> , da diese leicht auszuprobieren sind. </p></li>
        <li><p> 5. Verwenden Sie keine einfachen Passwörter wie <code>'123456'</code> oder <code>'abcdefg'</code> da diese leicht zu erraten sind. </p></li>
        <li><p> 6. Geben Sie auf der <code>http</code> Website keine vertraulichen Informationen wie Kreditkartennummer ein. </p></li>
    </ul>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function generate_password() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");

        var PasswordLength = $('#PasswordLength').val();
        var Quantity = $('#Quantity').val();
        var IncludeCharacters = $('#IncludeCharacters').val();
        var ExcludeRepeatedCharacters = $('#ExcludeRepeatedCharacters').val();
        var ExcludeSimilarCharacters = $('#ExcludeSimilarCharacters').val();

        var need_include_int = false;
        var need_include_lower = false;
        var need_include_upper = false;
        var need_include_special = false;
        var need_exclude_similar = false;
        var need_exclude_repeat = false;
        if (IncludeCharacters.includes("n")) {
            need_include_int = true;
        }
        if (IncludeCharacters.includes("l")) {
            need_include_lower = true;
        }
        if (IncludeCharacters.includes("u")) {
            need_include_upper = true;
        }
        if (IncludeCharacters.includes("s")) {
            need_include_special = true;
        }
        if (ExcludeRepeatedCharacters.includes("Yes")) {
            need_exclude_repeat = true;
        }
        if (ExcludeSimilarCharacters.includes("Yes")) {
            need_exclude_similar = true;
        }

        var choice_int_array = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
            var choice_lower_case_array = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'Z'];
            var choice_upper_case_array = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
            var choice_special_array = ['@', '#', '$', '%'];
            var choice_similar_array = ['b', '6', 'g', 'q', '9', 'L', 'I', '1', 'O', 'o', '0', 'S', '5', 'Z', '2'];
            var All_characters  = choice_int_array.concat(choice_lower_case_array).concat(choice_upper_case_array).concat(choice_special_array);

            if(!need_include_int){
                All_characters = All_characters.filter(x => !choice_int_array.includes(x));
            }
            if(!need_include_lower){
                All_characters = All_characters.filter(x => !choice_lower_case_array.includes(x));
            }
            if(!need_include_upper){
                All_characters = All_characters.filter(x => !choice_upper_case_array.includes(x));
            }
            if(!need_include_special){
                All_characters = All_characters.filter(x => !choice_special_array.includes(x));
            }

            if(need_exclude_similar){
                All_characters = All_characters.filter(x => !choice_similar_array.includes(x));
            }

        var passwords = [];
        for (var j = 0; j < 5000; j++){
            var all_characters_temp = All_characters;
            var password_str = "";
            for (var i = 0; i < PasswordLength; i++) {
                var temp_char_1 = all_characters_temp[Math.floor(Math.random() * all_characters_temp.length)];
                password_str += temp_char_1;
                if(need_exclude_repeat){
                    var temp_set_1 = new Set(all_characters_temp);
                    temp_set_1.delete(temp_char_1);
                    all_characters_temp = Array.from(temp_set_1);
                }
            }

            var flag_include_int = false;
            var flag_include_lower = false;
            var flag_include_upper = false;
            var flag_include_special = false;
            for (var charIndex in password_str) {
                var temp_char = password_str[charIndex];
                if (choice_int_array.includes(temp_char)) {
                    flag_include_int = true;
                }
                if (choice_lower_case_array.includes(temp_char)) {
                    flag_include_lower = true;
                }
                if (choice_upper_case_array.includes(temp_char)) {
                    flag_include_upper = true;
                }
                if (choice_special_array.includes(temp_char)) {
                    flag_include_special = true;
                }
            }

            if (need_include_int && !flag_include_int) {
                continue;
            }
            if (need_include_lower && !flag_include_lower) {
                continue;
            }
            if (need_include_upper && !flag_include_upper) {
                continue;
            }
            if (need_include_special && !flag_include_special) {
                continue;
            }

            passwords.push(password_str);
            if(passwords.length >= Quantity){
                break;
            }
        }

        editor2.setValue(passwords.join("\n"));
        finished_spin_hidden();
    }

    window.addEventListener("load", function () {
        generate_password();
    });
</script>
{%endblock%}