{%extends "HexToDecimal/tw/base_layout_tw.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">羅馬數字</span>
        </div>
        <input name="queryStr" id="QueryStr" type="text" class="form-control" spellcheck="false" oninput="query()">
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
    <a href="/tw/numbers-to-roman-numerals" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> 交換位置</button>
    </a>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">轉換</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 複製結果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">阿拉伯數字</span>
    </div>
    <input name="NumberOutput" id="NumberOutput" type="text" class="form-control" spellcheck="false">
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>關於{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>羅馬數字系統(Roman Numerals):</h2><div class="h2-highlight"></div></header>
    <p>羅馬數字用拉丁字母代表數字<code>("I" 代表"1", "V" 代表"5", "X" 代表"10", "L" 代表"50", "C" 代表"100", "D" 代表"500", "M" 代表"1000")</code> .羅馬數字系統經常用在論文和書籍排序中. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-roman-numerals-to-numbers.png" alt="comic roman numerals to numbers">
    </div>
    <header><h2>如何進行羅馬數字到阿拉伯數字轉換?</h2><div class="h2-highlight"></div></header>
    <ol>
        <li><p> <b>步驟1:</b>按順序記住拉丁字母代表的數值<code>('I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000)</code> . </p></li>
        <li><p> <b>步驟2:</b>從左到右,如果拉丁字母出現在比它大的拉丁字母之前,減去這個拉丁字母代表的數值. </p>
            <p>例2.1: IV = V − I = 5 − 1 = 4 </p>
            <p>例2.2: XL = X − L = 50 − 10 = 40 </p></li>
        <li><p> <b>步驟3:</b>其他情況,增加這個拉丁字母代表的數值. </p>
            <p>例3.1: XXXV = X + X + X + V = 10 + 10 + 10 + 5 = 35 </p>
            <p>例3.2: CXXIII = C + X + X + I + I + I = 100 + 10 + 10 + 1 + 1 + 1 = 123 </p></li>
    </ol>
    <p> <b>例1:羅馬數字"CXLVI"轉換為阿拉伯數字:</b> </p>
    <div class="math">CXLVI = C + XL + V + I = 100 + (500-10) + 5 + 1 = 146</div>
    <p> <b>例2:羅馬數字"CDXCIV"轉換為阿拉伯數字:</b> </p>
    <div class="math">CDXCIV = CD + XC + IV = (500-100) + (100-10) + (5-1) = 494</div>
    <header><h2>羅馬數字到阿拉伯數字轉換錶:</h2><div class="h2-highlight"></div></header>
    <table class="descriptionTable">
        <tr>
            <th>羅馬數字</th>
            <th>阿拉伯數字</th>
            <th>羅馬數字</th>
            <th>阿拉伯數字</th>
        </tr>
        <tr>
            <td>I</td>
            <td>1</td>
            <td>XXI</td>
            <td>21</td>
        </tr>
        <tr>
            <td>II</td>
            <td>2</td>
            <td>XXII</td>
            <td>22</td>
        </tr>
        <tr>
            <td>III</td>
            <td>3</td>
            <td>XXIII</td>
            <td>23</td>
        </tr>
        <tr>
            <td>IV</td>
            <td>4</td>
            <td>XXIV</td>
            <td>24</td>
        </tr>
        <tr>
            <td>V</td>
            <td>5</td>
            <td>XXV</td>
            <td>25</td>
        </tr>
        <tr>
            <td>VI</td>
            <td>6</td>
            <td>XXVI</td>
            <td>26</td>
        </tr>
        <tr>
            <td>VII</td>
            <td>7</td>
            <td>XXVII</td>
            <td>27</td>
        </tr>
        <tr>
            <td>VIII</td>
            <td>8</td>
            <td>XXVIII</td>
            <td>28</td>
        </tr>
        <tr>
            <td>IX</td>
            <td>9</td>
            <td>XXIX</td>
            <td>29</td>
        </tr>
        <tr>
            <td>X</td>
            <td>10</td>
            <td>XXX</td>
            <td>30</td>
        </tr>
        <tr>
            <td>XI</td>
            <td>11</td>
            <td>XXXI</td>
            <td>31</td>
        </tr>
        <tr>
            <td>XII</td>
            <td>12</td>
            <td>XXXII</td>
            <td>32</td>
        </tr>
        <tr>
            <td>XIII</td>
            <td>13</td>
            <td>XXXIII</td>
            <td>33</td>
        </tr>
        <tr>
            <td>XIV</td>
            <td>14</td>
            <td>XXXIV</td>
            <td>34</td>
        </tr>
        <tr>
            <td>XV</td>
            <td>15</td>
            <td>XXXV</td>
            <td>35</td>
        </tr>
        <tr>
            <td>XVI</td>
            <td>16</td>
            <td>XXXVI</td>
            <td>36</td>
        </tr>
        <tr>
            <td>XVII</td>
            <td>17</td>
            <td>XXXVII</td>
            <td>37</td>
        </tr>
        <tr>
            <td>XVIII</td>
            <td>18</td>
            <td>XXXVIII</td>
            <td>38</td>
        </tr>
        <tr>
            <td>XIX</td>
            <td>19</td>
            <td>XXXIX</td>
            <td>39</td>
        </tr>
        <tr>
            <td>XX</td>
            <td>20</td>
            <td>XL</td>
            <td>40</td>
        </tr>
    </table>
    <br>
    <header><h2>鏈接:</h2><div class="h2-highlight"></div></header>
    <p>維基百科(羅馬數字系統): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Roman_numerals" target="_blank">https://en.wikipedia.org/wiki/Roman_numerals</a></p>
    <header><h2>用Python進行羅馬數字到阿拉伯數字轉換:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">def transform_roman_numeral_to_number(roman_numeral):
    roman_char_dict = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
    res = 0
    for i in range(0, len(roman_numeral)):
        if i == 0 or roman_char_dict[roman_numeral[i]] <= roman_char_dict[roman_numeral[i - 1]]:
            res += roman_char_dict[roman_numeral[i]]
        else:
            res += roman_char_dict[roman_numeral[i]] - 2 * roman_char_dict[roman_numeral[i - 1]]
    return res


roman_numeral_input = 'MMXVIII'
number_output = transform_roman_numeral_to_number(roman_numeral_input)
print('Roman numeral {0} equal to:{1}'.format(roman_numeral_input, number_output))

-------------------
Roman numeral MMXVIII equal to:2018</pre>
    <header><h2>用Java進行羅馬數字到阿拉伯數字轉換:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.util.Map;
import java.util.HashMap;

public class NumberConvertManager {
    public static int transform_roman_numeral_to_number(String roman_numeral) {
        Map&lt;Character, Integer&gt; roman_char_dict = new HashMap&lt;Character, Integer&gt;();
        roman_char_dict.put('I', 1);
        roman_char_dict.put('V', 5);
        roman_char_dict.put('X', 10);
        roman_char_dict.put('L', 50);
        roman_char_dict.put('C', 100);
        roman_char_dict.put('D', 500);
        roman_char_dict.put('M', 1000);
        int res = 0;
        for (int i = 0; i < roman_numeral.length(); i += 1) {
            if (i == 0 || roman_char_dict.get(roman_numeral.charAt(i)) <= roman_char_dict.get(roman_numeral.charAt(i - 1)))
                res += roman_char_dict.get(roman_numeral.charAt(i));
            else
                res += roman_char_dict.get(roman_numeral.charAt(i)) - 2 * roman_char_dict.get(roman_numeral.charAt(i - 1));
        }
        return res;
    }

    public static void main(String[] args) {
        String roman_numeral_input = "MMXVIII";
        int number_output = transform_roman_numeral_to_number(roman_numeral_input);
        System.out.println("Roman numeral " + roman_numeral_input + " equal to:" + number_output);
    }
}

-------------------
Roman numeral MMXVIII equal to:2018
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var QueryStr = document.getElementById("QueryStr");
    var NumberOutput = document.getElementById("NumberOutput");

    function roman_to_Int(str1) {
        if (str1 == null) return -1;
        var num = char_to_int(str1.charAt(0));
        var pre, curr;

        for (var i = 1; i < str1.length; i++) {
            curr = char_to_int(str1.charAt(i));
            pre = char_to_int(str1.charAt(i - 1));
            if (curr <= pre) {
                num += curr;
            } else {
                num = num - pre * 2 + curr;
            }
        }

        return num;
    }

    function char_to_int(c) {
        switch (c) {
            case 'I':
                return 1;
            case 'V':
                return 5;
            case 'X':
                return 10;
            case 'L':
                return 50;
            case 'C':
                return 100;
            case 'D':
                return 500;
            case 'M':
                return 1000;
            default:
                return -1;
        }
    }

    function query() {
        $('#spinner').css('visibility', 'visible');
        NumberOutput.value = "";
        var roman_str = QueryStr.value.replace(new RegExp(" ", 'g'), "");
        if (roman_str == "") {
            NumberOutput.value = "";
        } else {
            NumberOutput.value = roman_to_Int(roman_str);
        }
        finished_spin_hidden();
    }

    function clear_txt() {
        QueryStr.value = "";
        NumberOutput.value = "";
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        NumberOutput.focus();
        NumberOutput.select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}