{%extends "HexToDecimal/tw/base_layout_tw.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="請在這裡輸入或者拖入文本文件."></textarea>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">分割符</span>
        </div>
        <select class="form-control custom-select" name="Delimiter" id="Delimiter" oninput="query()">
            <option value="">無(no Space)</option>
            <option value=" " selected>空格</option>
            <option value="0x">0x (with LowerCase 'x')</option>
            <option value="0X">0X (with UpperCase 'X')</option>
            <option value="\0x">\0x (with LowerCase 'x')</option>
            <option value="\0X">\0X (with UpperCase 'X')</option>
            <option value="\x">\x (with LowerCase 'x')</option>
            <option value="\X">\X (with UpperCase 'X')</option>
        </select>
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
    <a href="/tw/hex-to-ascii" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> 交換位置</button>
    </a>
    <button type="button" id="load_example" class="btn btn-secondary" onclick="loadexample()">示例</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">轉換</button>
    <button type="button" id="downloadastxt" class="btn btn-secondary" onclick="download_editor2_as_txt('result.txt')"><i class="fas fa-file-download"></i> 保存結果</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 複製結果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="hex結果將會顯示在這裡."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>關於{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p>支持的16進制數組分割符號包括<code>("", " ", "0x", "0X", "\0x", "\0X", "\x", "\X")</code> . </p>
    <header><h2>ASCII編碼標準:</h2><div class="h2-highlight"></div></header>
    <p> ASCII (American Standard Code for Information Interchange)是最廣泛使用的字符編碼標準.標準ASCII有7 bits長度,共128個不同的字符.擴展ASCII有8 bits長度, 256個不同的字符.版權符號<code>©</code>就定義在擴展ASCII表之中. </p>
    <header><h2>十六進制(Hex):</h2><div class="h2-highlight"></div></header>
    <p>十六進制數字系統包含16種字符,包含<code>(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)</code>加上<code>(a, b, e, d, e, f)</code> 6個字符.由於十六進制數字系統可以以可讀的方式表示任何二進製字符串,因此它被廣泛用於計算機科學領域. SHA256哈希字符串通常顯示為十六進製樣式字符串,HTML中使用的顏色系統也可以表示為十六進制數字,從#000000(純黑色)到#FFFFFF(純白色). </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/cartoon-ascii-to-hex.png" alt="comic ascii to hex">
    </div>
    <header><h2>鏈接:</h2><div class="h2-highlight"></div></header>
    <p>維基百科(十六進制): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Hexadecimal" target="_blank">https://en.wikipedia.org/wiki/Hexadecimal</a></p>
    <p>維基百科(ASCII): <a rel="nofollow" href="https://en.wikipedia.org/wiki/ASCII" target="_blank">https://en.wikipedia.org/wiki/ASCII</a></p>
    <header><h2>用Python進行ASCII字符串到16進制轉換:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">import binascii


def ascii_to_hex(ascii_str):
    hex_str = binascii.hexlify(ascii_str.encode())
    return hex_str


ascii_input = 'This is an example.'
hex_output = ascii_to_hex(ascii_input)
print('hex result is:{0}'.format(hex_output))

-------------------
hex result is:b'5468697320697320616e206578616d706c652e'</pre>
    <header><h2>用Java進行ASCII字符串到16進制轉換:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
public class NumberConvertManager {
    public static String ascii_to_hex(String ascii_str) {
        StringBuilder hex_str = new StringBuilder();
        for (char ch : ascii_str.toCharArray()) {
            hex_str.append(Integer.toHexString((int) ch));
        }
        return hex_str.toString();
    }

    public static void main(String[] args) {
        String ascii_input = "This is an example.";
        String hex_output = ascii_to_hex(ascii_input);
        System.out.println("hex result is:" + hex_output);
    }
}

-------------------
hex result is:5468697320697320616e206578616d706c652e
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/display/placeholder.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    editor1.on('change', function () {
        query();
    });

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("Invalid Input");
        editor2.setValue(ascii_to_hex(editor1.getValue(), document.getElementById("Delimiter").value));
        finished_spin_hidden();
    }

    function ascii_to_hex(input_str, delimiter) {
        var arr1 = [];
        for (var n = 0, l = input_str.length; n < l; n++) {
            var hex = Number(input_str.charCodeAt(n)).toString(16);
            if (hex.length==1){
                hex = '0' + hex;
            }
            arr1.push(hex);
        }
        result = arr1.join(delimiter);
        if (delimiter != ' ') {
            result = delimiter + result;
        }
        return result;
    }

    function loadexample() {
        clear_txt();
        editor1.setValue("This is an example.");
        $('#submit_button').trigger('click');
    }

    function clear_txt() {
        editor1.setValue("");
        editor2.setValue("");
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        editor2.focus();
        editor2.execCommand("selectAll");
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}