{%extends "HexToDecimal/cn/base_layout_cn.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size18codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="请在这里输入或者拖入文本文件."></textarea>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">分割符</span>
        </div>
        <select class="form-control custom-select" name="Delimiter" id="Delimiter" oninput="query()">
            <option value="">无 (no Space)</option>
            <option value=" " selected>空格</option>
        </select>
    </div>
    <br>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
    <a href="/cn/binary-to-text" style="text-decoration:none">
        <button type="button" id="swap" class="btn btn-secondary"><i class="fas fa-arrows-alt-v"></i> 交换位置</button>
    </a>
    <button type="button" id="load_example" class="btn btn-secondary" onclick="loadexample()">示例</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">转换</button>
    <button type="button" id="downloadastxt" class="btn btn-secondary" onclick="download_editor2_as_txt('result.txt')"><i class="fas fa-file-download"></i> 保存结果</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 复制结果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="结果将会显示在这里."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <p>支持的2进制数组分割符号包括 <code>("", " ")</code>.</p>
    <header><h2>ASCII编码标准:</h2><div class="h2-highlight"></div></header>
    <p>ASCII (American Standard Code for Information Interchange) 是最广泛使用的字符编码标准. 标准ASCII 有7 bits长度, 共128个不同的字符. 扩展ASCII 有8 bits长度, 256个不同的字符. 版权符号 <code>©</code> 就定义在扩展ASCII表之中.</p>
    <header><h2>二进制(Binary):</h2><div class="h2-highlight"></div></header>
    <p>二进制只有2种字符<code>(0, 1)</code>. 4位二进制字符可以表示1位十六进制数字, 3位二进制字符可以表示1位八进制数字. 二进制是最接近汇编语言的数字系统.</p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/20190308/cartoon_text_to_binary.png" alt="comic ascii to hex">
    </div>
    <header><h2>链接:</h2><div class="h2-highlight"></div></header>
    <p>维基百科 (二进制): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Binary_number" target="_blank">https://en.wikipedia.org/wiki/Binary_number</a></p>
    <p>维基百科 (ASCII): <a rel="nofollow" href="https://en.wikipedia.org/wiki/ASCII" target="_blank">https://en.wikipedia.org/wiki/ASCII</a></p>
    <header><h2>用Python进行ASCII字符串到2进制转换:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
def text_to_binary(text_str):
    binary_str = ' '.join(format(ord(x), 'b') for x in text_str)
    return binary_str


text_input = 'example'
binary_output = text_to_binary(text_input)
print('binary result is:{0}'.format(binary_output))</pre>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/display/placeholder.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        lineNumbers: true,
        lineWrapping: true,
    });
    editor1.on('change', function () {
        query();
    });

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("Invalid Input");
        editor2.setValue(text_to_binary(editor1.getValue(), document.getElementById("Delimiter").value));
        finished_spin_hidden();
    }

    function text_to_binary(input_str, delimiter) {
        var arr1 = [];
        for (var n = 0, l = input_str.length; n < l; n++) {
            var binary = Number(input_str.charCodeAt(n)).toString(2);
            while (binary.length < 8){
                binary = '0' + binary;
            }
            arr1.push(binary);
        }
        return arr1.join(delimiter);
    }

    function loadexample() {
        clear_txt();
        editor1.setValue("This is an example.");
        $('#submit_button').trigger('click');
    }

    function clear_txt() {
        editor1.setValue("");
        editor2.setValue("");
    }

    function copy_to_clipboard() {
        var copy_button = document.getElementById("copy");
        editor2.focus();
        editor2.execCommand("selectAll");
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}