{%extends "MyIpAddress/fr/base_layout_fr.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Nom de domaine ou adresse IP</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="Example.com" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Temps de ping</span>
        </div>
        <select class="form-control custom-select" name="pingcount" id="pingcount">
            <option value="1">1 fois</option>
            <option value="2">2 fois</option>
            <option value="3">3 fois</option>
            <option value="4" selected>4 fois</option>
            <option value="5">5 fois</option>
            <option value="6">6 fois</option>
            <option value="7">7 fois</option>
            <option value="8">8 fois</option>
            <option value="9">9 fois</option>
            <option value="10">10 fois</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Intervalle de temps de ping</span>
        </div>
        <select class="form-control custom-select" name="timeinterval" id="timeinterval">
            <option value="0.2">0,2 seconde</option>
            <option value="0.5">0,5 seconde</option>
            <option value="1">1 seconde</option>
            <option value="2">2 secondes</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Vide</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Détection de ping</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copier le résultat</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Résultat du test de ping"></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>À propos de{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-ping.png" alt="comic ping">
    </div>
    <header><h2>Avez-vous besoin d'ajouter un préfixe www. Pour envoyer un ping à un nom de domaine?</h2><div class="h2-highlight"></div></header>
    <p> Pour certains sites, vous devez ajouter le préfixe <code>www</code> , par exemple <code>www.microsoft.com</code> et <code>www.quora.com</code> le test de ping échoue, implémentez le préfixe <code>www.</code> avant le nom de domaine car certains propriétaires de domaine ne configurent pas DNS par défaut. Réglage. </p>
    <header><h2>Pourquoi dois-je utiliser la détection Ping?</h2><div class="h2-highlight"></div></header>
    <p> Avez-vous eu un long retard dans la conversation sur Skype? Vous sentez-vous en retard lorsque vous jouez à des jeux en ligne? Vous devriez vérifier le délai entre votre domicile et le site Web. </p>
    <p> La détection par ping calcule le temps aller-retour de votre domicile à tout serveur Web avec une adresse IP publique ou un nom de domaine (à partir du lien que vous avez cliqué depuis le serveur Web), ainsi que le nombre de paquets transmis, les données reçues. Le nombre de paquets et le nombre de paquets perdus. </p>
    <p> Pour les jeux en ligne, la latence des serveurs de jeu de ping devrait être maintenu à <code>100ms</code> ci - dessous, ping si le retard est supérieur à <code>200ms</code> l'expérience intolérable pour l' activité régulière de la navigation sur le Web, l' impact de latence ping moins sur l'expérience en ligne. Latence Ping et la vitesse d'Internet est <code>2</code> Ge Différents concepts, une latence élevée ne signifie pas que vous ne pouvez tolérer que la résolution <code>480p</code> de Netflix, bien que la latence des requêtes ping et la vitesse de l'Internet soient souvent reflétées comme une corrélation positive. </p>
    <p> Il existe plusieurs moyens de réduire le délai du ping: un trafic Internet important peut avoir un impact négatif sur la latence du ping, de sorte que la vitesse de l'Internet est plus rapide la nuit et que le taux de perte de paquets est inférieur à celui du jour. </p>
    <header><h2>Plus de liens vers la détection de ping:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (ping): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Ping_(networking_utility)" target="_blank">https://en.wikipedia.org/wiki/Ping_(networking_utility)</a></p>
    <p> RFC 792 (ping): <a rel="nofollow" href="https://tools.ietf.org/html/rfc792" target="_blank">https://tools.ietf.org/html/rfc792</a></p>
    <p> Détection de ping sous Linux (Ubuntu): <a rel="nofollow" href="https://linux.die.net/man/8/ping" target="_blank">https://linux.die.net/man/8/ping</a></p>
    <p> Détection de ping dans le système Windows: <a rel="nofollow" href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/ping" target="_blank">https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/ping</a>
    </p>
    <header><h2>Commande de détection de ping dans le système Linux:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       ping - send ICMP ECHO_REQUEST to network hosts

SYNOPSIS
       ping  [-aAbBdDfhLnOqrRUvV46] [-c count] [-F flowlabel] [-i interval] [-I interface] [-l preload]
       [-m mark] [-M pmtudisc_option] [-N nodeinfo_option] [-w deadline] [-W timeout] [-p pattern]
       [-Q tos] [-s packetsize] [-S sndbuf] [-t ttl] [-T timestamp option] [hop ...] destination</pre>
    <br>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# ping -c 4 -i 1 facebook.com
PING facebook.com (157.240.22.35) 56(84) bytes of data.
64 bytes from edge-star-mini-shv-01-sjc3.facebook.com (157.240.22.35): icmp_seq=1 ttl=52 time=19.1 ms
64 bytes from edge-star-mini-shv-01-sjc3.facebook.com (157.240.22.35): icmp_seq=2 ttl=52 time=18.6 ms
64 bytes from edge-star-mini-shv-01-sjc3.facebook.com (157.240.22.35): icmp_seq=3 ttl=52 time=18.9 ms
64 bytes from edge-star-mini-shv-01-sjc3.facebook.com (157.240.22.35): icmp_seq=4 ttl=52 time=18.7 ms

--- facebook.com ping statistics ---
4 packets transmitted, 4 received, 0% packet loss, time 3004ms
rtt min/avg/max/mdev = 18.697/18.857/19.102/0.189 ms
    </pre>
    <header><h2>Adresse IP ou nom de domaine Ping avec Python (à l'aide du socket de paquet):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import socket
import time


def ping(ip_or_domain, count):
    for i in range(1, count):
        try:
            start_time = time.time()
            socket.gethostbyname(ip_or_domain)
            end_time = time.time()
            total_time = round((end_time - start_time) * 1000, 2)
            print('{0} is reachable: icmp_seq={1} time={2}ms'.format(ip_or_domain, i, total_time))
        except socket.herror:
            print('{0} is NOT reachable'.format(ip_or_domain))


if __name__ == "__main__":
    # ping ip address
    ping("93.184.216.34", 4)
    # ping domain
    ping("coding.tools", 2)

-------------------
93.184.216.34 is reachable: icmp_seq=1 time=19ms
93.184.216.34 is reachable: icmp_seq=2 time=31ms
93.184.216.34 is reachable: icmp_seq=3 time=15ms
93.184.216.34 is reachable: icmp_seq=4 time=13ms
coding.tools is reachable: icmp_seq=1 time=14ms
coding.tools is reachable: icmp_seq=2 time=7ms
    </pre>
    <header><h2>Adresse IP de ping ou nom de domaine en Java (en utilisant le paquet java.net.InetAddress):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.io.IOException;
import java.net.InetAddress;

public class Ping {
    public static void ping(String ip_or_domain, int count) throws IOException {
        InetAddress remote_host = InetAddress.getByName(ip_or_domain);
        // send ping request "count" times in total
        for (int i = 1; i <= count; i++) {
            // Sending ping request
            long start_time = System.currentTimeMillis();
            boolean is_reachable = remote_host.isReachable(5000);
            long end_time = System.currentTimeMillis();
            long total_time = end_time - start_time;
            if (is_reachable)
                System.out.println(ip_or_domain + " is reachable: icmp_seq=" + i + " time=" + total_time + "ms");
            else
                System.out.println(ip_or_domain + "is NOT reachable");
        }
    }

    public static void main(String[] args) throws IOException {
        // ping ip address
        ping("93.184.216.34", 4);
        // ping domain
        ping("coding.tools", 2);
    }
}

-------------------
93.184.216.34 is reachable: icmp_seq=1 time=19ms
93.184.216.34 is reachable: icmp_seq=2 time=19ms
93.184.216.34 is reachable: icmp_seq=3 time=15ms
93.184.216.34 is reachable: icmp_seq=4 time=14ms
coding.tools is reachable: icmp_seq=1 time=8ms
coding.tools is reachable: icmp_seq=2 time=3ms
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

function query() {
    editor2.setValue("");
    post_ajax()
}

function post_ajax() {
    $('#spinner').css('visibility', 'visible');
    $.post("",
        $("#options").serialize(),
        function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
            editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
            finished_spin_hidden();
        });
}
</script>
{%endblock%}