{%extends "MyIpAddress/cn/base_layout_cn.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">域名或 IP地址</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="example.com" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Ping次数</span>
        </div>
        <select class="form-control custom-select" name="pingcount" id="pingcount">
            <option value="1">1 次</option>
            <option value="2">2 次</option>
            <option value="3">3 次</option>
            <option value="4" selected>4 次</option>
            <option value="5">5 次</option>
            <option value="6">6 次</option>
            <option value="7">7 次</option>
            <option value="8">8 次</option>
            <option value="9">9 次</option>
            <option value="10">10 次</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Ping时间间隔</span>
        </div>
        <select class="form-control custom-select" name="timeinterval" id="timeinterval">
            <option value="0.2">0.2 秒</option>
            <option value="0.5">0.5 秒</option>
            <option value="1">1 秒</option>
            <option value="2">2 秒</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Ping检测</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 复制结果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Ping检测结果"></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-ping.png" alt="comic ping">
    </div>
    <header><h2>Ping域名需不需要加www.前缀?</h2><div class="h2-highlight"></div></header>
    <p>对于一部分网站,您必须加 <code>www</code> 前缀,例如 <code>www.microsoft.com</code> 和 <code>www.quora.com</code>. 如果ping检测失败, 请实施在域名之前加 <code>www.</code> 前缀.
        这是因为一些域名所有者设置DNS没有使用默认的设置.</p>
    <header><h2>为什么需要使用Ping检测?</h2><div class="h2-highlight"></div></header>
    <p>你有没有在Skype对话中经历过长时间延迟？ 您是否对在线游戏时感受延迟？ 你应该检测从你家到网站的延迟时间.</p>
    <p>Ping检测计算从您家到任何具有公共IP地址或域名的Web服务器的往返时间(从您单击从Web服务器返回内容的链接). 它还会告诉您有多少数据包已传输,已接收的数据包数以及已丢失的数据包数.</p>
    <p>对于在线游戏,游戏服务器的ping延迟应保持在<code>100ms</code>之下,如果ping延迟超过<code>200ms</code>则体验无法忍受. 对于常规的Web浏览活动,ping 延迟对上网体验影响较小.
        ping延迟和Internet速度是<code>2</code>个不同的概念,高延迟并不意味着你只能忍受<code> 480p </code>分辨率的Netflix,虽然ping延迟和Internet速度是经常体现为正相关.</p>
    <p>有几种方法可以降低ping延迟,大互联网流量会对ping延迟产生负面影响,因此夜间的互联网速度更快,包裹丢失率低于白天.</p>
    <header><h2>更多关于ping检测的链接:</h2><div class="h2-highlight"></div></header>
    <p>维基百科 (ping): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Ping_(networking_utility)" target="_blank">https://en.wikipedia.org/wiki/Ping_(networking_utility)</a></p>
    <p>RFC 792 (ping): <a rel="nofollow" href="https://tools.ietf.org/html/rfc792" target="_blank">https://tools.ietf.org/html/rfc792</a></p>
    <p>Linux系统中的ping检测 (Ubuntu): <a rel="nofollow" href="https://linux.die.net/man/8/ping" target="_blank">https://linux.die.net/man/8/ping</a></p>
    <p>Windows系统中的ping检测: <a rel="nofollow" href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/ping" target="_blank">https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/ping</a>
    </p>
    <header><h2>Linux系统中的ping检测命令:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       ping - send ICMP ECHO_REQUEST to network hosts

SYNOPSIS
       ping  [-aAbBdDfhLnOqrRUvV46] [-c count] [-F flowlabel] [-i interval] [-I interface] [-l preload]
       [-m mark] [-M pmtudisc_option] [-N nodeinfo_option] [-w deadline] [-W timeout] [-p pattern]
       [-Q tos] [-s packetsize] [-S sndbuf] [-t ttl] [-T timestamp option] [hop ...] destination</pre>
    <br>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# ping -c 4 -i 1 facebook.com
PING facebook.com (157.240.22.35) 56(84) bytes of data.
64 bytes from edge-star-mini-shv-01-sjc3.facebook.com (157.240.22.35): icmp_seq=1 ttl=52 time=19.1 ms
64 bytes from edge-star-mini-shv-01-sjc3.facebook.com (157.240.22.35): icmp_seq=2 ttl=52 time=18.6 ms
64 bytes from edge-star-mini-shv-01-sjc3.facebook.com (157.240.22.35): icmp_seq=3 ttl=52 time=18.9 ms
64 bytes from edge-star-mini-shv-01-sjc3.facebook.com (157.240.22.35): icmp_seq=4 ttl=52 time=18.7 ms

--- facebook.com ping statistics ---
4 packets transmitted, 4 received, 0% packet loss, time 3004ms
rtt min/avg/max/mdev = 18.697/18.857/19.102/0.189 ms
    </pre>
    <header><h2>用Python进行ping IP地址或域名 (用 package socket):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import socket
import time


def ping(ip_or_domain, count):
    for i in range(1, count):
        try:
            start_time = time.time()
            socket.gethostbyname(ip_or_domain)
            end_time = time.time()
            total_time = round((end_time - start_time) * 1000, 2)
            print('{0} is reachable: icmp_seq={1} time={2}ms'.format(ip_or_domain, i, total_time))
        except socket.herror:
            print('{0} is NOT reachable'.format(ip_or_domain))


if __name__ == "__main__":
    # ping ip address
    ping("93.184.216.34", 4)
    # ping domain
    ping("coding.tools", 2)

-------------------
93.184.216.34 is reachable: icmp_seq=1 time=19ms
93.184.216.34 is reachable: icmp_seq=2 time=31ms
93.184.216.34 is reachable: icmp_seq=3 time=15ms
93.184.216.34 is reachable: icmp_seq=4 time=13ms
coding.tools is reachable: icmp_seq=1 time=14ms
coding.tools is reachable: icmp_seq=2 time=7ms
    </pre>
    <header><h2>用Java进行ping IP地址或域名 (用 package java.net.InetAddress):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.io.IOException;
import java.net.InetAddress;

public class Ping {
    public static void ping(String ip_or_domain, int count) throws IOException {
        InetAddress remote_host = InetAddress.getByName(ip_or_domain);
        // send ping request "count" times in total
        for (int i = 1; i <= count; i++) {
            // Sending ping request
            long start_time = System.currentTimeMillis();
            boolean is_reachable = remote_host.isReachable(5000);
            long end_time = System.currentTimeMillis();
            long total_time = end_time - start_time;
            if (is_reachable)
                System.out.println(ip_or_domain + " is reachable: icmp_seq=" + i + " time=" + total_time + "ms");
            else
                System.out.println(ip_or_domain + "is NOT reachable");
        }
    }

    public static void main(String[] args) throws IOException {
        // ping ip address
        ping("93.184.216.34", 4);
        // ping domain
        ping("coding.tools", 2);
    }
}

-------------------
93.184.216.34 is reachable: icmp_seq=1 time=19ms
93.184.216.34 is reachable: icmp_seq=2 time=19ms
93.184.216.34 is reachable: icmp_seq=3 time=15ms
93.184.216.34 is reachable: icmp_seq=4 time=14ms
coding.tools is reachable: icmp_seq=1 time=8ms
coding.tools is reachable: icmp_seq=2 time=3ms
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

function query() {
    editor2.setValue("");
    post_ajax()
}

function post_ajax() {
    $('#spinner').css('visibility', 'visible');
    $.post("",
        $("#options").serialize(),
        function (data) {
            editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
            finished_spin_hidden();
        });
}
</script>
{%endblock%}