{%extends "MyIpAddress/cn/base_layout_cn.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">域名或 IP地址</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="example.com" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">追踪方法</span>
        </div>
        <select class="form-control custom-select" name="querytype" id="querytype">
            <option value="-I" selected>用 ICMP ECHO 数据包</option>
            <option value="-T">用 TCP SYN 数据包</option>
            <option value="-U">用 UDP 数据包</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">是否解析路由器 IP到域名</span>
        </div>
        <select class="form-control custom-select" name="resolveDomain" id="resolveDomain">
            <option value="Do" selected>解析</option>
            <option value="Dont">不解析</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">每个路由器的追踪次数</span>
        </div>
        <select class="form-control custom-select" name="probesnumber" id="probesnumber">
            <option value="1" selected>1 次</option>
            <option value="2">2 次</option>
            <option value="3">3 次</option>
            <option value="4">4 次</option>
            <option value="5">5 次</option>
            <option value="6">6 次</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">路由器追踪</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 复制结果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="路由器追踪结果."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-traceroute.png" alt="comic traceroute">
    </div>
    <header><h2>为什么需要使用路由器追踪?</h2><div class="h2-highlight"></div></header>
    <p>您是否注意到某些网站速度较快而其他网站速度较慢？ 这是因为某些Web服务器离您更近(与您的Web服务器之间的路由器更少). 例如,您从美国访问位于中国的网站,有超过10台路由器用于传输流量,这意味着该数据包被复制和粘贴<code>10</code>次以上.</p>
    <p>路由器追踪是测量两个IP地址之间的路由器数量和每个路由器上添加延迟的工具. 此外,您可以跟踪流量的传输路径,包括多少涉及到的IPS(Internet服务提供商), 经过了多少个国家,以及每个路由器分配的IP地址.</p>
    <header><h2>如何在专业领域使用路由器追踪?</h2><div class="h2-highlight"></div></header>
    <p>在网络管理中,可以使用路由器追踪工具来查看网络的树状结构,如每个路由器直接连接哪个路由器. 在高频交易中,速度就是一切.您可以使用路由器追踪工具选择高频交易软件安放的位置以获得最大速度.</p>
    <header><h2>更多关于路由器追踪的链接:</h2><div class="h2-highlight"></div></header>
    <p>维基百科 (Traceroute): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Traceroute" target="_blank">https://en.wikipedia.org/wiki/Traceroute</a></p>
    <p>RFC 1393 (Traceroute): <a rel="nofollow" href="https://tools.ietf.org/html/rfc1393" target="_blank">https://tools.ietf.org/html/rfc1393</a></p>
    <p>Linux系统中的路由器追踪 (Ubuntu): <a rel="nofollow" href="https://linux.die.net/man/8/traceroute" target="_blank">https://linux.die.net/man/8/traceroute</a></p>
    <p>Windows系统中的路由器追踪 (tracert): <a rel="nofollow" href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/tracert" target="_blank">https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/tracert</a>
    </p>
    <header><h2>Linux系统中的路由器追踪:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       traceroute - print the route packets trace to network host

SYNOPSIS
       traceroute [-46dFITUnreAV] [-f first_ttl] [-g gate,...]
               [-i device] [-m max_ttl] [-p port] [-s src_addr]
               [-q nqueries] [-N squeries] [-t tos]
               [-l flow_label] [-w waittimes] [-z sendwait] [-UL] [-D]
               [-P proto] [--sport=port] [-M method] [-O mod_options]
               [--mtu] [--back]
               host [packet_len]
       traceroute6  [options]
       tcptraceroute  [options]
       lft  [options]</pre>
    <br>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# traceroute -I -q 3 facebook.com
traceroute to facebook.com (31.13.67.35), 30 hops max, 60 byte packets
 1  216.239.43.151 (216.239.43.151)  13.006 ms  13.016 ms  13.017 ms
 2  108.170.253.11 (108.170.253.11)  13.670 ms  13.725 ms  13.724 ms
 3  ae2.pr06.mia1.tfbnw.net (157.240.67.134)  21.087 ms  21.065 ms  21.073 ms
 4  po106.psw02.mia3.tfbnw.net (157.240.43.251)  14.775 ms  14.701 ms  14.773 ms
 5  173.252.67.93 (173.252.67.93)  14.626 ms  14.762 ms  14.762 ms
 6  edge-star-mini-shv-01-mia3.facebook.com (31.13.67.35)  14.979 ms  13.725 ms  13.780 ms
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}