{%extends "MyIpAddress/cn/base_layout_cn.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">域名或 IP地址</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="example.com" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">查询类型</span>
        </div>
        <select class="form-control custom-select" name="querytype" id="querytype">
            <option value="A" selected>A (指定域名对应的IPv4地址)</option>
            <option value="AAAA">AAAA (指定域名对应的IPv6地址)</option>
            <option value="CNAME">CNAME (别名记录)</option>
            <option value="MX">MX (邮件交换记录)</option>
            <option value="NS">NS (指定该域名由哪个DNS服务器来进行解析)</option>
            <option value="TXT">TXT (主机名或域名的说明)</option>
            <option value="SOA">SOA (起始授权机构)</option>
            <option value="PTR">PTR (反向IP查询)</option>
            <option value="ANY">ANY (所有DNS记录类型)</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">DNS查询公共服务器</span>
        </div>
        <select class="form-control custom-select" name="dnsserver" id="dnsserver">
            <option value="8.8.8.8" selected>Google Public DNS Server (8.8.8.8)</option>
            <option value="209.244.0.3">Level 3 Public DNS Server (209.244.0.3)</option>
            <option value="9.9.9.9">Quad9 Public DNS Server (9.9.9.9)</option>
            <option value="208.67.222.222">OpenDNS Home Public DNS Server (208.67.222.222)</option>
            <option value="64.6.64.6">Verisign Public DNS Server (64.6.64.6)</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">DNS查询</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 复制结果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="DNS查询结果."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} 支持DNS类型：</p>
    <table class="descriptionTable">
        <tr>
            <th>DNS类型</th>
            <th>简介</th>
        </tr>
        <tr>
            <td>A</td>
            <td>指定域名对应的IPv4地址</td>
        </tr>
        <tr>
            <td>AAAA</td>
            <td>指定域名对应的IPv6地址</td>
        </tr>
        <tr>
            <td>CNAME</td>
            <td>别名记录</td>
        </tr>
        <tr>
            <td>MX</td>
            <td>邮件交换记录</td>
        </tr>
        <tr>
            <td>NS</td>
            <td>指定该域名由哪个DNS服务器来进行解析</td>
        </tr>
        <tr>
            <td>TXT</td>
            <td>主机名或域名的说明</td>
        </tr>
        <tr>
            <td>SOA</td>
            <td>起始授权机构</td>
        </tr>
        <tr>
            <td>PTR</td>
            <td>反向IP查询</td>
        </tr>
        <tr>
            <td>ANY</td>
            <td>所有DNS记录类型</td>
        </tr>
    </table>
    <br/>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-nslookup.png" alt="comic nslookup">
    </div>
    <header><h2>DNS查询需不需要加www.前缀?</h2><div class="h2-highlight"></div></header>
    <p>在大多数情况下,带有或不带<code>www</code>前缀的DNS查询都可以正常返回结果, 但是没有<code>www</code>前缀的DNS查询通常会返回有关域名的更多信息, 这是因为有<code>www</code>前缀的域名是二级域名.</p>
    <header><h2>为什么需要使用DNS查询?</h2><div class="h2-highlight"></div></header>
    <p>当您想在线查看facebook时,您可能无法记住facebook网站的IP地址<code>"31.13.67.35"</code>,而是在浏览器中输入<code>"facebook.com"</code>. 域名对于人而言更容易记住,但对于机器而言,机器更喜欢通过IP地址与其他机器通信.
        您在浏览器中点击进入Facebook,您的浏览器会自动执行DNS查询并获取IP地址<code>"31.13.67.35"</code>.</p>
    <p>DNS查询将域名转换为机器可理解的IP地址. 但DNS查询的功能不限于此,但NsLookup可以找到域名的邮件服务器,域名的IPv6地址等等.</p>
    <p>DNS查询也用于专业领域. 在证明域名拥权的过程中,添加TEXT类型的DNS记录可以证明您的域名所有权(如果您从Godaddy购买域名,则可以在Godaddy的DNS服务器中设置DNS记录).</p>
    <header><h2>使用Cloudflare隐藏您的网站真实DNS记录:</h2><div class="h2-highlight"></div></header>
    <p>Cloudflare可以通过其CDN(全球内容分发网络)转发您网站的流量,在DNS查询结果中使用Cloudflare的IP替换您的Web服务器的真实IP地址. 可以将将您域名的DNS服务器指向Cloudflare的DNS服务器.</p>
    <header><h2>您应该使用哪个DNS服务器?</h2><div class="h2-highlight"></div></header>
    <p>DNS服务器的权限对于Internet的安全性至关重要. 错误的DNS结果可能会导致您进入错误的网站. 世界各地共有<code>13</code>个根服务器. 与此同时,谷歌等大公司提供免费的公共DNS服务(8.8.8.8)供日常使用.</p>
    <p>默认情况下,如果您未在计算机中设置默认DNS服务器,则您的ISP(Internet服务提供商)将为您指定DNS服务器,尽管它可能不如Google的公共DNS服务(8.8.8.8)可靠. DNS服务器很容易设置,你应将计算机的默认DNS服务器更改为其中一个公共DNS服务器.</p>
    <header><h2>更多关于DNS查询的链接:</h2><div class="h2-highlight"></div></header>
    <p>维基百科 (DNS): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Domain_Name_System" target="_blank">https://en.wikipedia.org/wiki/Domain_Name_System</a></p>
    <p>RFC 1035 (DNS): <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1035.txt" target="_blank">https://www.ietf.org/rfc/rfc1035.txt</a></p>
    <p>Linux系统中的DNS查询: <a rel="nofollow" href="https://linux.die.net/man/1/nslookup" target="_blank">https://linux.die.net/man/1/nslookup</a></p>
    <p>Windows系统中的DNS查询: <a rel="nofollow" href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/nslookup" target="_blank">https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/nslookup</a></p>
    <header><h2>Linux系统中的DNS查询命令(nslookup):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       nslookup - query Internet name servers interactively

SYNOPSIS
       nslookup [-option] [name | -] [server]</pre>
    <br>
    <pre class="prettyprint">
root@instance-2:/var/log/apache2# nslookup -type=any facebook.com 8.8.8.8
Server:		8.8.8.8
Address:	8.8.8.8#53

Non-authoritative answer:
facebook.com	nameserver = a.ns.facebook.com.
facebook.com	nameserver = b.ns.facebook.com.
facebook.com	text = "v=spf1 redirect=_spf.facebook.com"
facebook.com	mail exchanger = 10 msgin.vvv.facebook.com.
facebook.com
	origin = a.ns.facebook.com
	mail addr = dns.facebook.com
	serial = 1530053366
	refresh = 14400
	retry = 1800
	expire = 604800
	minimum = 300
Name:	facebook.com
Address: 2a03:2880:f12c:183:face:b00c:0:25de
Name:	facebook.com
Address: 157.240.14.35

Authoritative answers can be found from:
    </pre>
    <header><h2>用Python进行DNS查询 (用 package dnspython):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
# pip install dnspython
import dns.resolver


def nslookup(domain, record_type):
    dns_resolver = dns.resolver.Resolver()
    answers = dns_resolver.query(domain, record_type)
    for answer in answers:
        print('Domain:{0} Record Type:{1} Answer:{2}'.format(domain, record_type, answer))


if __name__ == "__main__":
    # dns lookup domain
    nslookup('coding.tools', 'A')

-------------------
Domain:coding.tools Record Type:A Answer:104.27.176.94
Domain:coding.tools Record Type:A Answer:104.27.177.94
    </pre>
    <header><h2>用Java进行DNS查询 (用 package java.net.InetAddress):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.io.IOException;
import java.net.InetAddress;

public class DNS {
    public static void nslookup(String domain) throws IOException {
        InetAddress[] remote_hosts = InetAddress.getAllByName(domain);
        for (InetAddress remote_host : remote_hosts) {
            System.out.println("Domain:" + domain + " IP Address:" + remote_host.getHostAddress());
        }
    }

    public static void main(String[] args) throws IOException {
        // dns lookup domain
        nslookup("coding.tools");
    }
}

-------------------
Domain:coding.tools IP Address:104.27.176.94
Domain:coding.tools IP Address:104.27.177.94
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}