{%extends "StringUtilities/cn/base_layout_cn.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">正则表达式</span>
        </div>
        <input name="regexkeywords" id="regexkeywords" type="text" class="form-control" oninput="regex_test()" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Flags(第 1部分)</span>
        </div>
        <select class="custom-select" id="Flagsg" oninput="regex_test()">
            <option selected value="g">g ON(global)</option>
            <option value="">g OFF(global)</option>
        </select>
        <select class="custom-select" id="Flagsi" oninput="regex_test()">
            <option value="i">i ON(ignore case)</option>
            <option selected value="">i OFF(ignore case)</option>
        </select>
        <select class="custom-select" id="Flagsm" oninput="regex_test()">
            <option value="m">m ON(multi-line)</option>
            <option selected value="">m OFF(multi-line)</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Flags(第 2部分)</span>
        </div>
        <select class="custom-select" id="Flagss" oninput="regex_test()">
            <option value="s">s ON(dotAll)</option>
            <option selected value="">s OFF(dotAll)</option>
        </select>
        <select class="custom-select" id="Flagsu" oninput="regex_test()">
            <option value="u">u ON(Unicode)</option>
            <option selected value="">u OFF(Unicode)</option>
        </select>
        <select class="custom-select" id="Flagsy" oninput="regex_test()">
            <option value="y">y ON(sticky)</option>
            <option selected value="">y OFF(sticky)</option>
        </select>
    </div>
    <br/>
    <div class="codewrapper size18codewrapper resizableWrapper maxLengthWrapper">
        <textarea autofocus id="code2" name="code2" style="width: 100%;height: 300px"></textarea>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">替换为</span>
        </div>
        <input name="replacetostr" id="replacetostr" type="text" class="form-control" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 清空</button>
    <button type="button" class="btn btn-primary" onclick="regex_replace()">正则替换</button>
    <button type="button" id="downloadastxt" class="btn btn-secondary" onclick="download_editor2_as_txt('result.txt')"><i class="fas fa-file-download"></i> 保存结果</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 复制结果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>关于{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/20190308/cartoon_regex_replace.png" alt="cartoon text editor">
    </div>
    <header><h2>链接:</h2><div class="h2-highlight"></div></header>
    <p>Javascript RegExp手册: <a rel="nofollow" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp" target="_blank">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp</a></p>
    <p>Python re库: <a rel="nofollow" href="https://docs.python.org/3/library/re.html" target="_blank">https://docs.python.org/3/library/re.html</a></p>
    <p>维基百科 (正则表达式): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Regular_expression" target="_blank">https://en.wikipedia.org/wiki/Regular_expression</a></p>
    <header><h2>用Javascript替换字符串中符合正则表达式的部分:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
var regex_replacer = /test/gi;
var test_string = "This is a Test string.";
var replace_to_str = "Result";
var result = test_string.replace(regex_replacer,replace_to_str,test_string);
console.log(result)

-------------------
> "this is a Result string."</pre>
    <header><h2>用Python替换字符串中符合正则表达式的部分:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import re

regex_replacer = re.compile("test", re.IGNORECASE)
test_string = "This is a Test string."
replace_to = "result"
result = regex_replacer.sub(replace_to, test_string)
print(result)</pre>
</div>
{%endblock%}
{%block customPageJS%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/markdown/markdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/selection/mark-selection.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/search/searchcursor.min.js"></script>
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "markdown",
        lineNumbers: true,
        lineWrapping: true,
        styleSelectedText: true,
    });

    editor2.on('change', function () {
        regex_test();
    });

    function regex_replace() {
        var regex_flag = "" + $("#Flagsg").val() + $("#Flagsi").val() + $("#Flagsm").val() + $("#Flagss").val() + $("#Flagsu").val() + $("#Flagsy").val();
        var regex_keyword = $("#regexkeywords").val();
        if (regex_keyword == "") {
            return;
        }
        let regex_parser = new RegExp(regex_keyword, regex_flag);
        editor2.setValue(editor2.getValue().replace(regex_parser, $("#replacetostr").val()));
    }

    function regex_test() {
        clear_marks();
        try {
            var regex_flag = "" + $("#Flagsg").val() + $("#Flagsi").val() + $("#Flagsm").val()+ $("#Flagss").val() + $("#Flagsu").val() + $("#Flagsy").val();
            var regex_keyword = $("#regexkeywords").val();
            if (regex_keyword == "") {
                return;
            }
            if(new RegExp(regex_keyword, regex_flag).test("")){
                return;
            }

            var regex_pos_list = get_regex_pos_list(regex_keyword, regex_flag, editor2.getValue());

            if (regex_flag.includes('g')) {
                for (var z = 0; z < regex_pos_list.length; z++) {
                    editor2.markText(regex_pos_list[z].from, regex_pos_list[z].to, {className: "styled-background"});
                }
            } else {
                editor2.markText(regex_pos_list[0].from, regex_pos_list[0].to, {className: "styled-background"});
            }

        } catch (err) {
            console.log(err)
        }
    }

    window.addEventListener("load", function () {
        editor2.setValue("This online Regex Tester tool helps you to test if your regular expression is working correctly. It support Matching h2-highlight and 6 different Flags, powered by Javascript RegExp.");
        $("#regexkeywords").val("([A-Z])\\w+");
        regex_test();
    });

</script>
{%endblock%}