{%extends "MyIpAddress/ru/base_layout_ru.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Доменное имя или IP-адрес</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="example.com" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Тип запроса</span>
        </div>
        <select class="form-control custom-select" name="querytype" id="querytype">
            <option value="A" selected>A (адрес IPv4, соответствующий указанному доменному имени)</option>
            <option value="AAAA">AAAA (IPv6-адрес, соответствующий указанному доменному имени)</option>
            <option value="CNAME">CNAME (запись псевдонима)</option>
            <option value="MX">MX (запись обмена почтой)</option>
            <option value="NS">NS (укажите, на каком DNS-сервере должно быть разрешено имя домена)</option>
            <option value="TXT">TXT (описание имени хоста или имени домена)</option>
            <option value="SOA">SOA (начальный авторитет)</option>
            <option value="PTR">PTR (обратный поиск IP)</option>
            <option value="ANY">ЛЮБОЙ (все типы записей DNS)</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">DNS-запрос общедоступного сервера</span>
        </div>
        <select class="form-control custom-select" name="dnsserver" id="dnsserver">
            <option value="8.8.8.8" selected>Публичный DNS-сервер Google (8.8.8.8)</option>
            <option value="209.244.0.3">Общедоступный DNS-сервер уровня 3 (209.244.0.3)</option>
            <option value="9.9.9.9">Публичный DNS-сервер Quad9 (9.9.9.9)</option>
            <option value="208.67.222.222">Домашний общедоступный DNS-сервер OpenDNS (208.67.222.222)</option>
            <option value="64.6.64.6">Общедоступный DNS-сервер Verisign (64.6.64.6)</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> ясно</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">DNS-запрос</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Скопировать результат</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="Результаты DNS-запроса."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>на{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} 支持DNS类型：</p>
    <table class="descriptionTable">
        <tr>
            <th> Тип DNS </th>
            <th> Краткое введение </th>
        </tr>
        <tr>
            <td>A</td>
            <td>Specifies a computer's IPv4 address</td>
        </tr>
        <tr>
            <td>AAAA</td>
            <td>Specifies a computer's IPv6 address</td>
        </tr>
        <tr>
            <td>CNAME</td>
            <td>Specifies a canonical name for an alias</td>
        </tr>
        <tr>
            <td>MX</td>
            <td>Specifies the mail exchanger</td>
        </tr>
        <tr>
            <td>NS</td>
            <td>Specifies a DNS name server for the named zone</td>
        </tr>
        <tr>
            <td>TXT</td>
            <td>Specifies the text information</td>
        </tr>
        <tr>
            <td>SOA</td>
            <td>Specifies the start-of-authority for a DNS zone</td>
        </tr>
        <tr>
            <td>PTR</td>
            <td>Specifies a computer name if the query is an IP address</td>
        </tr>
        <tr>
            <td>ANY</td>
            <td>Specifies a computer's all DNS Type record</td>
        </tr>
    </table>
    <br/>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-nslookup.png" alt="comic nslookup">
    </div>
    <header><h2>DNS-запрос не нужно добавлять префикс www.</h2><div class="h2-highlight"></div></header>
    <p> В большинстве случаев DNS-запросы с префиксом <code>www</code> или без него могут нормально возвращать результаты, но DNS-запросы без префикса <code>www</code> обычно возвращают дополнительную информацию о доменном имени, поскольку доменное имя с префиксом <code>www</code> является вторичным. Доменное имя </p>
    <header><h2>Почему мне нужно использовать DNS-запрос?</h2><div class="h2-highlight"></div></header>
    <p> Если вы хотите просматривать facebook в Интернете, вы можете не помнить IP-адрес веб-сайта facebook <code>"31.13.67.35"</code> , но в браузере ввести <code>"facebook.com"</code> . Доменное имя легче запомнить, но для машины Другими <code>"31.13.67.35"</code> , машина предпочитает общаться с другими машинами через IP-адрес. Когда вы нажимаете на Facebook в своем браузере, ваш браузер автоматически выполняет DNS-запрос и получает IP-адрес <code>"31.13.67.35"</code> . </p>
    <p> Запрос DNS преобразует имя домена в понятный компьютеру IP-адрес, однако функция запроса DNS не ограничивается этим, но NsLookup может найти имя домена почтового сервера, адрес IPv6 имени домена и т. Д. </p>
    <p> DNS-запросы также используются в профессиональных областях. В процессе подтверждения владения доменным именем добавление DNS-записи типа TEXT может подтвердить владение вашим доменным именем (если вы покупаете доменное имя у Godaddy, вы можете установить DNS-записи на DNS-сервере Godaddy). </p>
    <header><h2>Скрыть реальные записи DNS вашего сайта с Cloudflare:</h2><div class="h2-highlight"></div></header>
    <p> Cloudflare может перенаправлять трафик на ваш сайт через CDN (глобальную сеть распространения контента), заменяя реальный IP-адрес вашего веб-сервера IP-адресом Cloudflare в результатах DNS-запроса. Вы можете указать DNS-сервер вашего домена на DNS-сервере Cloudflare. </p>
    <header><h2>Какой DNS-сервер вы должны использовать?</h2><div class="h2-highlight"></div></header>
    <p> Разрешения DNS-сервера имеют решающее значение для безопасности Интернета. Неправильные результаты DNS могут привести к неправильному веб-сайту. В мире существует <code>13</code> корневых серверов. В то же время крупные компании, такие как Google, предлагают бесплатные общедоступные службы DNS (8.8 .8.8) для ежедневного использования. </p>
    <p> По умолчанию, если вы не установите DNS-сервер по умолчанию на своем компьютере, ваш интернет-провайдер назначит вам DNS-сервер, хотя он может быть не таким надежным, как общедоступная служба DNS Google (8.8.8.8). DNS-сервер Это легко настроить, вы должны изменить DNS-сервер вашего компьютера по умолчанию на один из общедоступных DNS-серверов. </p>
    <header><h2>Дополнительные ссылки на DNS-запросы:</h2><div class="h2-highlight"></div></header>
    <p> Википедия (DNS): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Domain_Name_System" target="_blank">https://en.wikipedia.org/wiki/Domain_Name_System</a></p>
    <p> RFC 1035 (DNS): <a rel="nofollow" href="https://www.ietf.org/rfc/rfc1035.txt" target="_blank">https://www.ietf.org/rfc/rfc1035.txt</a></p>
    <p> DNS-запрос в системе Linux: <a rel="nofollow" href="https://linux.die.net/man/1/nslookup" target="_blank">https://linux.die.net/man/1/nslookup</a></p>
    <p> DNS-запрос в системе Windows: <a rel="nofollow" href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/nslookup" target="_blank">https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/nslookup</a></p>
    <header><h2>Команда DNS-запроса (nslookup) в системе Linux:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       nslookup - query Internet name servers interactively

SYNOPSIS
       nslookup [-option] [name | -] [server]</pre>
    <br>
    <pre class="prettyprint">
root@instance-2:/var/log/apache2# nslookup -type=any facebook.com 8.8.8.8
Server:		8.8.8.8
Address:	8.8.8.8#53

Non-authoritative answer:
facebook.com	nameserver = a.ns.facebook.com.
facebook.com	nameserver = b.ns.facebook.com.
facebook.com	text = "v=spf1 redirect=_spf.facebook.com"
facebook.com	mail exchanger = 10 msgin.vvv.facebook.com.
facebook.com
	origin = a.ns.facebook.com
	mail addr = dns.facebook.com
	serial = 1530053366
	refresh = 14400
	retry = 1800
	expire = 604800
	minimum = 300
Name:	facebook.com
Address: 2a03:2880:f12c:183:face:b00c:0:25de
Name:	facebook.com
Address: 157.240.14.35

Authoritative answers can be found from:
    </pre>
    <header><h2>DNS-запрос с Python (с пакетом dnspython):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
# pip install dnspython
import dns.resolver


def nslookup(domain, record_type):
    dns_resolver = dns.resolver.Resolver()
    answers = dns_resolver.query(domain, record_type)
    for answer in answers:
        print('Domain:{0} Record Type:{1} Answer:{2}'.format(domain, record_type, answer))


if __name__ == "__main__":
    # dns lookup domain
    nslookup('coding.tools', 'A')

-------------------
Domain:coding.tools Record Type:A Answer:104.27.176.94
Domain:coding.tools Record Type:A Answer:104.27.177.94
    </pre>
    <header><h2>DNS-запрос на Java (с пакетом java.net.InetAddress):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.io.IOException;
import java.net.InetAddress;

public class DNS {
    public static void nslookup(String domain) throws IOException {
        InetAddress[] remote_hosts = InetAddress.getAllByName(domain);
        for (InetAddress remote_host : remote_hosts) {
            System.out.println("Domain:" + domain + " IP Address:" + remote_host.getHostAddress());
        }
    }

    public static void main(String[] args) throws IOException {
        // dns lookup domain
        nslookup("coding.tools");
    }
}

-------------------
Domain:coding.tools IP Address:104.27.176.94
Domain:coding.tools IP Address:104.27.177.94
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}