{%extends "MyIpAddress/jp/base_layout_jp.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">ドメイン名またはIPアドレス</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="Example.com" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">ポート番号</span>
        </div>
        <input name="portsNumber" id="portsNumber" type="text" class="form-control" placeholder="53 80 443(複数のポート番号はスペースで区切ります)" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 空です</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">検出ポート</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size18codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="ポート検出結果"></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>について{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}} 常用端口列表:</p>
    <table class="descriptionTable">
        <tr>
            <th>共通ポート</th>
            <th>はじめに</th>
        </tr>
        <tr>
            <td>21</td>
            <td>FTP (File Transfer Protocol)</td>
        </tr>
        <tr>
            <td>22</td>
            <td>SSH (Secure Shell)</td>
        </tr>
        <tr>
            <td>23</td>
            <td>TELNET (Remote Login Service)</td>
        </tr>
        <tr>
            <td>25</td>
            <td>SMTP (Simple Mail Transfer Protocol)</td>
        </tr>
        <tr>
            <td>53</td>
            <td>DNS (Domain Name System)</td>
        </tr>
        <tr>
            <td>80</td>
            <td>HTTP (Hypertext Transfer Protocol)</td>
        </tr>
        <tr>
            <td>110</td>
            <td>POP3 (Post Office Protocol)</td>
        </tr>
        <tr>
            <td>115</td>
            <td>SFTP (Simple File Transfer Protocol)</td>
        </tr>
        <tr>
            <td>443</td>
            <td>TLS/SSL (Transport Layer Security)</td>
        </tr>
        <tr>
            <td>3306</td>
            <td>MySQL Database</td>
        </tr>
        <tr>
            <td>8080</td>
            <td>Apache Tomcat Web Server</td>
        </tr>
    </table>
    <br/>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-port-checker.png" alt="comic port checker">
    </div>
    <header><h2>ポート検出へのさらなるリンク:</h2><div class="h2-highlight"></div></header>
    <p>ウィキペディア(port): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Port_(computer_networking)" target="_blank">https://en.wikipedia.org/wiki/Port_(computer_networking)</a></p>
    <p>よく使われるポートのリスト: <a rel="nofollow" href="https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers" target="_blank">https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers</a></p>
    <header><h2>Pythonによるポート検出(パッケージソケット付き):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import socket


def port_checker(ip_address_or_domain, port_number):
    sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    try:
        sock.connect((str(ip_address_or_domain), int(port_number)))
        return "PORT {0} is OPEN on '{1}'.".format(port_number, ip_address_or_domain)
    except Exception as e:
        print(str(e))
        return "PORT {0} is CLOSED on '{1}'.".format(port_number, ip_address_or_domain)
    finally:
        sock.close()


print(port_checker('coding.tools', 443))

-------------------
PORT 443 is OPEN on 'coding.tools'.
    </pre>
    <header><h2>Javaでのポート検出(パッケージjava.net.Socketを使用):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import java.io.IOException;
import java.net.Socket;

public class Port {
    public static boolean check_port(String ip_or_domain, int port) {
        try (Socket server = new Socket(ip_or_domain, port)) {
            System.out.println("Port " + port + " is OPEN on " + ip_or_domain);
            return true;
        } catch (IOException ignored) {
            System.out.println("Port " + port + " is CLOSED on " + ip_or_domain);
            return false;
        }
    }

    public static void main(String[] args) {
        boolean is_open = check_port("93.184.216.34", 443);
    }
}

-------------------
Port 443 is OPEN on 93.184.216.34
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}