{%extends "MyIpAddress/jp/base_layout_jp.html"%}
{%block content%}
<div id="headline">
    <h1>私のIPアドレス: <span id="clientIP"></span></h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">IPアドレスの場所を問い合わせる</span>
        </div>
        <input name="queryIp" id="queryIp" type="text" class="form-control" placeholder="" value="" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="init_query()"><i class="far fa-trash-alt"></i> リセット</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">問い合わせ</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard_ip()"><i class="far fa-copy"></i> コピー結果</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="codewrapper size18codewrapper">
            <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="IPアドレス帰属クエリ結果"></textarea>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div name="map" id="map" class="col-xs-6" style="width: 100%;height: 300px;background-color: #f2f2f2"></div>
    </div>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>について{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-my-ip-addresss.png" alt="comic my ip address">
    </div>
    <header><h2>IPアドレスとは</h2><div class="h2-highlight"></div></header>
    <p> Amazonパケットを受信するために使用する実際のメーリングアドレスと同じように、IPアドレス(インターネットプロトコルアドレス)はインターネット上のタグの場所です.そのため、他のコンピューター(ウェブサーバー)がデータの送信先を認識しています. </p>
    <p>インターネットプロトコルバージョン4(IPv4)およびインターネットプロトコルバージョン6(IPv6)のIPv6使用：2つのIPアドレスがあります. <code>128</code>アドレスを表すビットは、使用.IPv4 IPv6が広く、最後の10年間に使用されていないが<code>32</code> (アドレスを表すためのビットをこれは、IPv4が合計<code>2^32 = 4,294,967,296</code>独立したアドレスを持つことを意味します(40億は大きな数ではありません!!!). </p>
    <p>使用しているデバイスには固有のIPv4パブリックアドレスはありませんが、プライベートIPv4アドレスを使用していますルータは専用のパブリックIPアドレスを持ち、すべてのインターネットトラフィックをリレーステーションとして外部に送信します.ネットワークアドレス変換)NATは、パブリックIPv4アドレスの消費を減らすだけでなく、セキュリティを強化することもできます. </p>
    <header><h2>IPアドレスを知る必要があるのはなぜですか？</h2><div class="h2-highlight"></div></header>
    <p>プライバシー：あなたのIPアドレスはあなたの本当の地理的情報(どの国とどの市)を明らかにするかもしれませんあなたのインターネットの位置を隠すためにVPNまたはプロキシを使用する人々.あなたのIPS(インターネットサービスプロバイダ)は政府と協力する大手国営企業ですが、一方でVPNプロバイダは顧客のプライバシーを保護することに基づいてサービスを提供しますが、彼らがあなたの閲覧履歴を集めるかどうかはわかりません.ハイエンドユーザーは、他のVPNトンネルをたどるのにVPNトンネルであるTorを使用することをお勧めします. </p>
    <header><h2>IPアドレスへの他のリンク:</h2><div class="h2-highlight"></div></header>
    <p>ウィキペディア(インターネットプロトコル): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Internet_Protocol" target="_blank">https://en.wikipedia.org/wiki/Internet_Protocol</a>
    </p>
    <p> RFC 791(インターネットプロトコル): <a rel="nofollow" href="https://tools.ietf.org/html/rfc791" target="_blank">https://tools.ietf.org/html/rfc791</a>
    </p>
    <p>位置情報クエリAPI(ip-api): <a rel="nofollow" href="http://ip-api.com/docs/" target="_blank">http://ip-api.com/docs/</a></p>
    <p>位置情報クエリAPI(Google Maps API): <a rel="nofollow" href="https://developers.google.com/maps/documentation/geolocation/intro"
                                             target="_blank">https://developers.google.com/maps/documentation/geolocation/intro</a>
    </p>
    <header><h2>PythonでIPアドレスの地理を問い合わせる:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import requests
import json

ip_json_str = requests.post('https://coding.tools/my-ip-address', data={'queryIp': '8.8.8.8'}).text
ip_json = json.loads(ip_json_str)
print(ip_json)

print('IP address:', ip_json['ip'])
print('Country:', ip_json['country_name'])
print('Region:', ip_json['region_name'])
print('City:', ip_json['city_name'])
print('Latitude:', ip_json['latitude'])
print('Longitude:', ip_json['longitude'])
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });


    query();

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        var ip = document.getElementById("queryIp").value;
        ip = ip.trim();
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                finished_spin_hidden();
                render_result(JSON.parse(data));
            });
    }

    function render_result(ip_info) {
        if (document.getElementById("clientIP").innerText===""){
            document.getElementById("clientIP").innerText = ip_info['ip'];
        }
        editor2.setValue('IP address: ' + ip_info['ip'] + '\nCountry: ' + ip_info['country_name'] + ' (' + ip_info['country_code'] + ')' + '\nRegion: ' + ip_info['region_name'] + '\nCity: ' + ip_info['city_name']
                    + '\nLatitude: ' + ip_info['latitude'] + '\nLongitude: ' + ip_info['longitude'] + '\nZip Code: ' + ip_info['zip_code'] + '\nTimezone: ' + ip_info['time_zone']);
        document.getElementById("queryIp").value = ip_info['ip'];
                document.getElementById('map').innerHTML = "<iframe width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border:1px solid #e1e1e1\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyDvTryAEw90t0gne_bqsnmJ9DYxrvcEg_Y&q="+ip_info['city_name']+","+ip_info['region_name']+","+ip_info['country_name']+"\"allowfullscreen></iframe>";
    }

    function copy_to_clipboard_ip() {
        var copy_button = document.getElementById("copy");
        document.getElementById("queryIp").focus();
        document.getElementById("queryIp").select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}