{%extends "MyIpAddress/kr/base_layout_kr.html"%}
{%block content%}
<div id="headline">
    <h1>내 IP 주소: <span id="clientIP"></span></h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">IP 주소 위치 쿼리</span>
        </div>
        <input name="queryIp" id="queryIp" type="text" class="form-control" placeholder="" value="" spellcheck="false">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="init_query()"><i class="far fa-trash-alt"></i> 재설정</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">검색어</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard_ip()"><i class="far fa-copy"></i> 결과 복사</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="codewrapper size18codewrapper">
            <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="IP 주소 속성 쿼리 결과"></textarea>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div name="map" id="map" class="col-xs-6" style="width: 100%;height: 300px;background-color: #f2f2f2"></div>
    </div>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>정보{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-my-ip-addresss.png" alt="comic my ip address">
    </div>
    <header><h2>IP 주소 란 무엇입니까?</h2><div class="h2-highlight"></div></header>
    <p> Amazon 패킷을 수신하는 데 사용하는 실제 메일 주소와 마찬가지로 IP 주소 (인터넷 프로토콜 주소)는 인터넷상의 태그 위치이므로 다른 컴퓨터 (웹 서버)는 데이터를 보낼 위치를 알고 있습니다. </p>
    <p> 인터넷 프로토콜 버전 4 (IPv4) 및 인터넷 프로토콜 버전 6 (IPv6) IPv6를 사용 : 두 개의 IP 주소가 있습니다. <code>128</code> 주소를 나타내는 비트는 사용 .IPv4 IPv6를 널리 지난 10 년 동안 사용하지 않을지라도 <code>32</code> (주소를 나타내는 비트를 0.0.0.0 ~ 255.255.255.255) 이는 IPv4에 총 <code>2^32 = 4,294,967,296</code> 독립 주소가 있음을 의미합니다 (40 억 개는 큰 숫자가 아닙니다 !!!). </p>
    <p> 사용하고있는 장치에는 고유 한 IPv4 공용 주소가 없지만 개인 IPv4 주소가 사용됩니다. 라우터에는 전용 공용 IP 주소가 있으며 모든 인터넷 트래픽을 외부 세계로 중계국으로 전송합니다.이 기술을 NAT라고합니다 네트워크 주소 변환) NAT는 공개 IPv4 주소의 소비를 줄여 줄뿐만 아니라 추가적인 보안 기능을 제공합니다. </p>
    <header><h2>IP 주소를 알아야하는 이유는 무엇입니까?</h2><div class="h2-highlight"></div></header>
    <p> 개인 정보 보호 정책 : 귀하의 IP 주소는 귀하의 실제 지리 정보 (국가 및 도시)를 공개 할 수 있습니다. 귀하의 인터넷 위치를 숨기기 위해 VPN 또는 프록시를 사용하는 사람들. IPS (인터넷 서비스 공급자)는 정부와 협력하는 대규모 국가 기업이지만 VPN 공급자는 고객의 개인 정보 보호를 기반으로 서비스를 제공하지만 인터넷 사용 기록을 수집하는지 확실하지 않습니다. 고급 사용자는 다른 터널을 따라가는 VPN 터널 인 Tor를 사용하여 실제 IP 주소를 알 수 없습니다. </p>
    <header><h2>IP 주소에 대한 추가 링크:</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (인터넷 프로토콜): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Internet_Protocol" target="_blank">https://en.wikipedia.org/wiki/Internet_Protocol</a>
    </p>
    <p> RFC 791 (인터넷 프로토콜): <a rel="nofollow" href="https://tools.ietf.org/html/rfc791" target="_blank">https://tools.ietf.org/html/rfc791</a>
    </p>
    <p> Geolocation Query API (ip-api): <a rel="nofollow" href="http://ip-api.com/docs/" target="_blank">http://ip-api.com/docs/</a></p>
    <p> Geolocation Query API (Google지도 API): <a rel="nofollow" href="https://developers.google.com/maps/documentation/geolocation/intro"
                                             target="_blank">https://developers.google.com/maps/documentation/geolocation/intro</a>
    </p>
    <header><h2>파이썬에서 IP 주소의 지리 정보 쿼리하기 (API Coding.tools 사용):</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint linenums">
import requests
import json

ip_json_str = requests.post('https://coding.tools/my-ip-address', data={'queryIp': '8.8.8.8'}).text
ip_json = json.loads(ip_json_str)
print(ip_json)

print('IP address:', ip_json['ip'])
print('Country:', ip_json['country_name'])
print('Region:', ip_json['region_name'])
print('City:', ip_json['city_name'])
print('Latitude:', ip_json['latitude'])
print('Longitude:', ip_json['longitude'])
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });


    query();

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        var ip = document.getElementById("queryIp").value;
        ip = ip.trim();
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                finished_spin_hidden();
                render_result(JSON.parse(data));
            });
    }

    function render_result(ip_info) {
        if (document.getElementById("clientIP").innerText===""){
            document.getElementById("clientIP").innerText = ip_info['ip'];
        }
        editor2.setValue('IP address: ' + ip_info['ip'] + '\nCountry: ' + ip_info['country_name'] + ' (' + ip_info['country_code'] + ')' + '\nRegion: ' + ip_info['region_name'] + '\nCity: ' + ip_info['city_name']
                    + '\nLatitude: ' + ip_info['latitude'] + '\nLongitude: ' + ip_info['longitude'] + '\nZip Code: ' + ip_info['zip_code'] + '\nTimezone: ' + ip_info['time_zone']);
        document.getElementById("queryIp").value = ip_info['ip'];
                document.getElementById('map').innerHTML = "<iframe width=\"100%\" height=\"100%\" frameborder=\"0\" style=\"border:1px solid #e1e1e1\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyDvTryAEw90t0gne_bqsnmJ9DYxrvcEg_Y&q="+ip_info['city_name']+","+ip_info['region_name']+","+ip_info['country_name']+"\"allowfullscreen></iframe>";
    }

    function copy_to_clipboard_ip() {
        var copy_button = document.getElementById("copy");
        document.getElementById("queryIp").focus();
        document.getElementById("queryIp").select();
        document.execCommand("copy");
        copy_button.innerHTML = copied_button_text;
        setTimeout(function () {
            copy_button.innerHTML = copy_button_text;
        }, 1000);
    }
</script>
{%endblock%}