{%extends "MyIpAddress/kr/base_layout_kr.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">도메인 이름 또는 IP 주소</span>
        </div>
        <input name="queryStr" id="queryStr" type="text" class="form-control" placeholder="Example.com" spellcheck="false">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">추적 방법</span>
        </div>
        <select class="form-control custom-select" name="querytype" id="querytype">
            <option value="-I" selected>ICMP ECHO 패킷 사용</option>
            <option value="-T">TCP SYN 패킷 사용</option>
            <option value="-U">UDP 패킷 사용</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">라우터 IP를 도메인 이름으로 해결할지 여부</span>
        </div>
        <select class="form-control custom-select" name="resolveDomain" id="resolveDomain">
            <option value="Do" selected>분석</option>
            <option value="Dont">해결되지 않음</option>
        </select>
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">라우터 당 추적 시간</span>
        </div>
        <select class="form-control custom-select" name="probesnumber" id="probesnumber">
            <option value="1" selected>1 시간</option>
            <option value="2">2 번</option>
            <option value="3">3 번</option>
            <option value="4">4 번</option>
            <option value="5">5 번</option>
            <option value="6">6 번</option>
        </select>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 빈</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">라우터 추적</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 결과 복사</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="라우터 추적 결과."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>정보{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-traceroute.png" alt="comic traceroute">
    </div>
    <header><h2>라우터 추적을 사용해야하는 이유는 무엇입니까?</h2><div class="h2-highlight"></div></header>
    <p> 일부 웹 사이트는 더 빠르며 다른 웹 사이트는 더 느린 것을 알아 챘습니까? 이는 일부 웹 서버가 사용자의 웹 서버에 대한 라우터가 적은 사용자에게 가까이 있기 때문에 발생합니다. 예를 들어 미국에서 중국에있는 웹 사이트를 방문하면 트래픽을 전송하는 데 10 대가 넘는 라우터가 사용됩니다. 데이터 패킷을 <code>10</code> 번 이상 복사하여 붙여 넣었습니다. </p>
    <p> 라우터 추적은 두 개의 IP 주소 사이의 라우터 수를 측정하고 각 라우터에 대기 시간을 추가하는 도구입니다. 또한 IPS (인터넷 서비스 공급자)의 수와 통과 한 수를 포함하여 트래픽의 전송 경로를 추적 할 수 있습니다. 국가 및 각 라우터에 할당 된 IP 주소. </p>
    <header><h2>전문 분야에서 라우터 추적을 사용하는 방법?</h2><div class="h2-highlight"></div></header>
    <p> 네트워크 관리에서 라우터 추적 도구를 사용하여 각 라우터에 직접 연결된 라우터와 같은 네트워크의 트리 구조를 볼 수 있습니다. 고주파수 트랜잭션에서는 속도가 모든 것입니다. 라우터 추적 도구를 사용하여 고주파수 거래 소프트웨어를 선택할 수 있습니다. 최대 속도를 얻을 수있는 위치. </p>
    <header><h2>라우터 추적에 대한 추가 링크:</h2><div class="h2-highlight"></div></header>
    <p> 위키 백과 (Traceroute): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Traceroute" target="_blank">https://en.wikipedia.org/wiki/Traceroute</a></p>
    <p> RFC 1393 (Traceroute): <a rel="nofollow" href="https://tools.ietf.org/html/rfc1393" target="_blank">https://tools.ietf.org/html/rfc1393</a></p>
    <p> Linux의 라우터 추적 (Ubuntu): <a rel="nofollow" href="https://linux.die.net/man/8/traceroute" target="_blank">https://linux.die.net/man/8/traceroute</a></p>
    <p> Windows 시스템의 라우터 추적 (tracert): <a rel="nofollow" href="https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/tracert" target="_blank">https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/tracert</a>
    </p>
    <header><h2>Linux 시스템에서 라우터 추적:</h2><div class="h2-highlight"></div></header>
    <pre class="prettyprint">NAME
       traceroute - print the route packets trace to network host

SYNOPSIS
       traceroute [-46dFITUnreAV] [-f first_ttl] [-g gate,...]
               [-i device] [-m max_ttl] [-p port] [-s src_addr]
               [-q nqueries] [-N squeries] [-t tos]
               [-l flow_label] [-w waittimes] [-z sendwait] [-UL] [-D]
               [-P proto] [--sport=port] [-M method] [-O mod_options]
               [--mtu] [--back]
               host [packet_len]
       traceroute6  [options]
       tcptraceroute  [options]
       lft  [options]</pre>
    <br>
    <pre class="prettyprint">
root@instance-1:/var/log/apache2# traceroute -I -q 3 facebook.com
traceroute to facebook.com (31.13.67.35), 30 hops max, 60 byte packets
 1  216.239.43.151 (216.239.43.151)  13.006 ms  13.016 ms  13.017 ms
 2  108.170.253.11 (108.170.253.11)  13.670 ms  13.725 ms  13.724 ms
 3  ae2.pr06.mia1.tfbnw.net (157.240.67.134)  21.087 ms  21.065 ms  21.073 ms
 4  po106.psw02.mia3.tfbnw.net (157.240.43.251)  14.775 ms  14.701 ms  14.773 ms
 5  173.252.67.93 (173.252.67.93)  14.626 ms  14.762 ms  14.762 ms
 6  edge-star-mini-shv-01-mia3.facebook.com (31.13.67.35)  14.979 ms  13.725 ms  13.780 ms
    </pre>
</div>
{%endblock%}
{%block customPageJS%}
<script>
    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
    });

    function query() {
        editor2.setValue("");
        post_ajax()
    }

    function post_ajax() {
        $('#spinner').css('visibility', 'visible');
        $.post("",
            $("#options").serialize(),
            function (data) {
    const re_script = /<script\b[^>]*>[\s\S]*?<\/script\b[^>]*>/g;
    data = data.replace(re_script, "");
                editor2.setValue(data.replace("<html><head></head><body>", "").replace("</body></html>", "").replace(new RegExp("&#34;", 'g'),"\"").replace(new RegExp("&#39;", 'g'),"\'"));
                finished_spin_hidden();
            });
    }
</script>
{%endblock%}