{%extends "JsonFormatter/pt/base_layout_pt.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size16codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="Por favor, insira ou arraste um arquivo de texto aqui."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> Vazio</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">Exemplo</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">CSS compactado</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> Copiar resultado</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="O resultado da compactação css será exibido aqui."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>Sobre{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>Como reduzir o tempo de carregamento do CSS?</h2><div class="h2-highlight"></div></header>
    <p> 1. Use a ferramenta de compactação CSS para reduzir o tamanho dos arquivos JS em 30%. </p>
    <p> 2. Combine vários arquivos CSS em um arquivo para reduzir o número de solicitações HTTP que precisam ser estabelecidas. </p>
    <p> 3. Use o CDN para evitar solicitações HTTP redundantes para o mesmo arquivo CSS (como a biblioteca comum Bootstrap). </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-css-minifier.png" alt="comic css minifier">
    </div>
    <header><h2>Mais links para CSS (Cascading Style Sheets):</h2><div class="h2-highlight"></div></header>
    <p> Wikipedia (CSS): <a rel="nofollow" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">https://en.wikipedia.org/wiki/Cascading_Style_Sheets</a></p>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/css/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/brace-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "text/css",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "text/css",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = "body {\n" +
        "    background-image: url(/image/background.png);\n" +
        "    background-repeat: repeat\n" +
        "}\n" +
        "\n" +
        ".footer {\n" +
        "    left: 0;\n" +
        "    bottom: 0;\n" +
        "    width: 100%;\n" +
        "    background-color: #2b579a;\n" +
        "    color: #fff;\n" +
        "    text-align: center\n" +
        "}\n" +
        "\n" +
        "#navbar.dropdown-menu a:hover {\n" +
        "    background-color: #fff;\n" +
        "    color: #563d7c\n" +
        "}";

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            source = editor1.getValue();
            source = "<style>" + source +"<\/style>";
            var minify = require('html-minifier').minify;
            output = minify(source, {
                collapseWhitespace: true,
                minifyJS: true,
                minifyCSS: true,
                removeComments: true,
            });
            output = output.replace("<style>","").replace("<\/style>","");
            editor2.setValue(output);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}