{%extends "JsonFormatter/kr/base_layout_kr.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size14codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="여기에 텍스트 파일을 입력하거나 드래그하십시오."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 빈</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">예제</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">HTML 압축</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 결과 복사</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size14codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="html 압축 결과가 여기에 표시됩니다."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>정보{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>HTML 압축을 사용해야하는 이유는 무엇입니까?</h2><div class="h2-highlight"></div></header>
    <p> <code>"NPM html-minifier"</code> 설문 조사에 따르면 New York Times 웹 사이트의 홈페이지는 223KB에서 152KB (31.8 %)로 줄어들 수 있으며 Twitter의 홈페이지는 143KB에서 107KB (25.1 아래)로 줄일 수 있습니다. 구글과 같이 엄청난 트래픽이있는 웹 사이트는 현재 HTML 압축을 사용하여 서버의 부담을 덜어줍니다. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-html-minifier.png" alt="comic html minifier">
    </div>
    <header><h2>HTML (Hypertext Markup Language)에 대한 추가 링크:</h2><div class="h2-highlight"></div></header>
    <p> W3 HTML 5.2 표준: <a rel="nofollow" href="https://www.w3.org/TR/html5/" target="_blank">https://www.w3.org/TR/html5/</a></p>
    <p> RFC 7992 (HTML): <a rel="nofollow" href="https://tools.ietf.org/html/rfc7992" target="_blank">https://tools.ietf.org/html/rfc7992</a></p>
    <p> 파이썬의 HTML (BeautifulSoup): <a rel="nofollow" href="https://www.crummy.com/software/BeautifulSoup/" target="_blank">https://www.crummy.com/software/BeautifulSoup/</a></p>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/css/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/xml-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "text/html",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = $('html').html();

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            source = editor1.getValue();
            var minify = require('html-minifier').minify;
            output = minify(source, {
                collapseWhitespace: true,
                minifyJS: true,
                minifyCSS: true,
                removeComments: true,
            });
            editor2.setValue(output);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}