{%extends "JsonFormatter/kr/base_layout_kr.html"%}
{%block content%}
<div id="headline">
    <h1>{{model.bodyTitle}}</h1>
    {%include "Common/Ad_PlaceHolder/seg_ad_above_input.html" %}
</div>
<form id="options">
    <div class="codewrapper size16codewrapper">
        <textarea autofocus id="code1" name="code1" style="width: 100%;height: 300px" placeholder="여기에 텍스트 파일을 입력하거나 드래그하십시오."></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-secondary" onclick="clear_txt()"><i class="far fa-trash-alt"></i> 빈</button>
    <button type="button" class="btn btn-secondary" onclick="load_example()">예제</button>
    <button type="button" id="submit_button" class="btn btn-primary" onclick="query()">Javascript 압축</button>
    <button type="button" id="copy" class="btn btn-secondary" onclick="copy_to_clipboard()"><i class="far fa-copy"></i> 결과 복사</button>
    <i id="spinner" class="fa fa-sync fa-spin"></i>
</form>
<div class="codewrapper size16codewrapper resizableWrapper maxLengthWrapper">
    <textarea id="code2" name="code" style="width: 100%;height: 300px" placeholder="자바 스크립트 압축 결과가 여기에 표시됩니다."></textarea>
</div>
<br/>
{%include "Common/Ad_PlaceHolder/seg_ad_above_description.html" %}
<div id="description">
    <header><h2>정보{{model.bodyTitle}}:</h2><div class="h2-highlight"></div></header>
    <p>{{model.description}}</p>
    {%include "Common/Ad_PlaceHolder/seg_ad_after_description.html" %}
    <header><h2>Javascript 로딩 시간을 줄이는 방법은 무엇입니까?</h2><div class="h2-highlight"></div></header>
    <p> 1. Javascript 압축 도구를 사용하여 JS 파일의 크기를 30 % 줄입니다. </p>
    <p> 2. 여러 개의 Javascript 파일을 하나의 파일로 결합하여 설정해야하는 HTTP 요청 수를 줄입니다. </p>
    <p> 3. CDN을 사용하여 동일한 Javascript 파일 (예 : 널리 사용되는 JS 라이브러리 jQuery)에 대한 중복 HTTP 요청을 피하십시오. </p>
    <div class="cartoon">
        {%include "Common/Ad_PlaceHolder/seg_ad_left_cartoon.html" %}
        <img class="cartoon_image" src="/image/comic-javascript-minifier.png" alt="comic javascript minifier">
    </div>
    <header><h2>Javascript에 대한 추가 링크:</h2><div class="h2-highlight"></div></header>
    <p> 위키피디아 (자바 스크립트): <a rel="nofollow" href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">https://en.wikipedia.org/wiki/JavaScript</a></p>
    <p> 모질라 (자바 스크립트): <a rel="nofollow" href="https://developer.mozilla.org/bm/docs/Web/JavaScript" target="_blank">https://developer.mozilla.org/bm/docs/Web/JavaScript</a></p>
</div>
{%endblock%}
{%block customPageJS%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldcode.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/foldgutter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{model.cdnjs_version_codemirror}}/addon/fold/brace-fold.min.js"></script>
<script>
    var editor1 = CodeMirror.fromTextArea(document.getElementById("code1"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    });
    var example_str = "function copy_to_clipboard() {\n" +
        "    var copy_button = document.getElementById(\"copy\");\n" +
        "    editor2.focus();\n" +
        "    editor2.execCommand(\"selectAll\");\n" +
        "    document.execCommand(\"copy\");\n" +
        "    copy_button.innerText = \"Result Copied\";\n" +
        "    setTimeout(function() {\n" +
        "        copy_button.innerText = \"Copy Result\";\n" +
        "    }, 1000);\n" +
        "}";

    function query() {
        $('#spinner').css('visibility', 'visible');
        editor2.setValue("");
        try {
            source = editor1.getValue();
            source = "<script>" + source +"<\/script>";
            var minify = require('html-minifier').minify;
            output = minify(source, {
                collapseWhitespace: true,
                minifyJS: true,
                minifyCSS: true,
                removeComments: true,
            });
            output = output.replace("<script>","").replace("<\/script>","");
            editor2.setValue(output);
        }catch(err) {
            code2_error_alert();
            editor2.setValue(err.message);
        }
        finished_spin_hidden();
    }
</script>
{%endblock%}