---
category: "number-conversion"
activeTool: "ascii-table"
permalink: "/ascii-table.html"
---

{% extends "tool-layout.njk" %}

{% block tool_content %}
  <!-- No interactive tool for this page -->
{% endblock %}

{% block description %}
  {% include "tool-description.njk" %}
{% endblock %}

{% block tool_script %}
  <script>
    ToolCommon.initExampleCopy();
  </script>
{% endblock %}
